Repository BjornMelin/ai-docs-vector-db-hybrid-scraper: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, mypy-check, update-docs, validate-config

pytest-check:
  name: Run pytest
  entry: uv run pytest tests/unit --tb=short --maxfail=5 -x --disable-warnings
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - commit

mypy-check:
  name: Run mypy type checking
  entry: bash -c 'if command -v mypy &> /dev/null; then uv run mypy src/; else echo "mypy not installed, skipping"; fi'
  language: system
  pass_filenames: false
  stages:
  - commit

update-docs:
  name: Update documentation
  entry: python scripts/docs_automation.py --skip-validation --build-only
  language: system
  pass_filenames: false
  stages:
  - commit

validate-config:
  name: Validate configuration
  entry: python scripts/validate_config.py
  language: system
  pass_filenames: false
  stages:
  - commit

refactor(tests): enhance tool registry tests with dependency injection and error handling
  tests/unit/mcp_tools/test_tool_registry.py
Due: pytest-check

refactor(tests): simplify RAG tool tests by removing unused mocks and stubs
  tests/unit/mcp_tools/tools/test_rag.py
Due: pytest-check

refactor(tests): improve integration tests for RAG compression evaluation by enhancing mock setups and refining dataset content
  tests/integration/rag/test_rag_compression_eval_integration.py
Due: pytest-check

docs: clarify kustomize apply requirements
  k8s/README.md
Due: none

refactor(tests): simplify monkeypatching for health checker tests
  tests/unit/services/fastapi/test_dependencies_core.py
Due: pytest-check

fix(imports): add missing SearchRecord import in langgraph_runner.py
  src/services/agents/langgraph_runner.py
Due: pytest-check, mypy-check

refactor(infrastructure): replace container management with bootstrap helpers
  examples/rag_integration_demo.py
  src/api/app_factory.py
  src/api/lifespan.py
  src/crawl4ai_bulk_embedder.py
  src/infrastructure/bootstrap.py
  src/manage_vector_db.py
  src/services/fastapi/dependencies.py
  src/services/observability/init.py
  src/unified_mcp_server.py
  tests/integration/mcp/test_server_lifespan.py
  tests/unit/infrastructure/test_bootstrap.py
  tests/unit/services/agents/test_retrieval_helper.py
Due: pytest-check, mypy-check

refactor(core): unify dependency lifecycle under dependency-injector container and remove legacy ClientManager pattern
  CHANGELOG.md
  README.md
Due: update-docs

refactor(eval): streamline vector service loading and import structure
  scripts/eval/rag_compression_eval.py
Due: none

refactor(api): consolidate simple mode routers into versioned structure
  src/api/routers/__init__.py
  src/api/routers/simple/__init__.py
  src/api/routers/simple/documents.py
  src/api/routers/simple/search.py
  src/api/routers/v1/__init__.py
  src/api/routers/v1/documents.py
  src/api/routers/v1/search.py
  src/contracts/documents.py
Due: pytest-check, mypy-check

refactor(api): unify endpoint structure by removing duplicate simple module and consolidating to v1
  CHANGELOG.md
  README.md
  docs/api/src.api.routers.rst
  docs/api/src.api.routers.simple.rst
  docs/api/src.api.routers.v1.rst
Due: update-docs

refactor(agentic_rag): normalize search results using SearchRecord model
  src/mcp_tools/tools/agentic_rag.py
Due: pytest-check, mypy-check

refactor(api): consolidate application routes and remove profile-specific route functions
  src/api/app_factory.py
  tests/unit/api/test_app_factory_profiles.py
  tests/unit/api/test_v1_routes.py
  tests/unit/conftest.py
  tests/unit/mcp_tools/tools/test_documents_ingest.py
  tests/unit/services/agents/test_langgraph_runner.py
  tests/unit/services/embeddings/test_manager_benchmarks.py
Due: pytest-check, mypy-check

refactor(embedding_manager): remove unnecessary blank lines in methods
  src/services/embeddings/manager/__init__.py
Due: pytest-check, mypy-check

refactor(tests): update provider access in EmbeddingManager tests to use _provider_registry
  tests/unit/services/embeddings/test_manager.py
  tests/unit/services/embeddings/test_manager_benchmarks.py
Due: pytest-check

refactor(tests): remove unused mock_client_manager fixture from conftest.py
  tests/unit/mcp_services/conftest.py
Due: pytest-check

refactor(eval): lazy load search components and improve type handling
  scripts/eval/rag_golden_eval.py
Due: none

refactor(api): implement execute_service_call utility for error handling in service calls refactor(tests): enhance _StubVectorService to simulate service failures for testing
  src/api/routers/v1/documents.py
  src/api/routers/v1/search.py
  src/api/routers/v1/service_helpers.py
  tests/mocks/mock_tools.py
  tests/unit/api/test_v1_routes.py
Due: pytest-check, mypy-check

refactor: and clean up service tests and documentation
  docs/plans/legacy-helper-removal.md
  src/unified_mcp_server.py
  tests/unit/infrastructure/test_bootstrap.py
  tests/unit/mcp_services/test_analytics_service.py
  tests/unit/mcp_services/test_system_service.py
  tests/unit/mcp_tools/tools/test_analytics.py
  tests/unit/mcp_tools/tools/test_system_health.py
Due: pytest-check, mypy-check, update-docs

refactor(container): streamline ApplicationContainer initialization and remove ClientManager layer
  docs/developers/architecture-and-orchestration.md
Due: update-docs

refactor(tests): replace mock_client_manager with mock_cache_manager and streamline test setup
  tests/unit/mcp_tools/tools/test_cache.py
Due: pytest-check

fix: clear container cache after initialization
  src/infrastructure/container.py
Due: pytest-check, mypy-check

docs: update API documentation and platform operations guide for clarity and consistency
  docs/developers/api-and-contracts.md
  docs/developers/platform-operations.md
  docs/developers/setup-and-configuration.md
  src/infrastructure/container.py
  src/services/dependencies.py
  tests/unit/services/dependencies/test_singletons.py
Due: pytest-check, mypy-check, update-docs

feat(deps): Implement code changes to enhance functionality and improve performance
  pyproject.toml
  uv.lock
Due: validate-config

feat(makefile): add verify-types target for type checking specific file
  Makefile
Due: none

feat(typings): add type hints for crawl4ai package and related modules
  typings/README.md
  typings/crawl4ai/__init__.pyi
  typings/crawl4ai/models.pyi
  typings/src/services/crawling/__init__.pyi
  typings/src/services/crawling/c4a_presets.pyi
Due: none

refactor(tests): unit tests for decorators and service errors
  src/cli/commands/batch.py
  tests/unit/api/test_app_factory_profiles.py
  tests/unit/config/test_config_models_complete.py
  tests/unit/infrastructure/test_pydantic_settings_patterns.py
  tests/unit/mcp_services/test_unified_mcp_server.py
  tests/unit/mcp_tools/tools/test_agentic_rag.py
  tests/unit/mcp_tools/tools/test_collection_management.py
  tests/unit/mcp_tools/tools/test_configuration.py
  tests/unit/mcp_tools/tools/test_documents_ingest.py
  tests/unit/mcp_tools/tools/test_lightweight_scrape.py
  tests/unit/models/test_api_contracts.py
  tests/unit/services/test_decorators.py
  tests/unit/services/test_service_errors.py
Due: pytest-check, mypy-check

refactor: inline config defaults into settings
  CHANGELOG.md
  docs/api/src.core.rst
  docs/api/src.rst
  pyproject.toml
  src/config/models.py
  src/core/__init__.py
  src/core/constants.py
  tests/unit/config/test_settings_defaults.py
  tests/unit/core/test_constants.py
Due: pytest-check, mypy-check, update-docs, validate-config

fix: expose circuit breaker config on settings
  src/config/loader.py
Due: pytest-check, mypy-check, validate-config

refactor(tests): streamline mock client manager and enhance test coverage
  tests/unit/mcp_tools/tools/test_embeddings.py
  tests/unit/mcp_tools/tools/test_payload_indexing.py
  tests/unit/mcp_tools/tools/test_projects.py
  tests/unit/mcp_tools/tools/test_web_search.py
  tests/unit/models/test_api_contracts.py
  tests/unit/services/test_lifecycle_contract.py
  tests/unit/stub_factories.py
Due: pytest-check

fix: address settings defaults review feedback
  src/config/loader.py
  src/config/models.py
  tests/unit/config/test_settings_defaults.py
Due: pytest-check, mypy-check, validate-config

chore: update src/config/models.py
  src/config/models.py
Due: pytest-check, mypy-check, validate-config

refactor: unify application configuration
  AGENTS.md
  CHANGELOG.md
  README.md
  docker-compose.yml
  docs/developers/platform-operations.md
  docs/developers/setup-and-configuration.md
  src/api/app_factory.py
  src/api/app_profiles.py
  src/api/dependencies.py
  src/api/main.py
  src/api/routers/config.py
  src/architecture/__init__.py
  src/architecture/features.py
  src/architecture/modes.py
  src/cli/unified.py
  src/config/__init__.py
  src/config/loader.py
  tests/unit/api/test_app_factory.py
  tests/unit/api/test_app_factory_profiles.py
  tests/unit/architecture/test_app_factory_mode_init.py
  tests/unit/config/test_config_router.py
  tests/unit/infrastructure/test_pydantic_settings_patterns.py
Due: pytest-check, mypy-check, update-docs, validate-config

refactor(observability): replace custom monitors with otel
  CHANGELOG.md
  README.md
  src/api/app_factory.py
  src/cli/main.py
  src/infrastructure/database/__init__.py
  src/infrastructure/database/connection_manager.py
  src/infrastructure/database/monitoring.py
  src/mcp_services/system_service.py
  src/mcp_tools/tool_registry.py
  src/mcp_tools/tools/system_health.py
  src/services/dependencies.py
  src/services/deployment/blue_green.py
  src/services/fastapi/dependencies.py
  src/services/observability/__init__.py
  src/services/observability/health_manager.py
  src/services/observability/performance.py
  src/unified_mcp_server.py
  tests/unit/infrastructure/database/test_connection_manager.py
  tests/unit/infrastructure/database/test_monitoring.py
  tests/unit/mcp_tools/tools/test_system_health.py
  tests/unit/services/deployment/test_blue_green.py
  tests/unit/services/observability/test_health_manager.py
Due: pytest-check, mypy-check, update-docs

fix: clarify cache TTL validation defaults
  src/config/loader.py
  src/config/models.py
  tests/unit/config/test_settings_defaults.py
Due: pytest-check, mypy-check, validate-config

fix(tests): update test settings with firecrawl API key for consistency
  tests/unit/models/test_vector_search.py
  tests/unit/services/browser/test_automation_router.py
  tests/unit/services/browser/test_monitoring.py
  tests/unit/services/browser/test_unified_manager.py
  tests/unit/services/browser/test_unified_manager_caching.py
  tests/unit/services/core/test_project_storage.py
Due: pytest-check

fix: secure app factory configuration and tests
  docs/users/configuration-management.md
  src/api/app_factory.py
  src/api/routers/config.py
  src/config/security/config.py
  tests/unit/api/test_app_factory.py
  tests/unit/config/test_config_router.py
Due: pytest-check, mypy-check, update-docs, validate-config

chore: update src/api/app_factory.py
  src/api/app_factory.py
Due: pytest-check, mypy-check

test: update tests/unit/config/test_config_router.py
  tests/unit/config/test_config_router.py
Due: pytest-check

fix: disable CORS credentials when allowing wildcard origins
  src/api/app_factory.py
  tests/unit/api/test_app_factory.py
Due: pytest-check, mypy-check

Path conditions:
  pytest-check: any of: ^(src/|tests/)
  mypy-check: any of: ^src/.*\.py$
  update-docs: any of: ^(docs/|README\.md|mkdocs\.yml)
  validate-config: any of: ^(\.env.*|pyproject\.toml|src/config/)
