Repository BjornMelin/ai-docs-vector-db-hybrid-scraper: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, mypy-check, update-docs, validate-config

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# Run `uv tool install pre-commit && pre-commit install` to set up

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        exclude: '^(.*\.md|.*\.txt)$'
      - id: end-of-file-fixer
        exclude: '^(.*\.md|.*\.txt)$'
      - id: check-yaml
        args: ['--unsafe']
      - id: check-toml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: debug-statements
      - id: check-docstring-first
      - id: check-case-conflict

  # Python code formatting and linting with Ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Linter
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        types_or: [python, pyi, jupyter]
      # Formatter
      - id: ruff-format
        types_or: [python, pyi, jupyter]

  # Security checks
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.10
    hooks:
      - id: bandit
        args: ['-r', 'src/', '-f', 'json']
        exclude: '^tests/'

  # Secret detection
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.21.2
    hooks:
      - id: gitleaks

  # Dependency checks
  - repo: https://github.com/lucas-c/pre-commit-hooks-safety
    rev: v1.3.2
    hooks:
      - id: python-safety-dependencies-check
        files: pyproject.toml

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.42.0
    hooks:
      - id: markdownlint
        args: [--fix]
        exclude: '^(htmlcov|cache|logs)/'

  # YAML formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json]
        exclude: '^(.*\.lock|uv\.lock)$'

  # Local hooks for project-specific checks
  - repo: local
    hooks:
      - id: pytest-check
        name: Run pytest
        entry: uv run pytest tests/unit --tb=short --maxfail=5 -x --disable-warnings
        language: system
        pass_filenames: false
        always_run: false
        files: '^(src/|tests/)'
        stages: [commit]

      - id: mypy-check
        name: Run mypy type checking
        entry: bash -c 'if command -v mypy &> /dev/null; then uv run mypy src/; else echo "mypy not installed, skipping"; fi'
        language: system
        pass_filenames: false
        files: '^src/.*\.py$'
        stages: [commit]

      - id: check-file-naming
        name: Check file naming conventions
        entry: bash -c 'find src tests -name "*.py" | grep -E "[A-Z]" && echo "❌ Python files should use snake_case" && exit 1 || echo "✅ File naming looks good"'
        language: system
        pass_filenames: false
        stages: [commit]

      - id: update-docs
        name: Update documentation
        entry: python scripts/docs_automation.py --skip-validation --build-only
        language: system
        files: '^(docs/|README\.md|mkdocs\.yml)'
        pass_filenames: false
        stages: [commit]

      - id: validate-config
        name: Validate configuration
        entry: python scripts/validate_config.py
        language: system
        files: '^(\.env.*|pyproject\.toml|src/config/)'
        pass_filenames: false
        stages: [commit]

# Configuration for pre-commit
default_stages: [commit]
fail_fast: false
minimum_pre_commit_version: "3.0.0"

# Skip hooks for certain commits
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ''
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: weekly
  skip: []
  submodules: false

style: restore benchmark lint fixes
  tests/benchmarks/performance_suite.py
  tests/benchmarks/test_config_performance.py
  tests/benchmarks/test_config_reload_performance.py
  tests/benchmarks/test_database_performance.py
  tests/ci/pytest_xdist_config.py
  tests/ci/test_isolation.py
  tests/unit/services/crawling/test_lightweight_scraper.py
  tests/unit/services/observability/test_observability_integration.py
  tests/unit/services/observability/test_observability_performance.py
Due: pytest-check

style: resolve duplicated fixtures for ruff F811
  tests/security/input_validation/test_xss_prevention.py
  tests/unit/services/query_processing/test_orchestrator.py
Due: pytest-check

style: silence unused destructured variables
  tests/integration/test_mcp_edge_cases.py
  tests/unit/services/observability/test_observability_ai_tracking.py
  tests/unit/services/observability/test_observability_correlation.py
  tests/unit/services/observability/test_observability_instrumentation.py
Due: pytest-check

chore(tests): resolve lint findings and async runner usage
  tests/benchmarks/performance_suite.py
  tests/benchmarks/test_config_reload_performance.py
  tests/benchmarks/test_database_performance.py
  tests/ci/test_isolation.py
  tests/ci/test_parallel_execution.py
  tests/conftest.py
  tests/examples/test_modern_async_patterns.py
  tests/fixtures/async_fixtures.py
  tests/fixtures/async_isolation.py
  tests/fixtures/external_services.py
  tests/fixtures/mock_factories.py
  tests/fixtures/parallel_config.py
  tests/fixtures/test_data.py
  tests/integration/test_mcp_performance_benchmarks.py
  tests/integration/test_mcp_protocol_e2e.py
  tests/security/test_redis_rate_limiting.py
  tests/security/vulnerability/test_dependency_scanning.py
  tests/test_infrastructure.py
  tests/unit/mcp_tools/test_tool_registry.py
  tests/unit/mcp_tools/tools/test_search_utils.py
  tests/unit/services/observability/test_observability_config.py
  tests/utils/performance_fixtures.py
Due: pytest-check

chore(deps): update uv.lock
  uv.lock
Due: none

docs(cleanup): remove redundant documentation
  .serena/memories/README.md
  .serena/memories/code_style_conventions.md
  .serena/memories/documentation-organization.md
  .serena/memories/project_overview.md
  .serena/memories/research-patterns.md
  .serena/memories/suggested_commands.md
  .serena/memories/task_completion_checklist.md
  .serena/project.yml
  planning/archive/I3_MCP_ENHANCEMENT_SUBAGENT_EXECUTION_PLAN.md
  planning/archive/MCP_ENHANCEMENT_IMPLEMENTATION_PLAN.md
  planning/archive/MCP_SERVER_ENHANCEMENT_RESEARCH_REPORT.md
  planning/archive/detailed-reports/MODERN_TESTING_STRATEGY_2025.md
  planning/archive/detailed-reports/PERFORMANCE_OPTIMIZATION_ROADMAP.md
  planning/archive/detailed-reports/TESTING_IMPLEMENTATION_COMPLETE.md
  planning/archive/detailed-reports/advanced-research-analysis.md
  planning/archive/detailed-reports/comprehensive-analysis-report.md
  planning/archive/detailed-reports/portfolio-ultrathink-synthesis.md
  planning/archive/detailed-reports/progress-tracker.md
  planning/archive/legacy-phases/in-progress/P1/maintenance-portfolio.md
  planning/archive/legacy-phases/master_report.md
  planning/done/P0/G1_pydantic_ai_native_composition.md
  planning/done/P0/G2_lightweight_alternatives.md
  planning/done/P0/G3_code_reduction_analysis.md
  planning/done/P0/G4_integration_simplification.md
  planning/done/P0/G5_enterprise_readiness.md
  planning/done/P1/H1_fastmcp_modernization_analysis.md
  planning/done/P1/H2_mcp_protocol_optimization_analysis.md
  planning/done/P1/H3_middleware_architecture_optimization.md
  planning/done/P1/H4_integration_patterns_optimization.md
  planning/done/P1/H5_code_modernization_opportunities.md
  planning/implementation-logs/migration-completion-report.md
  planning/implementation-logs/test-infrastructure-consolidation-report.md
Due: none

chore: remove CLAUDE.md from tracking
  CLAUDE.md
Due: none

chore(git): ignore CLAUDE.md
  .gitignore
Due: none

fix(cli): resolve dev script path for unified commands
  scripts/dev.py
  src/cli/unified.py
  tests/unit/services/query_processing/test_federated_integration.py
Due: pytest-check, mypy-check

ci: align workflow python env and remove optimize flag
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/zero-maintenance-automation.yml
  scripts/dev.py
Due: none

ci: route benchmarks and docs validation through dev cli
  .github/workflows/docs.yml
  .github/workflows/extended-validation.yml
  .github/workflows/zero-maintenance-automation.yml
  TODO.md
  docs/benchmark-fixes-summary.md
  docs/developers/benchmarking-and-performance.md
  docs/research/README.md
  scripts/dev.py
  tests/benchmarks/README.md
Due: pytest-check, update-docs

ci: publish sarif security scan results
  .github/workflows/ci.yml
Due: none

docs(changelog): capture workflow consolidation updates
  CHANGELOG.md
Due: none

fix(ci): harden subprocess helpers against shell usage
  scripts/dev.py
  src/cli/unified.py
Due: pytest-check, mypy-check

ci: streamline core workflow
  .github/workflows/ci.yml
  .github/workflows/core-ci.yml
Due: none

ci: simplify docs workflow
  .github/workflows/docs.yml
Due: none

ci: add on-demand security and regression
  .github/workflows/extended-validation.yml
  .github/workflows/regression-opt-in.yml
  .github/workflows/security-opt-in.yml
  .github/workflows/security.yml
Due: none

chore: prune redundant workflows
  .github/workflows/fast-feedback.yml
  .github/workflows/stale.yml
  .github/workflows/status-dashboard.yml
  CHANGELOG.md
Due: none

docs: document on-demand workflows
  CONTRIBUTING.md
Due: none

docs: update changelog
  CHANGELOG.md
Due: none

chore(pytest): streamline marker registry and docs for lean test config
  pyproject.toml
  tests/TESTING_INFRASTRUCTURE_SUMMARY.md
  tests/TEST_PATTERNS_STYLE_GUIDE.md
  tests/ci/test_isolation.py
  tests/conftest.py
  tests/conftest_cli.py
  tests/integration/README.md
  tests/load/scalability/test_scalability_load.py
  tests/security/README.md
  tests/security/compliance/test_owasp_top10.py
  tests/security/encryption/test_data_protection.py
  tests/security/penetration/test_api_security.py
  tests/security/test_api_security.py
  tests/test_infrastructure.py
  tests/unit/services/functional/test_browser_automation_monitoring.py
  tests/unit/services/functional/test_database_connection_pooling.py
  tests/utils/ai_testing_utilities.py
  tests/utils/performance_fixtures.py
Due: pytest-check, validate-config

chore: add .archived to .gitignore
  .gitignore
Due: none

chore: remove obsolete configuration and documentation files
  .taskmaster/config.json
  .taskmaster/docs/browser-use-v032-implementation-prd.txt
  .taskmaster/docs/prd.txt
  .taskmaster/tasks/original_tasks_backup.json
  .taskmaster/tasks/task_001.txt
  .taskmaster/tasks/task_002.txt
  .taskmaster/tasks/task_003.txt
  .taskmaster/tasks/task_004.txt
  .taskmaster/tasks/task_005.txt
  .taskmaster/tasks/task_006.txt
  .taskmaster/tasks/task_007.txt
  .taskmaster/tasks/task_008.txt
  .taskmaster/tasks/task_009.txt
  .taskmaster/tasks/task_010.txt
  .taskmaster/tasks/task_011.txt
  .taskmaster/tasks/task_012.txt
  .taskmaster/tasks/task_013.txt
  .taskmaster/tasks/task_014.txt
  .taskmaster/tasks/task_017.txt
  .taskmaster/tasks/task_018.txt
  .taskmaster/tasks/task_019.txt
  .taskmaster/tasks/task_020.txt
  .taskmaster/tasks/task_021.txt
  .taskmaster/tasks/task_022.txt
  .taskmaster/tasks/task_023.txt
  .taskmaster/tasks/task_024.txt
  .taskmaster/tasks/task_025.txt
  .taskmaster/tasks/task_026.txt
  .taskmaster/tasks/task_029.txt
  .taskmaster/tasks/task_032.txt
  .taskmaster/tasks/tasks.json
  docs/operators/remaining_tasks/README.md
  docs/operators/remaining_tasks/backlog.md
  docs/operators/remaining_tasks/decision_log.md
  docs/operators/remaining_tasks/migration_notes.md
  docs/operators/remaining_tasks/risk_register.md
  tests/MODERNIZATION_SUMMARY.md
  tests/SUBAGENT_TASKS.md
  tests/TESTING_INFRASTRUCTURE_SUMMARY.md
  tests/TEST_ISSUES_REPORT.md
Due: pytest-check, update-docs

fix(observability): harden telemetry integration
  src/config/settings.py
  src/services/observability/ai_tracking.py
  src/services/observability/config.py
  src/services/observability/correlation.py
  src/services/observability/dependencies.py
  src/services/observability/init.py
  src/services/observability/instrumentation.py
  src/services/observability/metrics_bridge.py
  src/services/observability/middleware.py
  src/services/observability/mock_telemetry.py
  src/services/observability/telemetry_helpers.py
  src/services/observability/tracking.py
  tests/integration/test_observability_integration.py
  tests/unit/services/observability/test_config.py
  tests/unit/services/observability/test_dependencies.py
  tests/unit/services/observability/test_init.py
  tests/unit/services/observability/test_middleware.py
  tests/unit/services/observability/test_observability_correlation.py
  tests/unit/services/observability/test_observability_error_tracking.py
  tests/unit/services/observability/test_observability_init.py
  tests/unit/services/observability/test_observability_metrics_bridge.py
  tests/unit/services/observability/test_observability_performance.py
Due: pytest-check, mypy-check, validate-config

docs: add ADR template for decision-making documentation
  docs/developers/adrs/adr-template.md
Due: update-docs

fix(observability): harden instrumentation and telemetry flow
  src/config/settings.py
  src/services/errors.py
  src/services/observability/config.py
  src/services/observability/dependencies.py
  src/services/observability/init.py
  src/services/observability/metrics_bridge.py
  src/services/observability/middleware.py
  src/services/observability/mock_telemetry.py
  src/services/observability/performance.py
  src/services/observability/telemetry_helpers.py
  src/services/observability/tracking.py
  tests/unit/services/observability/test_middleware.py
  tests/unit/services/test_service_errors.py
Due: pytest-check, mypy-check, validate-config

docs: extreme consolidation of developer documentation
  docs/developers/adrs/adr-template.md
  docs/developers/ai-ml-testing-guide.md
  docs/developers/api-reference.md
  docs/developers/architecture-diagrams.md
  docs/developers/architecture.md
  docs/developers/benchmarking-and-performance.md
  docs/developers/browser-automation-ci.md
  docs/developers/ci/MIGRATION_GUIDE.md
  docs/developers/ci/OPTIMIZATION_MIGRATION_GUIDE.md
  docs/developers/config-consolidation-validation-report.md
  docs/developers/configuration-best-practices.md
  docs/developers/configuration.md
  docs/developers/contributing.md
  docs/developers/database-connection-pool-technical-reference.md
  docs/developers/deployment-strategies.md
  docs/developers/deployment.md
  docs/developers/developer-experience.md
  docs/developers/getting-started.md
  docs/developers/integration-guide.md
  docs/developers/ml-model-documentation.md
  docs/developers/ml-security-recommendation.md
  docs/developers/performance-benchmarking-methodology.md
  docs/developers/performance-testing-guide.md
  docs/developers/performance-validation-report.md
  docs/developers/query-api-optimization.md
  docs/developers/query-processing.md
  docs/developers/research-collaboration.md
  docs/developers/reviews/performance-review.md
  docs/developers/reviews/security-review.md
  docs/developers/service-layer-modernization.md
  docs/developers/summaries/docker-build-solution.md
  docs/developers/summaries/documentation-pipeline-fixes.md
  docs/developers/summaries/implementation-summary.md
  docs/developers/summaries/orchestrator-tests-summary.md
  docs/developers/test-execution-guide.md
  docs/developers/test-performance-optimization.md
  docs/developers/testing-best-practices.md
  docs/developers/testing.md
  docs/developers/thread-safety-fixes.md
Due: update-docs

chore: remove package.json, package-lock.json, and several documentation files
  docs/portfolio/career-positioning.md
  docs/portfolio/performance-analysis.md
  docs/portfolio/presentation-guide.md
  docs/portfolio/technical-deep-dive.md
  package-lock.json
  package.json
Due: update-docs

docs: enhance configuration, deployment, and testing documentation
  docs/developers/configuration.md
  docs/developers/deployment.md
  docs/developers/index.md
  docs/developers/testing.md
Due: update-docs

docs: simplify and enhance interactive API explorer
  docs/portfolio/interactive-api-explorer.py
Due: update-docs

chore: archive legacy documentation files
  docs/archive/legacy/developers/summaries/documentation-audit-validation-report.md
  docs/archive/legacy/todo-v1-development-notes.md
  docs/archive/legacy/todo-v2-roadmap-notes.md
  docs/archive/portfolio/benchmark-fixes-summary.md
  docs/archive/portfolio/dual-mode-architecture.md
Due: update-docs

docs: extreme consolidation of operators documentation
  docs/operators/config-simplification.md
  docs/operators/configuration-error-handling.md
  docs/operators/configuration-migration-guide.md
  docs/operators/configuration-reloading.md
  docs/operators/configuration.md
  docs/operators/cross-platform-compatibility.md
  docs/operators/database-connection-pool-performance.md
  docs/operators/deployment.md
  docs/operators/index.md
  docs/operators/monitoring.md
  docs/operators/operations.md
  docs/operators/security-architecture.md
  docs/operators/security.md
  docs/operators/windows-compatibility.md
Due: update-docs

docs: update operator documentation and remove outdated research files
  docs/operators/index.md
  docs/research/README.md
  docs/research/browser-use/archive/v1-original/browser-use-0-2-6-analysis.md
  docs/research/browser-use/archive/v1-original/browser-use-enhancement-prd.md
  docs/research/browser-use/archive/v1-original/comprehensive-todo.md
  docs/research/browser-use/archive/v1-original/github-issues.md
  docs/research/browser-use/archive/v2-enterprise/browser-use-v2-enterprise-comprehensive-prd.md
  docs/research/browser-use/archive/v2-enterprise/browser-use-v2-enterprise-detailed-todo.md
  docs/research/browser-use/archive/v2-enterprise/browser-use-v2-enterprise-github-issues.md
  docs/research/browser-use/consolidated-research-reports.md
  docs/research/transformation/README.md
Due: update-docs

docs: add browser-use implementation guide and technical reference for v0.3.2
  docs/research/browser-use/README.md
  docs/research/browser-use/browser-use-implementation-guide.md
  docs/research/browser-use/browser-use-technical-reference.md
  docs/research/browser-use/browser-use-v3-solo-dev-master-guide.md
  docs/research/browser-use/browser-use-v3-solo-dev-quick-start-plan.md
  docs/security/compliance-privacy-strategy.md
  docs/security/cost-effective-security-tools.md
  docs/security/enhanced-security-config-implementation.md
  docs/security/essential-security-checklist.md
  docs/security/index.md
  docs/security/redis-rate-limiting-implementation.md
  docs/security/security-architecture-assessment.md
  docs/security/security-checklist.md
  docs/security/security-config-implementation.md
  docs/security/security-essentials.md
  docs/security/security-testing-framework.md
  docs/security/security-testing-playbook.md
  docs/security/security-validation-report.md
  docs/testing/README.md
  docs/testing/index.md
  docs/testing/modern-test-practices-guide.md
  docs/testing/performance-improvements.md
  docs/testing/pytest-xdist-optimization.md
  docs/testing/quality-metrics-benchmarks.md
  docs/testing/test-infrastructure-documentation.md
  docs/testing/test-migration-guide.md
  docs/testing/test-modernization-completion-report.md
  docs/testing/testing-guide.md
  docs/users/cli-interface.md
  docs/users/content-intelligence.md
  docs/users/system-overview.md
Due: update-docs

docs: extreme consolidation of security, testing, and users documentation
  docs/security/security-architecture-assessment.md
Due: update-docs

docs: eliminate portfolio and contributing directories
  docs/api/interactive-api-explorer.py
  docs/developers/document-metadata.md
  docs/portfolio/api-documentation.md
  docs/reports/doc-modernization/phase0/compliance_candidates.md
  docs/reports/doc-modernization/phase0/generator_report.md
  docs/reports/doc-modernization/phase0/inventory.csv
  docs/reports/doc-modernization/phase0/link_map.json
  docs/reports/doc-modernization/phase0/mapping.csv
  docs/reports/doc-modernization/phase0/orphan_analysis.md
  docs/reports/doc-modernization/phase0/orphan_candidates.md
  docs/reports/doc-modernization/phase0/summary.md
Due: update-docs

docs: update markdownlint configuration and enhance documentation clarity
  .markdownlint.json
  docs/developers/remaining_tasks/README.md
  docs/developers/remaining_tasks/backlog.md
  docs/developers/remaining_tasks/decision_log.md
  docs/developers/remaining_tasks/migration_notes.md
  docs/developers/remaining_tasks/risk_register.md
  docs/index.md
Due: update-docs

docs: final comprehensive optimization and standardization
  docs/contributing/community-guidelines.md
  docs/developers/remaining_tasks/decision_log.md
  docs/developers/remaining_tasks/migration_notes.md
  docs/developers/remaining_tasks/risk_register.md
  docs/interrogate_badge.svg
  docs/operators/project-backlog.md
  docs/operators/project-planning.md
  docs/research/browser-use/README.md
  docs/research/browser-use/browser-use-implementation-guide.md
  docs/research/roadmap.md
Due: update-docs

chore: remove deprecated environment configuration files
  .env.enterprise
  .env.example
  .env.modern.example
  .env.simple
  .env.simplified
  .env.test
  .markdownlint-cli2.json
  .markdownlint.json
  Dockerfile.simple
  docker-compose.enterprise.yml
  docker-compose.monitoring.yml
  docker-compose.override.yml
  docker-compose.personal-use.yml
  docker-compose.simple.yml
  docker-compose.test.yml
  docker-compose.yml
  src/utils/gpu.py
Due: pytest-check, mypy-check, validate-config
