Repository BjornMelin/ai-docs-vector-db-hybrid-scraper: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, mypy-check, update-docs, validate-config

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# Run `uv tool install pre-commit && pre-commit install` to set up

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        exclude: '^(.*\.md|.*\.txt)$'
      - id: end-of-file-fixer
        exclude: '^(.*\.md|.*\.txt)$'
      - id: check-yaml
        args: ['--unsafe']
      - id: check-toml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: debug-statements
      - id: check-docstring-first
      - id: check-case-conflict

  # Python code formatting and linting with Ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Linter
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        types_or: [python, pyi, jupyter]
      # Formatter
      - id: ruff-format
        types_or: [python, pyi, jupyter]

  # Security checks
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.10
    hooks:
      - id: bandit
        args: ['-r', 'src/', '-f', 'json']
        exclude: '^tests/'

  # Secret detection
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.21.2
    hooks:
      - id: gitleaks

  # Dependency checks
  - repo: https://github.com/lucas-c/pre-commit-hooks-safety
    rev: v1.3.2
    hooks:
      - id: python-safety-dependencies-check
        files: pyproject.toml

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.42.0
    hooks:
      - id: markdownlint
        args: [--fix]
        exclude: '^(htmlcov|cache|logs)/'

  # YAML formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json]
        exclude: '^(.*\.lock|uv\.lock)$'

  # Local hooks for project-specific checks
  - repo: local
    hooks:
      - id: pytest-check
        name: Run pytest
        entry: uv run pytest tests/unit --tb=short --maxfail=5 -x --disable-warnings
        language: system
        pass_filenames: false
        always_run: false
        files: '^(src/|tests/)'
        stages: [commit]

      - id: mypy-check
        name: Run mypy type checking
        entry: bash -c 'if command -v mypy &> /dev/null; then uv run mypy src/; else echo "mypy not installed, skipping"; fi'
        language: system
        pass_filenames: false
        files: '^src/.*\.py$'
        stages: [commit]

      - id: check-file-naming
        name: Check file naming conventions
        entry: bash -c 'find src tests -name "*.py" | grep -E "[A-Z]" && echo "❌ Python files should use snake_case" && exit 1 || echo "✅ File naming looks good"'
        language: system
        pass_filenames: false
        stages: [commit]

      - id: update-docs
        name: Update documentation
        entry: python scripts/docs_automation.py --skip-validation --build-only
        language: system
        files: '^(docs/|README\.md|mkdocs\.yml)'
        pass_filenames: false
        stages: [commit]

      - id: validate-config
        name: Validate configuration
        entry: python scripts/validate_config.py
        language: system
        files: '^(\.env.*|pyproject\.toml|src/config/)'
        pass_filenames: false
        stages: [commit]

# Configuration for pre-commit
default_stages: [commit]
fail_fast: false
minimum_pre_commit_version: "3.0.0"

# Skip hooks for certain commits
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ''
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: weekly
  skip: []
  submodules: false

fix: reset cache and embedding dependency singletons
  src/services/dependencies.py
Due: pytest-check, mypy-check

fix: handle browser result objects in bulk embedder
  src/crawl4ai_bulk_embedder.py
Due: pytest-check, mypy-check

test: remove global warning filters from conftest
  tests/conftest.py
Due: pytest-check

test: simplify normalization module fixture
  tests/unit/services/crawling/test_normalization.py
Due: pytest-check

test: replace bulk embedder test context helper
  tests/unit/services/embeddings/test_crawl4ai_bulk_embedder.py
Due: pytest-check

refactor: improve error handling and cleanup in OpenAI client and HyDE generator fix: update minimum generation length in tests and enhance token usage validation
  scripts/eval/rag_compression_eval.py
  src/services/embeddings/openai_provider.py
  src/services/hyde/generator.py
  tests/unit/mcp_tools/tools/test_agentic_rag.py
  tests/unit/services/hyde/test_generator.py
  tests/unit/services/test_decorators.py
  tests/unit/services/test_service_errors.py
Due: pytest-check, mypy-check

fix(firecrawl): update AsyncFirecrawl client import and initialization
  src/services/browser/providers/firecrawl.py
Due: pytest-check, mypy-check

fix: refine cpu validation error handling
  scripts/validation/cpu_validation.py
Due: none

refactor: rename TestBulkEmbedder to BulkEmbedderHarness for clarity
  tests/unit/services/embeddings/test_crawl4ai_bulk_embedder.py
Due: pytest-check

fix(validation): enhance exception handling for tensor operations
  scripts/validation/gpu_validation.py
Due: none

refactor(tests): update test descriptions and improve default parameters
  tests/unit/models/test_search_request.py
  tests/unit/services/query_processing/test_orchestrator.py
Due: pytest-check

fix(lint): update banned API for openai.ChatCompletion to include openai.chat.completions.create
  pyproject.toml
Due: validate-config

fix(validation): streamline exception handling in CPU validation checks
  scripts/validation/cpu_validation.py
Due: none

docs: document LangChain chunking and hybrid retrieval
  CHANGELOG.md
  README.md
  docs/developers/adrs/0005-library-first-retrieval-architecture.md
  docs/developers/api-and-contracts.md
  docs/developers/architecture-and-orchestration.md
  docs/index.md
  docs/users/examples-and-recipes.md
  docs/users/quick-start.md
  docs/users/search-and-retrieval.md
  docs/users/troubleshooting.md
Due: update-docs

test: align chunking and config tests with new helpers
  scripts/eval/rag_golden_eval.py
  tests/mocks/mock_tools.py
  tests/property/strategies.py
  tests/property/test_config_schemas.py
  tests/unit/mcp_tools/tools/test_documents_ingest.py
  tests/unit/services/embeddings/test_crawl4ai_bulk_embedder.py
  tests/unit/services/test_document_chunking.py
  tests/unit/services/vector_db/conftest.py
  tests/unit/services/vector_db/test_service.py
Due: pytest-check

feat: restore gpu acceleration stack
  docs/users/quick-start.md
  pyproject.toml
  scripts/validation/gpu_validation.py
  src/utils/gpu.py
  tests/scripts/test_gpu_validation.py
  tests/utils/test_gpu.py
  uv.lock
Due: pytest-check, mypy-check, update-docs, validate-config

fix: update GPU validation harness and tests for additional libraries
  docs/users/quick-start.md
  pyproject.toml
  scripts/validation/gpu_validation.py
  src/utils/gpu.py
  tests/scripts/test_gpu_validation.py
  tests/utils/test_gpu.py
  uv.lock
Due: pytest-check, mypy-check, update-docs, validate-config

fix: harden optional GPU library import handling
  scripts/validation/gpu_validation.py
  tests/scripts/test_gpu_validation.py
Due: pytest-check

chore: update docs/users/quick-start.md
  docs/users/quick-start.md
Due: update-docs

refactor: centralize browser provider retries
  CHANGELOG.md
  src/services/browser/providers/browser_use.py
  src/services/browser/providers/firecrawl.py
  src/services/browser/providers/playwright.py
  tests/unit/services/browser/test_firecrawl_provider.py
  tests/unit/services/browser/test_router.py
Due: pytest-check, mypy-check

refactor: unify HyDE caching with shared manager
  CHANGELOG.md
  src/infrastructure/container.py
  src/services/hyde/__init__.py
  src/services/hyde/cache.py
  src/services/hyde/engine.py
  tests/unit/services/hyde/test_cache.py
  tests/unit/services/hyde/test_engine.py
Due: pytest-check, mypy-check

fix(playwright): update success flag based on challenge detection
  src/services/browser/providers/playwright.py
  tests/unit/services/browser/test_playwright_provider.py
  uv.lock
Due: pytest-check, mypy-check

refactor: remove custom analytics services
  CHANGELOG.md
  README.md
  docs/api/src.services.analytics.rst
  docs/api/src.services.rst
  src/services/analytics/__init__.py
  src/services/analytics/search_dashboard.py
  src/services/analytics/vector_visualization.py
  tests/unit/services/analytics/__init__.py
  tests/unit/services/analytics/test_package_exports.py
Due: pytest-check, mypy-check, update-docs

fix(playwright): respect caller-provided timeout in session execution
  src/services/browser/providers/playwright.py
Due: pytest-check, mypy-check

fix: align hyde embedding cache keys
  src/services/hyde/engine.py
Due: pytest-check, mypy-check

refactor: prune legacy chunking config
  config/templates/personal-use.json
  src/config/models.py
  src/services/document_chunking.py
  tests/property/strategies.py
  tests/property/test_config_schemas.py
  tests/unit/services/test_document_chunking.py
Due: pytest-check, mypy-check, validate-config

refactor: tighten health manager coverage
  CHANGELOG.md
  README.md
  src/api/app_factory.py
  src/services/base.py
  src/services/fastapi/production_server.py
  src/services/fastapi/routers/rag.py
  src/services/lifecycle.py
  src/services/observability/health_manager.py
  tests/unit/services/observability/test_health_manager.py
Due: pytest-check, mypy-check, update-docs

refactor: streamline document kind inference
  src/services/document_chunking.py
Due: pytest-check, mypy-check

feat: add embedding dimensions handling in HyDEQueryEngine and improve error handling in total_search_time
  src/services/hyde/engine.py
  tests/unit/services/browser/test_playwright_provider.py
Due: pytest-check, mypy-check

refactor: modularize document chunking strategies
  CHANGELOG.md
  src/services/document_chunking.py
  tests/unit/services/test_document_chunking.py
Due: pytest-check, mypy-check

chore: update src/services/document_chunking.py
  src/services/document_chunking.py
Due: pytest-check, mypy-check

chore: update tests/unit/services/test_document_chunking.py
  tests/unit/services/test_document_chunking.py
Due: pytest-check

test: enhance HyDEQueryEngine tests with additional validation and error handling
  tests/unit/services/hyde/test_engine.py
Due: pytest-check

fix(tests): simplify return value assignment in enhanced_search test
  tests/unit/services/hyde/test_engine.py
Due: pytest-check

refactor: centralize service resolution via container
  docs/api/src.services.rst
  docs/developers/api-and-contracts.md
  docs/developers/setup-and-configuration.md
  docs/operators/project-backlog.md
  examples/rag_integration_demo.py
  src/api/app_factory.py
  src/api/dependencies.py
  src/api/routers/v1/cache.py
  src/infrastructure/container.py
  src/mcp_tools/tools/crawling.py
  src/mcp_tools/tools/lightweight_scrape.py
  src/services/agents/langgraph_runner.py
  src/services/dependencies.py
  src/services/fastapi/dependencies.py
  src/services/fastapi/routers/rag.py
  src/services/rag/api.py
  src/services/service_resolver.py
  tests/integration/mcp/test_server_lifespan.py
  tests/unit/mcp_tools/tools/test_projects.py
  tests/unit/services/browser/test_playwright_provider.py
  tests/unit/services/dependencies/test_singletons.py
  tests/unit/services/fastapi/test_dependencies_core.py
  uv.lock
Due: pytest-check, mypy-check, update-docs

fix: add type hint for _TOKEN_KIND and use cast for clarity
  src/services/document_chunking.py
Due: pytest-check, mypy-check

chore(deps): add torch as requirement for flash-attn in pyproject.toml
  pyproject.toml
  uv.lock
Due: validate-config

chore: update tests/unit/services/fastapi/test_dependencies_core.py
  tests/unit/services/fastapi/test_dependencies_core.py
Due: pytest-check

fix: add type ignore for MultiServerMCPClient import in service_resolver.py
  src/services/service_resolver.py
Due: pytest-check, mypy-check
