Repository BjornMelin/ai-docs-vector-db-hybrid-scraper: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, mypy-check, update-docs, validate-config

pytest-check:
  name: Run pytest
  entry: uv run pytest tests/unit --tb=short --maxfail=5 -x --disable-warnings
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - commit

mypy-check:
  name: Run mypy type checking
  entry: bash -c 'if command -v mypy &> /dev/null; then uv run mypy src/; else echo "mypy not installed, skipping"; fi'
  language: system
  pass_filenames: false
  stages:
  - commit

update-docs:
  name: Update documentation
  entry: python scripts/docs_automation.py --skip-validation --build-only
  language: system
  pass_filenames: false
  stages:
  - commit

validate-config:
  name: Validate configuration
  entry: python scripts/validate_config.py
  language: system
  pass_filenames: false
  stages:
  - commit

refactor: remove obsolete task queue references from documentation
  README.md
  docs/api/services.fastapi.rst
  docs/api/services.rst
  docs/api/src.config.rst
  docs/api/src.rst
  docs/api/src.services.fastapi.rst
  docs/api/src.services.rst
  docs/developers/deployment.md
  docs/operators/project-planning.md
  tests/unit/README.md
Due: pytest-check, update-docs

refactor: remove obsolete dependencies and task queue metrics
  docs/api/services.fastapi.dependencies.rst
  docs/api/services.fastapi.rst
  docs/api/src.services.fastapi.dependencies.rst
  docs/api/src.services.fastapi.rst
  src/services/fastapi/__init__.py
  src/services/fastapi/dependencies/__init__.py
  src/services/monitoring/metrics.py
  tests/unit/services/monitoring/test_metrics.py
Due: pytest-check, mypy-check, update-docs

refactor: error handling and remove TaskQueueConfig references
  src/api/routers/config.py
  src/architecture/modes.py
  src/config/__init__.py
  src/config/loader.py
  src/config/models.py
  src/config/reloader.py
  src/infrastructure/client_manager.py
  src/services/__init__.py
  src/services/cache/__init__.py
  src/services/dependencies.py
  src/services/errors.py
  tests/unit/config/test_config_models_complete.py
  tests/unit/config/test_config_router.py
  tests/unit/infrastructure/test_client_manager.py
  tests/unit/infrastructure/test_pydantic_settings_patterns.py
  tests/unit/infrastructure/test_watchdog_integration.py
  tests/unit/services/core/test_qdrant_alias_manager.py
  tests/unit/services/monitoring/test_file_integrity.py
Due: pytest-check, mypy-check, validate-config

refactor: remove obsolete task queue worker configuration
  docker-compose.yml
Due: none

refactor: update dependencies and remove unused task worker script
  pyproject.toml
Due: validate-config

feat(file integrity): add file integrity provider abstractions and implementations
  src/config/reloader.py
  src/services/monitoring/file_integrity.py
Due: pytest-check, mypy-check, validate-config

refactor(integration): remove unused services and simplify security manager initialization
  src/services/core/qdrant_alias_manager.py
  src/services/enterprise/integration.py
Due: pytest-check, mypy-check

feat(config): harden reload file watch
  docs/users/configuration-management.md
  src/api/routers/config.py
  src/config/__init__.py
  src/config/reloader.py
  src/services/monitoring/file_integrity.py
  tests/unit/config/test_config_router.py
  tests/unit/services/monitoring/test_file_integrity.py
Due: pytest-check, mypy-check, update-docs, validate-config

refactor(security): simplify configuration surface
  config/templates/README.md
  config/templates/development.json
  config/templates/local-only.json
  config/templates/production.json
  config/templates/testing.json
  docs/operators/release-notes.md
  src/config/security/__init__.py
  src/config/security/config.py
  src/security.py
  src/services/fastapi/dependencies/__init__.py
  src/services/fastapi/middleware/security.py
  tests/unit/config/security/test_security_config.py
  tests/unit/config/test_config_models_complete.py
  tests/unit/services/fastapi/middleware/test_security_middleware.py
Due: pytest-check, mypy-check, update-docs, validate-config

chore(core): remove enterprise scaffolding
  docs/TECH_DEBT.md
  docs/api/src.security.rst
  docs/api/src.services.enterprise.rst
  docs/api/src.services.rst
  src/api/app_factory.py
  src/security/integration_example.py
  src/services/enterprise/__init__.py
  src/services/enterprise/cache.py
  src/services/enterprise/integration.py
  src/services/enterprise/search.py
Due: pytest-check, mypy-check, update-docs

docs(changelog): record configuration and security updates
  CHANGELOG.md
Due: none

refactor(api): drop search and cache placeholders
  src/api/app_factory.py
  src/architecture/modes.py
  tests/integration/end_to_end/system_integration/test_end_to_end_integration.py
  tests/unit/api/test_app_factory_profiles.py
Due: pytest-check, mypy-check

docs(project): record service simplification
  CHANGELOG.md
  docs/TECH_DEBT.md
Due: update-docs

docs(developers): add adapter recipes
  docs/developers/service_adapters.md
  docs/operators/service_feedback_monitoring.md
Due: update-docs

docs(project): remove legacy debt inventory
  docs/debt_inventory.md
Due: update-docs

docs: prune legacy research and refresh nav
  docs/build_config/mkdocs.yml
  docs/index.md
  docs/operators/project-backlog.md
  docs/operators/project-planning.md
  docs/query_processing_final_plan.md
  docs/research/browser-use/browser-use-implementation-guide.md
  docs/research/browser-use/browser-use-technical-reference.md
  docs/research/crawl4ai/coverage-map.md
  docs/research/crawl4ai/provider-mapping.md
  docs/research/roadmap.md
Due: update-docs

docs(operators): restore backlog and planning references
  docs/operators/project-backlog.md
  docs/operators/project-planning.md
Due: update-docs

docs: streamline developer and operator guides
  docs/build_config/index.rst
  docs/developers/crawl4ai_provider.md
  docs/developers/database-optimization-api.yaml
  docs/developers/getting-started.md
  docs/developers/gpu-acceleration.md
  docs/developers/index.md
  docs/operators/project-backlog.md
  docs/operators/project-planning.md
Due: update-docs

docs(developers): restore setup and gpu guides
  docs/build_config/mkdocs.yml
  docs/developers/getting-started.md
  docs/developers/gpu-acceleration.md
  docs/developers/index.md
Due: update-docs

docs: update changelog and documentation references, remove rag metrics catalog
  CHANGELOG.md
  docs/build_config/mkdocs.yml
  docs/developers/adrs/0007-query-processing-final-stack.md
  docs/developers/adrs/0010-rag-evaluation-modernization.md
  docs/index.md
  docs/observability/query_processing_metrics.md
  docs/observability/rag_metrics_catalog.md
  docs/security/security-essentials.md
  docs/testing/evaluation-harness.md
  docs/testing/index.md
Due: update-docs

refactor: remove performance benchmark tests for configuration loading, reloading, and database operations
  tests/benchmarks/README.md
  tests/benchmarks/__init__.py
  tests/benchmarks/performance_suite.py
  tests/benchmarks/pytest.ini
  tests/benchmarks/test_config_caching.py
  tests/benchmarks/test_config_performance.py
  tests/benchmarks/test_config_reload_performance.py
  tests/benchmarks/test_database_performance.py
Due: pytest-check

refactor: remove example test files for standardized patterns
  tests/examples/__init__.py
  tests/examples/test_modern_async_patterns.py
  tests/examples/test_pattern_examples.py
Due: pytest-check

refactor: remove visual regression testing files to streamline test suite
  tests/visual_regression/README.md
  tests/visual_regression/__init__.py
  tests/visual_regression/conftest.py
Due: pytest-check

feat: add dataset validation and seeding scripts for Qdrant collection
  scripts/eval/dataset_validator.py
  scripts/eval/rag_golden_eval.py
  scripts/eval/seed_qdrant.py
  src/services/monitoring/metrics.py
  tests/ci/test_environments.py
  tests/scripts/parallel_coordinator.py
  tests/unit/scripts/test_rag_golden_eval.py
  tests/utils/test_factories.py
Due: pytest-check, mypy-check

tests(perf): add performance tests for metrics registry and RAG pipeline
  tests/performance/README.md
  tests/performance/__init__.py
  tests/performance/conftest.py
  tests/performance/test_metrics_registry_performance.py
  tests/performance/test_performance_fixtures.py
  tests/performance/test_performance_targets.py
  tests/performance/test_rag_pipeline_performance.py
  tests/performance/test_search_orchestrator_performance.py
  tests/performance/test_search_performance.py
Due: pytest-check

refactor: update technical debt log and project backlog for clarity; enhance evaluation harness with YAML config loading
  docs/TECH_DEBT.md
  docs/operators/project-backlog.md
  docs/testing/evaluation-harness.md
  scripts/eval/rag_golden_eval.py
Due: update-docs

refactor(tests): update test paths and add missing modules for improved organization
  tests/scripts/parallel_coordinator.py
  tests/unit/scripts/test_rag_golden_eval.py
  tests/unit/services/agents/test_tool_execution_service.py
Due: pytest-check

refactor(tests): streamline integration test structure and remove obsolete files
  tests/integration/__init__.py
  tests/integration/browser/__init__.py
  tests/integration/browser/test_lightweight_scraper_integration.py
  tests/integration/mcp_services/README.md
  tests/integration/query/__init__.py
  tests/integration/query/test_orchestrator_integration.py
  tests/integration/rag/__init__.py
  tests/integration/rag/test_langgraph_pipeline_integration.py
Due: pytest-check

refactor(tests): remove obsolete pytest fixtures for isolated resources
  tests/ci/test_isolation.py
  tests/data/rag/golden_set.jsonl
Due: pytest-check

refactor(tests): remove integration tests for RAG pipeline
  tests/integration/ai/__init__.py
  tests/integration/ai/test_rag_pipeline_integration.py
Due: pytest-check

refactor(tests): remove obsolete end-to-end testing documentation and add new smoke tests for LangGraph RAG flow
  tests/integration/end_to_end/README.md
  tests/integration/end_to_end/__init__.py
  tests/integration/end_to_end/test_rag_end_to_end.py
Due: pytest-check

refactor: remove comprehensive user journey tests and workflow testing modules
  tests/integration/end_to_end/api_flows/__init__.py
  tests/integration/end_to_end/api_flows/conftest.py
  tests/integration/end_to_end/api_flows/test_api_workflow_validation.py
  tests/integration/end_to_end/browser_automation/__init__.py
  tests/integration/end_to_end/browser_automation/conftest.py
  tests/integration/end_to_end/browser_automation/test_browser_user_journeys.py
  tests/integration/end_to_end/system_integration/__init__.py
  tests/integration/end_to_end/system_integration/test_end_to_end_integration.py
  tests/integration/end_to_end/user_journeys/__init__.py
  tests/integration/end_to_end/user_journeys/conftest.py
  tests/integration/end_to_end/user_journeys/test_complete_user_journeys.py
  tests/integration/end_to_end/workflow_testing/__init__.py
  tests/integration/end_to_end/workflow_testing/test_system_workflows.py
Due: pytest-check

refactor: remove deprecated scripts and implement smoke tests for RAG golden evaluation and Qdrant seeding utilities
  scripts/dev.py
  tests/ci/conftest.py
  tests/ci/test_environments.py
  tests/integration/conftest.py
  tests/integration/mcp_services/__init__.py
  tests/scripts/README.md
  tests/scripts/example_subagent_workflow.sh
  tests/scripts/parallel_coordinator.py
  tests/scripts/rename_antipattern_files.py
  tests/scripts/test_rag_golden_eval_cli.py
  tests/scripts/test_seed_qdrant_cli.py
  tests/scripts/validate_test_quality.py
Due: pytest-check

refactor(dependencies): clean up and update dependencies in pyproject.toml and uv.lock
  pyproject.toml
  uv.lock
Due: validate-config

refactor: update performance testing instructions in CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

feat(config): add evaluation budgets, costs, and metrics allowlist configuration files
  config/eval_budgets.yml
  config/eval_costs.yml
  config/metrics_allowlist.json
Due: none

tests: remove integration tests for parallel processing, RAG patterns, and unified agentic system
  tests/integration/crawling/test_crawl_manager_integration.py
  tests/integration/test_crawl4ai_adapter_integration.py
  tests/integration/test_mcp_edge_cases.py
  tests/integration/test_mcp_performance_benchmarks.py
  tests/integration/test_mcp_protocol_e2e.py
  tests/integration/test_monitoring_e2e.py
  tests/integration/test_observability_integration.py
  tests/integration/test_parallel_processing_integration.py
  tests/integration/test_rag_integration.py
  tests/integration/test_unified_agentic_system.py
Due: pytest-check

docs: update AGENTS.md for project structure and guidelines clarity
  AGENTS.md
Due: none

refactor(eval): simplify the evaluation process by removing unnecessary dataset loading and metrics setup
  scripts/eval/rag_golden_eval.py
Due: none

refactor(utils): streamline platform utility functions and improve logging format in GPU utilities
  src/utils/cross_platform.py
  src/utils/gpu.py
  src/utils/health_checks.py
Due: pytest-check, mypy-check

Path conditions:
  pytest-check: any of: ^(src/|tests/)
  mypy-check: any of: ^src/.*\.py$
  update-docs: any of: ^(docs/|README\.md|mkdocs\.yml)
  validate-config: any of: ^(\.env.*|pyproject\.toml|src/config/)
