Repository BjornMelin/ai-docs-vector-db-hybrid-scraper: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, mypy-check, update-docs, validate-config

pytest-check:
  name: Run pytest
  entry: uv run pytest tests/unit --tb=short --maxfail=5 -x --disable-warnings
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - commit

mypy-check:
  name: Run mypy type checking
  entry: bash -c 'if command -v mypy &> /dev/null; then uv run mypy src/; else echo "mypy not installed, skipping"; fi'
  language: system
  pass_filenames: false
  stages:
  - commit

update-docs:
  name: Update documentation
  entry: python scripts/docs_automation.py --skip-validation --build-only
  language: system
  pass_filenames: false
  stages:
  - commit

validate-config:
  name: Validate configuration
  entry: python scripts/validate_config.py
  language: system
  pass_filenames: false
  stages:
  - commit

feat(query-processing): finalize LangChain-based stack
  CHANGELOG.md
  docs/api/services.query_processing.rst
  docs/api/src.services.query_processing.rst
  docs/developers/adrs/0006-evaluation-and-dependency-governance.md
  docs/developers/adrs/0007-query-processing-final-stack.md
  scripts/eval/rag_golden_eval.py
  src/mcp_tools/tools/_shared.py
  src/mcp_tools/tools/document_management.py
  src/mcp_tools/tools/projects.py
  src/mcp_tools/tools/search.py
  src/mcp_tools/tools/search_tools.py
  src/services/query_processing/__init__.py
  src/services/query_processing/clustering.py
  src/services/query_processing/expansion.py
  src/services/query_processing/models.py
  src/services/query_processing/orchestrator.py
  src/services/query_processing/pipeline.py
  src/services/query_processing/ranking.py
  src/services/query_processing/utils/__init__.py
  src/services/query_processing/utils/cache.py
  src/services/query_processing/utils/metrics.py
  src/services/query_processing/utils/results.py
  src/services/query_processing/utils/similarity.py
  src/services/query_processing/utils/text.py
  src/services/vector_db/service.py
  tests/unit/mcp_tools/tools/test_documents.py
  tests/unit/mcp_tools/tools/test_documents_ingest.py
  tests/unit/mcp_tools/tools/test_projects.py
  tests/unit/mcp_tools/tools/test_search.py
  tests/unit/mcp_tools/tools/test_search_tools.py
  tests/unit/services/query_processing/test_clustering.py
  tests/unit/services/query_processing/test_expansion.py
  tests/unit/services/query_processing/test_models.py
  tests/unit/services/query_processing/test_orchestrator.py
  tests/unit/services/query_processing/test_pipeline.py
  tests/unit/services/query_processing/test_ranking.py
  tests/unit/services/query_processing/test_utils.py
  tests/unit/services/vector_db/conftest.py
  tests/unit/services/vector_db/test_service.py
Due: pytest-check, mypy-check, update-docs

feat(rag): add LangGraph pipeline with observability
  pyproject.toml
  src/services/embeddings/fastembed_provider.py
  src/services/monitoring/metrics.py
  src/services/rag/__init__.py
  src/services/rag/generator.py
  src/services/rag/langgraph_pipeline.py
  tests/unit/services/embeddings/test_fastembed_provider.py
  tests/unit/services/rag/test_langgraph_pipeline.py
  uv.lock
Due: pytest-check, mypy-check, validate-config

fix(cache): correct type hint for context parameter in cache management tools
  src/mcp_tools/tools/cache.py
Due: pytest-check, mypy-check

feat(agents): add retrieval and tool execution service to agent services API
  examples/agentic_rag_demo.py
  src/services/agents/__init__.py
  src/services/agents/dynamic_tool_discovery.py
Due: pytest-check, mypy-check

refactor: remove unit tests and configuration stubs for agent services
  src/services/agents/agentic_orchestrator.py
  src/services/agents/query_orchestrator.py
  src/services/agents/tool_orchestration.py
  tests/unit/services/agents/conftest.py
  tests/unit/services/agents/test_agent_base.py
  tests/unit/services/agents/test_agentic_orchestrator.py
  tests/unit/services/agents/test_tool_orchestration.py
Due: pytest-check, mypy-check

refactor(orchestrator): simplify service initialization and enhance documentation
  src/mcp_services/orchestrator_service.py
  src/services/agents/__init__.py
  src/services/agents/retrieval.py
Due: pytest-check, mypy-check

feat(dependencies): add langchain-mcp-adapters and update browser automation tools
  pyproject.toml
  uv.lock
Due: validate-config

feat(metrics): add browser automation metrics for tracking performance and challenges
  docs/developers/adrs/0009-playwright-tiered-anti-bot.md
  docs/observability/query_processing_metrics.md
Due: update-docs

feat(config): add MCP transport and server configuration models
  src/config/models.py
Due: pytest-check, mypy-check, validate-config

refactor(tool_registry): simplify tool registration process and enhance documentation
  src/mcp_tools/tool_registry.py
Due: pytest-check, mypy-check

refactor(services): update module docstring for clarity
  src/services/__init__.py
Due: pytest-check, mypy-check

refactor(__init__): update module docstring for clarity
  src/mcp_tools/__init__.py
Due: pytest-check, mypy-check

refactor: remove obsolete unit tests for MCP services and agent coordination
  src/services/agents/_compat.py
  src/services/agents/_shared.py
  src/services/agents/coordination.py
  src/services/agents/core.py
  tests/integration/mcp_services/test_mcp_services_e2e.py
  tests/integration/mcp_services/test_mcp_services_integration.py
  tests/integration/multi_agent/__init__.py
  tests/integration/multi_agent/conftest.py
  tests/integration/multi_agent/test_coordination_patterns.py
  tests/integration/multi_agent/test_distributed_workflows.py
  tests/integration/multi_agent/test_performance_optimization.py
  tests/integration/multi_agent/test_result_fusion.py
  tests/integration/multi_agent/test_state_synchronization.py
  tests/unit/mcp_services/conftest.py
  tests/unit/mcp_services/test_orchestrator_service.py
  tests/unit/mcp_services/test_services.py
  tests/unit/services/agents/test_compat_pydantic_ai.py
  tests/unit/services/agents/test_coordinator.py
  tests/unit/services/agents/test_strategy_shared.py
Due: pytest-check, mypy-check

refactor(README): update mock component names for clarity
  docs/api/src.services.agents.rst
  tests/unit/mcp_services/README.md
Due: pytest-check, update-docs

refactor: PlaywrightAdapter tests for clarity and efficiency
  src/services/browser/playwright_adapter.py
  tests/unit/services/browser/test_playwright_adapter.py
Due: pytest-check, mypy-check

feat(agents): harden langgraph orchestrator and MCP tooling
  CHANGELOG.md
  src/mcp_services/orchestrator_service.py
  src/mcp_tools/tools/agentic_rag.py
  src/services/agents/dynamic_tool_discovery.py
  src/services/agents/langgraph_runner.py
  src/services/agents/tool_execution_service.py
  tests/unit/mcp_services/test_orchestrator_graph_runner.py
  tests/unit/mcp_tools/tools/test_agentic_rag.py
  tests/unit/services/agents/test_dynamic_tool_discovery.py
  tests/unit/services/agents/test_langgraph_runner.py
  tests/unit/services/agents/test_retrieval_helper.py
  tests/unit/services/agents/test_tool_execution_service.py
Due: pytest-check, mypy-check

refactor(agents): improve import organization and formatting in dynamic_tool_discovery and langgraph_runner
  src/services/agents/dynamic_tool_discovery.py
  src/services/agents/langgraph_runner.py
  tests/unit/services/agents/test_langgraph_runner.py
Due: pytest-check, mypy-check

refactor(tests): update type hints for clarity and consistency across test files
  tests/unit/mcp_services/test_orchestrator_graph_runner.py
  tests/unit/mcp_tools/tools/test_agentic_rag.py
  tests/unit/services/agents/test_retrieval_helper.py
  tests/unit/services/agents/test_tool_execution_service.py
Due: pytest-check

feat(config): add Playwright settings to configuration module
  src/config/__init__.py
Due: pytest-check, mypy-check, validate-config

feat(config): add MCP client, server, and transport models to configuration
  src/config/__init__.py
Due: pytest-check, mypy-check, validate-config

refactor(monitoring): improve code structure and add runtime/challenge metrics
  docs/operators/monitoring.md
  src/services/browser/monitoring.py
  src/services/browser/unified_manager.py
Due: pytest-check, mypy-check, update-docs

feat(tests): add SlowToolService and enhance error handling in tests
  src/services/agents/tool_execution_service.py
  tests/unit/services/agents/test_langgraph_runner.py
Due: pytest-check, mypy-check

refactor(agents): add structured cancellation and error taxonomy
  src/services/agents/langgraph_runner.py
  tests/unit/mcp_services/__init__.py
Due: pytest-check, mypy-check

refactor(tests): update test structure and improve service initialization tests
  src/mcp_services/analytics_service.py
  tests/unit/mcp_services/README.md
  tests/unit/mcp_services/conftest.py
  tests/unit/mcp_services/test_system_service.py
Due: pytest-check, mypy-check

refactor(tests): update test docstrings for clarity and consistency
  tests/unit/infrastructure/test_client_manager.py
  tests/unit/infrastructure/test_http_mocking_patterns.py
  tests/unit/infrastructure/test_pydantic_settings_patterns.py
  tests/unit/infrastructure/test_watchdog_integration.py
Due: pytest-check

refactor(tests): remove obsolete framework validation tests and add core functionality docstring
  planning/unit_test_refactor_plan.md
  tests/unit/core/__init__.py
  tests/unit/framework/__init__.py
Due: pytest-check

fix(tests): add type ignore for FastAPI initialization in test setup
  tests/unit/config/test_config_router.py
Due: pytest-check

refactor(tests): add unit test docstrings for configuration router and security layer
  tests/unit/config/__init__.py
  tests/unit/config/security/__init__.py
Due: pytest-check

test(security): add unit tests for security configuration enums and manager
  tests/unit/config/security/test_security_config.py
Due: pytest-check

refactor: reorganize imports and update datetime usage for consistency
  scripts/eval/rag_golden_eval.py
  src/config/security/config.py
  src/mcp_tools/tools/query_processing_tools.py
  src/mcp_tools/tools/rag.py
  src/services/dependencies.py
  src/services/query_processing/__init__.py
  src/services/query_processing/orchestrator.py
  src/services/rag/__init__.py
  tests/unit/config/security/test_security_config.py
  tests/unit/services/query_processing/test_orchestrator.py
Due: pytest-check, mypy-check, validate-config

refactor: clean up import statements and improve docstrings in RAG integration and tests
  examples/rag_integration_demo.py
  src/mcp_tools/tools/rag.py
  tests/unit/services/rag/test_langgraph_pipeline.py
Due: pytest-check, mypy-check

feat: implement RAG evaluation modernization with structured metrics and telemetry integration
  docs/developers/adrs/0010-rag-evaluation-modernization.md
  pyproject.toml
  scripts/eval/rag_golden_eval.py
  src/api/routers/config_drift.py
  tests/data/rag/golden_set.jsonl
  tests/unit/scripts/test_rag_golden_eval.py
  uv.lock
Due: pytest-check, mypy-check, update-docs, validate-config

refactor: remove Config Drift Service implementation
  docs/api/src.automation.rst
  docs/api/src.automation.self_healing.rst
  examples/config_drift_demo.py
  src/api/routers/config_drift.py
  src/automation/__init__.py
  src/automation/config_automation.py
  src/automation/infrastructure_automation.py
  src/automation/self_healing/__init__.py
  src/automation/self_healing/auto_remediation_engine.py
  src/automation/self_healing/autonomous_health_monitor.py
  src/automation/self_healing/intelligent_chaos_orchestrator.py
  src/automation/self_healing/predictive_maintenance.py
  src/services/config_drift_service.py
Due: pytest-check, mypy-check, update-docs

refactor: remove configuration drift detection modules and related imports
  docs/api/src.api.routers.rst
  docs/api/src.config.rst
  docs/api/src.rst
  docs/api/src.services.rst
  src/config/__init__.py
  src/config/drift.py
  src/config/drift_detection.py
  src/config/loader.py
Due: pytest-check, mypy-check, update-docs, validate-config

refactor: replace TASK_REGISTRY with TASK_MAP in worker settings
  examples/security_config_demo.py
  src/services/task_queue/worker.py
Due: pytest-check, mypy-check

refactor: remove configuration drift detection classes and related tasks
  src/config/models.py
  src/services/task_queue/tasks.py
  tests/security/penetration/test_api_security.py
  tests/security/test_api_security.py
Due: pytest-check, mypy-check, validate-config

fix: correct spelling of 'initialize' in FastEmbedProvider and TelemetryRepository
  src/services/embeddings/fastembed_provider.py
  src/services/monitoring/telemetry_repository.py
  src/services/vector_db/service.py
  tests/data/rag/golden_set.jsonl
Due: pytest-check, mypy-check

fix: correct spelling of 'initialise' to 'initialize' in multiple files
  examples/rag_integration_demo.py
  scripts/eval/rag_golden_eval.py
  src/mcp_services/orchestrator_service.py
  src/mcp_tools/tools/_shared.py
  src/mcp_tools/tools/document_management.py
  src/mcp_tools/tools/documents.py
  src/mcp_tools/tools/payload_indexing.py
  src/mcp_tools/tools/search.py
  src/services/browser/crawl4ai_adapter.py
  src/services/observability/init.py
  src/services/observability/performance.py
  src/services/rag/generator.py
  tests/unit/mcp_tools/tools/test_documents_ingest.py
  tests/unit/services/vector_db/test_service.py
Due: pytest-check, mypy-check

refactor: remove obsolete integration and unit tests for configuration manager, task queue, and FastAPI background utilities
  docker/Dockerfile.worker
  docs/api/cli_worker.rst
  docs/api/services.task_queue.rst
  docs/api/src.services.auto_detection.rst
  docs/api/src.services.security.rst
  docs/api/src.services.task_queue.rst
  examples/config_error_handling_demo.py
  examples/security_production_config.py
  src/cli_worker.py
  src/config/manager.py
  src/services/auto_detection/__init__.py
  src/services/auto_detection/connection_pools.py
  src/services/auto_detection/health_checks.py
  src/services/auto_detection/service_discovery.py
  src/services/cache/patterns.py
  src/services/fastapi/background.py
  src/services/security/__init__.py
  src/services/security/ai_security.py
  src/services/security/integration.py
  src/services/security/middleware.py
  src/services/security/monitoring.py
  src/services/security/rate_limiter.py
  src/services/task_queue/__init__.py
  src/services/task_queue/manager.py
  src/services/task_queue/tasks.py
  src/services/task_queue/worker.py
  tests/integration/test_concurrent_config.py
  tests/integration/test_config_error_scenarios.py
  tests/integration/test_config_load_stress.py
  tests/unit/config/test_config_manager.py
  tests/unit/services/core/test_qdrant_alias_manager_with_queue.py
  tests/unit/services/fastapi/test_background.py
  tests/unit/services/task_queue/__init__.py
  tests/unit/services/task_queue/test_manager.py
  tests/unit/services/task_queue/test_tasks.py
  tests/unit/services/task_queue/test_worker.py
Due: pytest-check, mypy-check, update-docs, validate-config

refactor: code structure for improved readability and maintainability
  tests/security/README.md
  tests/security/SECURITY_TESTING_PLAYBOOK.md
  tests/security/__init__.py
  tests/security/authentication/__init__.py
  tests/security/authentication/test_jwt_security.py
  tests/security/authorization/__init__.py
  tests/security/authorization/test_access_control.py
  tests/security/compliance/__init__.py
  tests/security/compliance/test_owasp_top10.py
  tests/security/conftest.py
  tests/security/encryption/__init__.py
  tests/security/encryption/test_data_protection.py
  tests/security/input_validation/__init__.py
  tests/security/input_validation/test_command_injection.py
  tests/security/input_validation/test_sql_injection.py
  tests/security/input_validation/test_xss_prevention.py
  tests/security/penetration/__init__.py
  tests/security/penetration/test_api_security.py
  tests/security/penetration/test_vector_penetration.py
  tests/security/run_security_tests.py
  tests/security/test_api_security.py
  tests/security/test_redis_rate_limiting.py
  tests/security/test_security_fixtures.py
  tests/security/test_vector_security.py
  tests/security/validate_security_framework.py
  tests/security/validate_security_tests.py
  tests/security/vulnerability/__init__.py
  tests/security/vulnerability/test_dependency_scanning.py
Due: pytest-check

Path conditions:
  pytest-check: any of: ^(src/|tests/)
  mypy-check: any of: ^src/.*\.py$
  update-docs: any of: ^(docs/|README\.md|mkdocs\.yml)
  validate-config: any of: ^(\.env.*|pyproject\.toml|src/config/)
