Repository BjornMelin/ai-docs-vector-db-hybrid-scraper: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, mypy-check, update-docs, validate-config

pytest-check:
  name: Run pytest
  entry: uv run pytest tests/unit --tb=short --maxfail=5 -x --disable-warnings
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - commit

mypy-check:
  name: Run mypy type checking
  entry: bash -c 'if command -v mypy &> /dev/null; then uv run mypy src/; else echo "mypy not installed, skipping"; fi'
  language: system
  pass_filenames: false
  stages:
  - commit

update-docs:
  name: Update documentation
  entry: python scripts/docs_automation.py --skip-validation --build-only
  language: system
  pass_filenames: false
  stages:
  - commit

validate-config:
  name: Validate configuration
  entry: python scripts/validate_config.py
  language: system
  pass_filenames: false
  stages:
  - commit

refactor: consolidate configuration templates
  CHANGELOG.md
  config/alertmanager/alertmanager.yml
  config/backups/backup_metadata.json
  config/browser-routing-rules.json
  config/crawl4ai-site-templates.json
  config/documentation-sites.json
  config/grafana/dashboards/application-overview.json
  config/grafana/dashboards/cache-performance.json
  config/grafana/dashboards/embedding-costs.json
  config/grafana/dashboards/vector-search.json
  config/grafana/provisioning/dashboards/dashboard.yml
  config/metrics_allowlist.json
  config/prometheus.yml
  config/prometheus/alert_rules.yml
  config/prometheus/prometheus.yml
  config/templates/README.md
  config/templates/base.json
  config/templates/custom-benchmarks.json
  config/templates/development.json
  config/templates/local-only.json
  config/templates/minimal.json
  config/templates/personal-use.json
  config/templates/production.json
  config/templates/profiles.json
  config/templates/testing.json
  scripts/ci/validate_config.py
  src/cli/wizard/template_manager.py
Due: pytest-check, mypy-check

refactor: share template override utilities
  CHANGELOG.md
  scripts/ci/validate_config.py
  src/cli/wizard/template_manager.py
  src/config/template_utils.py
Due: pytest-check, mypy-check, validate-config

refactor: harden embedding benchmarks and hnsw tooling
  .python-version
  CHANGELOG.md
  docs/api/services.cache.rst
  docs/api/src.infrastructure.clients.rst
  docs/api/src.infrastructure.rst
  docs/api/src.services.cache.rst
  pyproject.toml
  pytest.ini
  src/infrastructure/clients/__init__.py
  src/infrastructure/clients/firecrawl_client.py
  src/infrastructure/clients/http_client.py
  src/infrastructure/clients/qdrant_client.py
  src/infrastructure/container.py
  src/services/cache/dragonfly_cache.py
  src/services/cache/manager.py
  src/services/cache/metrics.py
  src/services/cache/warmup.py
  src/services/core/qdrant_alias_manager.py
  src/services/embeddings/manager/__init__.py
  src/services/observability/__init__.py
  src/services/observability/health_manager.py
  src/services/observability/tracing.py
  src/services/utilities/hnsw_optimizer.py
  tests/conftest.py
  tests/plugins/random_seed.py
  tests/unit/services/hyde/test_config.py
  tests/unit/services/rag/test_retriever.py
  tests/unit/services/utilities/test_hnsw_optimizer.py
  tests/unit/services/vector_db/test_manage_vector_db.py
  uv.lock
Due: pytest-check, mypy-check, update-docs, validate-config

refactor: improve logging for custom benchmark loading
  src/services/embeddings/manager/__init__.py
Due: pytest-check, mypy-check

refactor: streamline attribute handling in tracing functions
  src/services/observability/tracing.py
Due: pytest-check, mypy-check

refactor: enhance error handling and readiness checks in HNSWOptimizer
  src/services/cache/warmup.py
  src/services/core/qdrant_alias_manager.py
  src/services/utilities/hnsw_optimizer.py
Due: pytest-check, mypy-check

refactor: simplify field validation in HyDEConfig and HyDEMetricsConfig tests
  src/services/utilities/hnsw_optimizer.py
  tests/unit/services/hyde/test_config.py
Due: pytest-check, mypy-check

refactor(tests): streamline field validation tests and enhance error handling in HNSWOptimizer
  tests/unit/services/hyde/test_config.py
  tests/unit/services/rag/test_retriever.py
  tests/unit/services/utilities/test_hnsw_optimizer.py
  tests/unit/services/vector_db/test_manage_vector_db.py
Due: pytest-check

refactor(tests): extract prompt formatting logic into a helper function
  tests/unit/services/hyde/test_config.py
Due: pytest-check

refactor(tests): optimize span validation logic in TraceTestHelper
  tests/fixtures/test_utils_observability.py
Due: pytest-check

refactor(tests): enhance async isolation and cache warmup tests with improved docstrings and type hints
  tests/fixtures/async_isolation.py
  tests/load/locust_load_runner.py
  tests/services/cache/test_warmup.py
Due: pytest-check

refactor(tests): consolidate mock factory fixtures
  CHANGELOG.md
  tests/conftest.py
  tests/fixtures/__init__.py
  tests/fixtures/external_services.py
  tests/fixtures/factories.py
  tests/fixtures/http_mocks.py
  tests/fixtures/mock_factories.py
  tests/test_infrastructure.py
Due: pytest-check

refactor(tests): enhance mock factory tests for OpenAI and Qdrant clients
  tests/fixtures/factories.py
  tests/test_infrastructure.py
Due: pytest-check

refactor: remove service lifecycle abstractions
  CHANGELOG.md
  docs/api/services.rst
  docs/api/src.services.rst
  src/services/__init__.py
  src/services/base.py
  src/services/content_intelligence/service.py
  src/services/core/qdrant_alias_manager.py
  src/services/hyde/engine.py
  src/services/hyde/generator.py
  src/services/lifecycle.py
  src/services/query_processing/orchestrator.py
  src/services/rag/generator.py
  src/services/utilities/hnsw_optimizer.py
  src/services/vector_db/service.py
  tests/unit/cli/commands/test_batch.py
  tests/unit/services/core/test_qdrant_alias_manager.py
  tests/unit/services/rag/test_langgraph_pipeline.py
  tests/unit/services/test_base.py
  tests/unit/services/test_lifecycle_contract.py
Due: pytest-check, mypy-check, update-docs

refactor: remove mcp services layer
  CHANGELOG.md
  README.md
  docs/api/src.mcp_services.rst
  docs/api/src.rst
  docs/testing/mcp-unit-tests.md
  src/mcp_services/__init__.py
  src/mcp_services/analytics_service.py
  src/mcp_services/document_service.py
  src/mcp_services/orchestrator_service.py
  src/mcp_services/search_service.py
  src/mcp_services/system_service.py
  src/mcp_tools/tool_registry.py
  src/unified_mcp_server.py
  tests/unit/mcp_services/__init__.py
  tests/unit/mcp_services/test_analytics_service.py
  tests/unit/mcp_services/test_document_service.py
  tests/unit/mcp_services/test_orchestrator_service.py
  tests/unit/mcp_services/test_search_service.py
  tests/unit/mcp_services/test_system_service.py
  tests/unit/test_unified_mcp_server.py
Due: pytest-check, mypy-check, update-docs

refactor(tests): simplify vector manager mock initialization in tests
  tests/unit/cli/commands/test_batch.py
Due: pytest-check

refactor(tests): simplify environment patching in streaming config test
  tests/unit/test_unified_mcp_server.py
Due: pytest-check

refactor: require browser and content intelligence services
  src/api/app_factory.py
  src/infrastructure/container.py
  src/services/service_resolver.py
Due: pytest-check, mypy-check

fix: make firecrawl integration optional
  src/api/app_factory.py
  src/infrastructure/container.py
  src/services/browser/providers/firecrawl.py
  src/services/service_resolver.py
Due: pytest-check, mypy-check

fix: enforce required initialization for content intelligence and browser manager services
  src/infrastructure/container.py
  src/services/service_resolver.py
Due: pytest-check, mypy-check

fix: make UnifiedBrowserManager optional and handle missing dependencies
  src/infrastructure/container.py
  uv.lock
Due: pytest-check, mypy-check

feat: validate deployment workflows
  CHANGELOG.md
  docs/api/services.rst
  docs/api/src.services.deployment.rst
  docs/api/src.services.rst
  pyproject.toml
  scripts/dev.py
  src/config/__init__.py
  src/config/loader.py
  src/config/models.py
  src/services/deployment/__init__.py
  src/services/deployment/ab_testing.py
  src/services/deployment/blue_green.py
  src/services/deployment/canary.py
  src/services/deployment/feature_flags.py
  src/services/deployment/manager.py
  src/services/deployment/models.py
  tests/mocks/mock_tools.py
  tests/property/strategies.py
  tests/property/test_config_schemas.py
  tests/scripts/test_dev_deploy_cli.py
  tests/unit/infrastructure/test_pydantic_settings_patterns.py
  tests/unit/services/deployment/test_blue_green.py
  tests/unit/services/deployment/test_manager.py
  uv.lock
Due: pytest-check, mypy-check, update-docs, validate-config

fix: remove unnecessary blank lines and improve code readability
  pyproject.toml
  scripts/dev.py
  src/services/deployment/manager.py
  tests/scripts/test_dev_deploy_cli.py
  tests/unit/services/deployment/test_manager.py
Due: pytest-check, mypy-check, validate-config

refactor: simplify docstrings and error messages in settings and deployment manager
  src/config/loader.py
  src/services/deployment/manager.py
  tests/mocks/mock_tools.py
Due: pytest-check, mypy-check, validate-config

refactor: improve project root resolution and command validation in deployment manager
  src/services/deployment/manager.py
  tests/unit/services/deployment/test_manager.py
Due: pytest-check, mypy-check

feat: add locust load harness and middleware tests
  CHANGELOG.md
  README.md
  docs/testing/testing-guide.md
  scripts/dev.py
  src/services/fastapi/middleware/security.py
  tests/load/locustfile.py
  tests/unit/services/fastapi/__init__.py
  tests/unit/services/fastapi/test_compression_middleware.py
  tests/unit/services/fastapi/test_security_middleware.py
Due: pytest-check, mypy-check, update-docs

fix: harden safe response sanitization
  src/services/errors.py
  tests/unit/services/test_service_errors.py
Due: pytest-check, mypy-check

fix: harden observability initialization wiring
  src/services/observability/init.py
  tests/unit/services/observability/test_init.py
Due: pytest-check, mypy-check

test: rewrite database CLI and settings defaults suites
  tests/unit/cli/commands/test_database.py
  tests/unit/config/test_settings_defaults.py
Due: pytest-check

test: add FastAPI factory and middleware coverage
  tests/unit/api/test_app_factory.py
  tests/unit/services/fastapi/middleware/conftest.py
  tests/unit/services/fastapi/middleware/test_compression.py
  tests/unit/services/fastapi/middleware/test_correlation.py
  tests/unit/services/fastapi/middleware/test_manager.py
  tests/unit/services/fastapi/middleware/test_performance.py
  tests/unit/services/fastapi/middleware/test_security.py
  tests/unit/services/fastapi/middleware/test_timeout.py
  tests/unit/services/fastapi/middleware/test_tracing.py
  tests/unit/services/fastapi/middleware/test_utils.py
  tests/unit/services/fastapi/test_dependencies_core.py
Due: pytest-check

fix: refine exception handling across various modules for improved robustness
  scripts/ci/check_rag_compression.py
  scripts/dev.py
  scripts/eval/rag_golden_eval.py
  scripts/validation/gpu_validation.py
  src/api/app_factory.py
  src/cli/main.py
  src/cli/unified.py
  src/infrastructure/container.py
  src/mcp_tools/tools/analytics.py
  src/mcp_tools/tools/configuration.py
  src/mcp_tools/tools/embeddings.py
  src/mcp_tools/tools/projects.py
  src/security/ml_security.py
  src/services/core/qdrant_alias_manager.py
  src/services/deployment/manager.py
  src/services/embeddings/manager/providers.py
  src/services/fastapi/dependencies.py
  src/services/fastapi/middleware/correlation.py
  src/services/fastapi/middleware/tracing.py
  src/services/hyde/engine.py
  src/services/observability/dependencies.py
  src/services/observability/tracing.py
  src/services/service_resolver.py
  src/services/utilities/hnsw_optimizer.py
  src/services/vector_db/service.py
  src/utils/gpu.py
  tests/ci/test_parallel_execution.py
  tests/load/locustfile.py
Due: pytest-check, mypy-check

fix(deps): update changelog formatting and enhance dependency specifications for observability
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: validate-config

tests: implement comprehensive tests for embedding providers and selection heuristics
  src/mcp_tools/tools/documents.py
  tests/stubs/__init__.py
  tests/stubs/firecrawl/__init__.py
  tests/stubs/langchain_mcp_adapters/__init__.py
  tests/stubs/langchain_mcp_adapters/client.py
  tests/stubs/langchain_mcp_adapters/sessions.py
  tests/unit/services/embeddings/test_fastembed_provider.py
  tests/unit/services/embeddings/test_manager.py
  tests/unit/services/embeddings/test_openai_provider.py
  tests/unit/services/embeddings/test_pipeline.py
  tests/unit/services/embeddings/test_providers.py
  tests/unit/services/embeddings/test_selection_usage.py
  tests/unit/services/embeddings/test_usage_tracker.py
Due: pytest-check, mypy-check

fix: enhance exception handling and improve imports across multiple modules
  docs/build_config/conf.py
  scripts/validation/cpu_validation.py
  src/services/agents/langgraph_runner.py
  src/services/agents/tool_execution_service.py
  src/services/browser/providers/crawl4ai.py
  src/services/browser/providers/playwright.py
  src/services/fastapi/middleware/compression.py
  src/services/observability/init.py
  tests/unit/cli/commands/test_config.py
  tests/unit/mcp_tools/tools/test_collection_management.py
  tests/unit/mcp_tools/tools/test_embeddings.py
  tests/unit/services/agents/test_dynamic_tool_discovery.py
  tests/unit/services/embeddings/conftest.py
  tests/unit/services/embeddings/test_base_provider.py
  tests/unit/services/fastapi/test_compression_middleware.py
  tests/unit/services/fastapi/test_security_middleware.py
  tests/unit/services/observability/test_init.py
Due: pytest-check, mypy-check, update-docs

Path conditions:
  pytest-check: any of: ^(src/|tests/)
  mypy-check: any of: ^src/.*\.py$
  update-docs: any of: ^(docs/|README\.md|mkdocs\.yml)
  validate-config: any of: ^(\.env.*|pyproject\.toml|src/config/)
