Repository BjornMelin/ai-docs-vector-db-hybrid-scraper: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, mypy-check, update-docs, validate-config

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# Run `uv tool install pre-commit && pre-commit install` to set up

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        exclude: '^(.*\.md|.*\.txt)$'
      - id: end-of-file-fixer
        exclude: '^(.*\.md|.*\.txt)$'
      - id: check-yaml
        args: ['--unsafe']
      - id: check-toml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: debug-statements
      - id: check-docstring-first
      - id: check-case-conflict

  # Python code formatting and linting with Ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Linter
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        types_or: [python, pyi, jupyter]
      # Formatter
      - id: ruff-format
        types_or: [python, pyi, jupyter]

  # Security checks
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.10
    hooks:
      - id: bandit
        args: ['-r', 'src/', '-f', 'json']
        exclude: '^tests/'

  # Secret detection
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.21.2
    hooks:
      - id: gitleaks

  # Dependency checks
  - repo: https://github.com/lucas-c/pre-commit-hooks-safety
    rev: v1.3.2
    hooks:
      - id: python-safety-dependencies-check
        files: pyproject.toml

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.42.0
    hooks:
      - id: markdownlint
        args: [--fix]
        exclude: '^(htmlcov|cache|logs)/'

  # YAML formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json]
        exclude: '^(.*\.lock|uv\.lock)$'

  # Local hooks for project-specific checks
  - repo: local
    hooks:
      - id: pytest-check
        name: Run pytest
        entry: uv run pytest tests/unit --tb=short --maxfail=5 -x --disable-warnings
        language: system
        pass_filenames: false
        always_run: false
        files: '^(src/|tests/)'
        stages: [commit]

      - id: mypy-check
        name: Run mypy type checking
        entry: bash -c 'if command -v mypy &> /dev/null; then uv run mypy src/; else echo "mypy not installed, skipping"; fi'
        language: system
        pass_filenames: false
        files: '^src/.*\.py$'
        stages: [commit]

      - id: check-file-naming
        name: Check file naming conventions
        entry: bash -c 'find src tests -name "*.py" | grep -E "[A-Z]" && echo "❌ Python files should use snake_case" && exit 1 || echo "✅ File naming looks good"'
        language: system
        pass_filenames: false
        stages: [commit]

      - id: update-docs
        name: Update documentation
        entry: python scripts/docs_automation.py --skip-validation --build-only
        language: system
        files: '^(docs/|README\.md|mkdocs\.yml)'
        pass_filenames: false
        stages: [commit]

      - id: validate-config
        name: Validate configuration
        entry: python scripts/validate_config.py
        language: system
        files: '^(\.env.*|pyproject\.toml|src/config/)'
        pass_filenames: false
        stages: [commit]

# Configuration for pre-commit
default_stages: [commit]
fail_fast: false
minimum_pre_commit_version: "3.0.0"

# Skip hooks for certain commits
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ''
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: weekly
  skip: []
  submodules: false

refactor(dependencies): simplify dependency initialization and enhance health checker timeout handling
  src/services/fastapi/dependencies.py
  tests/unit/services/fastapi/test_dependencies_core.py
Due: pytest-check, mypy-check

feat(dependencies): add asgi-correlation-id and purgatory packages; enhance server dependencies
  pyproject.toml
  src/infrastructure/__init__.py
  uv.lock
Due: pytest-check, mypy-check, validate-config

refactor(middleware, tests): streamline middleware imports and enhance test client manager usage
  src/services/fastapi/middleware/__init__.py
  tests/unit/conftest.py
  tests/unit/mcp_tools/test_search_tools.py
  tests/unit/mcp_tools/test_tool_registry.py
  tests/unit/mcp_tools/tools/test_collection_management.py
  tests/unit/mcp_tools/tools/test_content_intelligence.py
  tests/unit/mcp_tools/tools/test_documents_ingest.py
Due: pytest-check, mypy-check

feat: middleware components for improved clarity and functionality
  src/mcp_services/analytics_service.py
  src/mcp_services/document_service.py
  src/mcp_services/search_service.py
  src/mcp_tools/tool_registry.py
  src/mcp_tools/tools/__init__.py
  src/mcp_tools/tools/analytics.py
  src/mcp_tools/tools/document_management.py
  src/mcp_tools/tools/query_processing_tools.py
  src/mcp_tools/tools/retrieval.py
  src/mcp_tools/tools/search.py
  src/mcp_tools/tools/search_tools.py
  src/mcp_tools/tools/utilities.py
  src/services/fastapi/middleware/compression.py
  src/services/fastapi/middleware/correlation.py
  src/services/fastapi/middleware/manager.py
  src/services/fastapi/middleware/performance.py
  src/services/fastapi/middleware/security.py
Due: pytest-check, mypy-check

refactor: FastAPI middleware management and enhance utility functions
  src/api/app_factory.py
  src/services/fastapi/__init__.py
  src/services/fastapi/middleware/manager.py
  src/services/fastapi/middleware/timeout.py
  src/services/fastapi/middleware/tracing.py
  src/services/fastapi/middleware/utils.py
  src/services/fastapi/production_server.py
  tests/unit/services/fastapi/middleware/test_security_middleware.py
  tests/unit/services/fastapi/test_middleware_manager.py
Due: pytest-check, mypy-check

refactor: remove obsolete crawling services: FirecrawlProvider, LightweightScraper, and CrawlManager
  src/services/browser/automation_router.py
  src/services/browser/browser_router.py
  src/services/crawling/__init__.py
  src/services/crawling/base.py
  src/services/crawling/c4a_presets.py
  src/services/crawling/c4a_provider.py
  src/services/crawling/firecrawl_provider.py
  src/services/crawling/lightweight_scraper.py
  src/services/crawling/manager.py
Due: pytest-check, mypy-check

test: add unit tests for middleware components including compression, correlation, performance, security, timeout, tracing, and utility functions
  tests/unit/services/fastapi/middleware/test_compression.py
  tests/unit/services/fastapi/middleware/test_correlation.py
  tests/unit/services/fastapi/middleware/test_manager.py
  tests/unit/services/fastapi/middleware/test_performance.py
  tests/unit/services/fastapi/middleware/test_security.py
  tests/unit/services/fastapi/middleware/test_timeout.py
  tests/unit/services/fastapi/middleware/test_tracing.py
  tests/unit/services/fastapi/middleware/test_utils.py
Due: pytest-check

tests: enhance web search tests and add new dependencies
  pyproject.toml
  src/services/fastapi/middleware/manager.py
  tests/unit/mcp_tools/conftest.py
  tests/unit/mcp_tools/test_search_tools.py
  tests/unit/mcp_tools/tools/__init__.py
  tests/unit/mcp_tools/tools/test_cache.py
  tests/unit/mcp_tools/tools/test_documents.py
  tests/unit/mcp_tools/tools/test_retrieval.py
  tests/unit/mcp_tools/tools/test_search.py
  tests/unit/mcp_tools/tools/test_search_tools.py
  tests/unit/mcp_tools/tools/test_utilities.py
  tests/unit/mcp_tools/tools/test_web_search.py
  tests/unit/services/fastapi/middleware/test_manager.py
  uv.lock
Due: pytest-check, mypy-check, validate-config

refactor(tests): update test cases for request and response models to improve validation and structure
  tests/unit/mcp_tools/models/test_requests.py
  tests/unit/mcp_tools/models/test_responses.py
  tests/unit/mcp_tools/test_context_typing.py
  tests/unit/mcp_tools/test_tool_registry.py
  tests/unit/mcp_tools/tools/test_embeddings.py
  tests/unit/mcp_tools/tools/test_hybrid_search.py
Due: pytest-check

refactor(tests): improve context handling in retrieval tests and enhance test structure
  src/mcp_tools/tools/_shared.py
  src/mcp_tools/tools/retrieval.py
  tests/unit/mcp_tools/tools/test_retrieval.py
Due: pytest-check, mypy-check

refactor(tests): enhance lightweight scrape tests with improved function exposure and error handling
  tests/unit/mcp_tools/tools/test_lightweight_scrape.py
Due: pytest-check

refactor: update browser service imports and improve telemetry repository documentation
  src/services/browser/__init__.py
  src/services/fastapi/middleware/manager.py
  src/services/monitoring/telemetry_repository.py
  tests/unit/services/fastapi/middleware/conftest.py
Due: pytest-check, mypy-check

feat(dependencies): add tavily-python package for web scraping functionality
  pyproject.toml
  uv.lock
Due: validate-config

fix(dependencies): update qdrant-client and sentence-transformers versions, remove unused dependencies
  pyproject.toml
  uv.lock
Due: validate-config

feat(adapter): add Firecrawl v2 adapter for async scraping and crawling
  src/services/browser/firecrawl_adapter.py
Due: pytest-check, mypy-check

feat(firecrawl, tests): implement firecrawl_adapter.py and unit tests for FirecrawlAdapter methods
  src/services/browser/firecrawl_adapter.py
  tests/unit/services/browser/test_firecrawl_adapter.py
Due: pytest-check, mypy-check

refactor: UnifiedBrowserManager and CrawlingManager for improved architecture
  src/services/browser/lightweight_scraper.py
  src/services/browser/unified_manager.py
  src/services/managers/crawling_manager.py
Due: pytest-check, mypy-check

refactor(config): rebuild configuration stack and simplify validation logic
  CHANGELOG.md
Due: none

feat(dependencies): update ruff version and add respx to dev dependencies
  pyproject.toml
  uv.lock
Due: validate-config

refactor(config): enhance settings provider and improve configuration structure
  src/config/loader.py
Due: pytest-check, mypy-check, validate-config

refactor(health): streamline health check methods and improve documentation
  src/services/monitoring/health.py
Due: pytest-check, mypy-check

refactor(circuit-breaker): integrate CircuitBreakerManager and improve cache warming logic
  src/infrastructure/database/connection_manager.py
  src/infrastructure/shared.py
  src/services/browser/__init__.py
  src/services/browser/lightweight_scraper.py
  src/services/cache/performance_cache.py
  src/services/circuit_breaker/provider.py
  src/services/registry.py
  tests/integration/browser/test_lightweight_scraper_integration.py
  tests/unit/infrastructure/test_http_mocking_patterns.py
  tests/unit/infrastructure/test_pydantic_settings_patterns.py
  tests/unit/services/browser/test_lightweight_scraper.py
Due: pytest-check, mypy-check

refactor(circuit-breaker): improve CircuitBreakerManager initialization and status handling refactor(errors): lazy load circuit breaker manager to avoid import cycles
  src/architecture/__init__.py
  src/services/circuit_breaker/circuit_breaker_manager.py
  src/services/errors.py
Due: pytest-check, mypy-check

refactor: remove legacy compatibility shims
  src/mcp_tools/tools/collection_management.py
  src/mcp_tools/tools/documents.py
  src/mcp_tools/tools/payload_indexing.py
  src/security/__init__.py
  src/services/vector_db/service.py
  tests/unit/mcp_tools/tools/test_collection_management.py
  tests/unit/mcp_tools/tools/test_documents_ingest.py
  tests/unit/mcp_tools/tools/test_payload_indexing.py
Due: pytest-check, mypy-check

chore: update src/services/vector_db/service.py
  src/services/vector_db/service.py
Due: pytest-check, mypy-check

fix: refine analytics and rag package exports
  CHANGELOG.md
  docs/api/src.services.analytics.rst
  docs/api/src.services.rag.rst
  scripts/eval/rag_golden_eval.py
  src/mcp_tools/tools/configuration.py
  src/mcp_tools/tools/lightweight_scrape.py
  src/mcp_tools/tools/search.py
  src/services/analytics/__init__.py
  src/services/crawling/c4a_provider.py
  src/services/embeddings/manager/__init__.py
  src/services/rag/__init__.py
  src/services/rag/generator.py
  src/services/vector_db/service.py
  tests/integration/end_to_end/test_rag_end_to_end.py
  tests/integration/rag/test_langgraph_pipeline_integration.py
  tests/integration/services/test_rag_service_integration.py
  tests/performance/test_rag_pipeline_performance.py
  tests/performance/test_search_orchestrator_performance.py
  tests/test_infrastructure.py
  tests/unit/services/analytics/__init__.py
  tests/unit/services/analytics/test_package_exports.py
  tests/unit/services/monitoring/test_metrics.py
  tests/unit/services/query_processing/test_orchestrator.py
  tests/unit/services/rag/test_langgraph_pipeline.py
  tests/unit/services/rag/test_package_exports.py
  tests/unit/services/rag/test_retriever.py
  tests/utils/assertion_helpers.py
  tests/utils/modern_ai_testing.py
Due: pytest-check, mypy-check, update-docs

tests: update tests/unit/services/analytics/test_package_exports.py
  tests/unit/services/analytics/test_package_exports.py
Due: pytest-check

fix: align content intelligence docstring spacing
  src/services/content_intelligence/classifiers.py
  src/services/content_intelligence/quality_assessor.py
  src/services/content_intelligence/utils.py
  tests/unit/services/content_intelligence/_dependency_stubs.py
  tests/unit/services/content_intelligence/test_classifiers.py
  tests/unit/services/content_intelligence/test_quality_assessor.py
  tests/unit/services/content_intelligence/test_utils.py
Due: pytest-check, mypy-check

refactor:stress testing framework and improve metrics handling
  scripts/eval/rag_golden_eval.py
  src/benchmarks/load_test_runner.py
  src/benchmarks/performance_profiler.py
  src/infrastructure/container.py
  src/mcp_tools/tools/configuration.py
  src/mcp_tools/tools/lightweight_scrape.py
  src/mcp_tools/tools/search.py
  src/security/ml_security.py
  src/services/content_intelligence/quality_assessor.py
  src/services/crawling/c4a_provider.py
  src/services/embeddings/manager/__init__.py
  src/services/rag/__init__.py
  src/services/rag/generator.py
  src/services/rag/retriever.py
  src/services/vector_db/service.py
  tests/data_quality/conftest.py
  tests/load/locust_load_runner.py
  tests/load/performance_utils.py
  tests/load/run_load_tests.py
  tests/load/runner_cli.py
  tests/load/runner_core.py
  tests/load/stress_testing/conftest.py
  tests/load/stress_testing/test_breaking_points.py
  tests/load/stress_testing/test_circuit_breakers.py
  tests/load/stress_testing/test_stress_load.py
  tests/load/stress_testing/test_system_monitoring.py
  tests/test_infrastructure.py
  tests/unit/services/analytics/test_package_exports.py
  tests/unit/services/hyde/test_generator.py
  tests/unit/services/query_processing/test_orchestrator.py
  tests/unit/services/rag/test_package_exports.py
  tests/unit/services/test_decorators.py
  tests/utils/assertion_helpers.py
  tests/utils/minimal_ai_testing.py
  tests/utils/modern_ai_testing.py
  uv.lock
Due: pytest-check, mypy-check

refactor: unit tests for ClientManager and add RAG tool tests
  CHANGELOG.md
  docs/developers/architecture-and-orchestration.md
  src/infrastructure/client_manager.py
  src/mcp_tools/tools/rag.py
  src/services/dependencies.py
  tests/unit/infrastructure/test_client_manager.py
  tests/unit/mcp_tools/tools/test_rag.py
  tests/unit/stub_factories.py
Due: pytest-check, mypy-check, update-docs

refactor: update imports to use models from src.config.models
  src/api/routers/config.py
  src/mcp_tools/tools/documents.py
  src/mcp_tools/tools/projects.py
  src/mcp_tools/tools/retrieval.py
  src/security.py
  src/services/browser/anti_detection.py
  src/services/cache/manager.py
  src/services/dependencies.py
  src/services/managers/database_manager.py
  src/services/utilities/__init__.py
  src/unified_mcp_server.py
  tests/integration/browser/test_lightweight_scraper_integration.py
  tests/unit/architecture/test_dual_mode.py
  tests/unit/config/test_config_models_complete.py
  tests/unit/config/test_observability_automation.py
  tests/unit/core/test_constants.py
  tests/unit/infrastructure/test_http_mocking_patterns.py
  tests/unit/infrastructure/test_pydantic_settings_patterns.py
  tests/unit/infrastructure/test_watchdog_integration.py
  tests/unit/mcp_tools/test_requests.py
  tests/unit/mcp_tools/tools/test_hybrid_search.py
  tests/unit/mcp_tools/tools/test_projects.py
  tests/unit/processing/test_chunker_behavior.py
  tests/unit/services/browser/test_anti_detection.py
  tests/unit/services/browser/test_lightweight_scraper.py
  tests/unit/services/browser/test_playwright_adapter.py
  tests/unit/services/monitoring/test_initialization.py
Due: pytest-check, mypy-check

refactor:cleanup codebase
  src/api/app_profiles.py
  src/architecture/features.py
  src/architecture/service_factory.py
  src/chunking.py
  src/config/loader.py
  src/config/models.py
  src/services/browser/playwright_adapter.py
  src/services/browser/router.py
  src/services/embeddings/manager/__init__.py
  src/services/embeddings/parallel.py
  src/services/processing/parallel_integration.py
  src/services/registry.py
  tests/unit/architecture/test_dual_mode.py
  tests/unit/services/browser/test_browser_router_rate_limiting.py
  tests/unit/services/browser/test_browser_use_adapter.py
Due: pytest-check, mypy-check, validate-config

refactor: remove obsolete test files for FirecrawlProvider and CrawlManager
  tests/fixtures/configuration.py
  tests/property/test_config_schemas.py
  tests/unit/infrastructure/test_client_manager.py
  tests/unit/services/crawling/__init__.py
  tests/unit/services/crawling/test_base.py
  tests/unit/services/crawling/test_c4a_presets.py
  tests/unit/services/crawling/test_c4a_provider.py
  tests/unit/services/crawling/test_firecrawl_provider.py
  tests/unit/services/crawling/test_manager.py
Due: pytest-check

refactor: improve dependency injection and error handling in FirecrawlAdapter tests
  src/infrastructure/container.py
  src/services/browser/browser_use_adapter.py
  tests/integration/browser/test_lightweight_scraper_integration.py
  tests/property/strategies.py
  tests/unit/infrastructure/test_client_manager.py
  tests/unit/services/browser/test_firecrawl_adapter.py
Due: pytest-check, mypy-check

refactor(tests): update AutomationRouter tests with improved stubbing and fixture setup
  tests/unit/services/browser/test_browser_router.py
Due: pytest-check

refactor: enhance config validation with new helper functions and tests
  src/architecture/modes.py
  src/cli/wizard/template_manager.py
  src/cli/wizard/validators.py
  src/config/__init__.py
  src/config/loader.py
  src/infrastructure/client_manager.py
  tests/unit/config/test_config_validation_helper.py
Due: pytest-check, mypy-check, validate-config

refactor(validators): improve validation error messages for API key, URL, path, and configuration
  src/cli/wizard/validators.py
  src/mcp_tools/tools/configuration.py
Due: pytest-check, mypy-check

feat(dependencies): add flagsmith package for server functionality
  pyproject.toml
  uv.lock
Due: validate-config

fix(dependencies): add tavily-python to optional dependencies and update 'all' extras
  pyproject.toml
  uv.lock
Due: validate-config

docs: add section on disallowed git commands to repository guidelines
  AGENTS.md
Due: none
