Repository BjornMelin/ai-docs-vector-db-hybrid-scraper: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, mypy-check, update-docs, validate-config

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# Run `uv tool install pre-commit && pre-commit install` to set up

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        exclude: '^(.*\.md|.*\.txt)$'
      - id: end-of-file-fixer
        exclude: '^(.*\.md|.*\.txt)$'
      - id: check-yaml
        args: ['--unsafe']
      - id: check-toml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: debug-statements
      - id: check-docstring-first
      - id: check-case-conflict

  # Python code formatting and linting with Ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Linter
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        types_or: [python, pyi, jupyter]
      # Formatter
      - id: ruff-format
        types_or: [python, pyi, jupyter]

  # Security checks
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.10
    hooks:
      - id: bandit
        args: ['-r', 'src/', '-f', 'json']
        exclude: '^tests/'

  # Secret detection
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.21.2
    hooks:
      - id: gitleaks

  # Dependency checks
  - repo: https://github.com/lucas-c/pre-commit-hooks-safety
    rev: v1.3.2
    hooks:
      - id: python-safety-dependencies-check
        files: pyproject.toml

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.42.0
    hooks:
      - id: markdownlint
        args: [--fix]
        exclude: '^(htmlcov|cache|logs)/'

  # YAML formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json]
        exclude: '^(.*\.lock|uv\.lock)$'

  # Local hooks for project-specific checks
  - repo: local
    hooks:
      - id: pytest-check
        name: Run pytest
        entry: uv run pytest tests/unit --tb=short --maxfail=5 -x --disable-warnings
        language: system
        pass_filenames: false
        always_run: false
        files: '^(src/|tests/)'
        stages: [commit]

      - id: mypy-check
        name: Run mypy type checking
        entry: bash -c 'if command -v mypy &> /dev/null; then uv run mypy src/; else echo "mypy not installed, skipping"; fi'
        language: system
        pass_filenames: false
        files: '^src/.*\.py$'
        stages: [commit]

      - id: check-file-naming
        name: Check file naming conventions
        entry: bash -c 'find src tests -name "*.py" | grep -E "[A-Z]" && echo "❌ Python files should use snake_case" && exit 1 || echo "✅ File naming looks good"'
        language: system
        pass_filenames: false
        stages: [commit]

      - id: update-docs
        name: Update documentation
        entry: python scripts/docs_automation.py --skip-validation --build-only
        language: system
        files: '^(docs/|README\.md|mkdocs\.yml)'
        pass_filenames: false
        stages: [commit]

      - id: validate-config
        name: Validate configuration
        entry: python scripts/validate_config.py
        language: system
        files: '^(\.env.*|pyproject\.toml|src/config/)'
        pass_filenames: false
        stages: [commit]

# Configuration for pre-commit
default_stages: [commit]
fail_fast: false
minimum_pre_commit_version: "3.0.0"

# Skip hooks for certain commits
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ''
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: weekly
  skip: []
  submodules: false

feat: modernize configuration system with Pydantic Settings 2.0
  .env.enterprise
  .env.modern.example
  .env.simple
  docker-compose.enterprise.yml
  docker-compose.simple.yml
  docs/configuration-migration-guide.md
  docs/portfolio/interactive-api-explorer.py
  docs/portfolio/performance-analysis.md
  examples/security_production_config.py
  pyproject.toml
  scripts/validate_config_modernization.py
  src/api/main.py
  src/api/routers/simple/documents.py
  src/services/__init__.py
  src/services/security/__init__.py
  tests/performance/conftest.py
  tests/security/test_api_security.py
  tests/security/test_comprehensive_security.py
  tests/unit/architecture/__init__.py
  tests/unit/services/test_modern_libraries.py
  uv.lock
Due: pytest-check, mypy-check, update-docs, validate-config

docs: update main documentation with Portfolio ULTRATHINK achievements
  README.md
  docs/index.md
Due: update-docs

test: update testing infrastructure with Portfolio ULTRATHINK patterns
  tests/TESTING_INFRASTRUCTURE_SUMMARY.md
  tests/TEST_PATTERNS_STYLE_GUIDE.md
Due: pytest-check

test: enhance specialized testing documentation with Portfolio ULTRATHINK
  tests/integration/README.md
  tests/security/README.md
Due: pytest-check

build: update dependencies and lock file
  pyproject.toml
  uv.lock
Due: validate-config

feat(config): implement comprehensive configuration modernization
  src/config/__init__.py
  src/config/auto_detect.py
  src/config/config_manager.py
  src/config/core.py
  src/config/drift_detection.py
  src/config/enterprise.py
  src/config/error_handling.py
  src/config/lifecycle.py
  src/config/migration.py
  src/config/modern.py
  src/config/observability/api.py
  src/config/observability/automation.py
  src/config/observability/cli.py
  src/config/observability/dashboard.py
  src/config/reload.py
  src/config/security.py
  src/config/validators.py
Due: pytest-check, mypy-check, validate-config

feat(enterprise): add enterprise integration and management systems
  src/infrastructure/clients/__init__.py
  src/infrastructure/clients/firecrawl_client.py
  src/infrastructure/clients/http_client.py
  src/infrastructure/clients/openai_client.py
  src/infrastructure/clients/qdrant_client.py
  src/infrastructure/clients/redis_client.py
  src/infrastructure/container.py
  src/services/enterprise/cache.py
  src/services/enterprise/integration.py
  src/services/enterprise/search.py
  src/services/managers/__init__.py
  src/services/managers/crawling_manager.py
  src/services/managers/database_manager.py
  src/services/managers/embedding_manager.py
  src/services/managers/monitoring_manager.py
Due: pytest-check, mypy-check

feat(rag): implement Pydantic-AI based agentic RAG system
  examples/agentic_rag_demo.py
  src/mcp_tools/tools/agentic_rag.py
  src/services/agents/__init__.py
  src/services/agents/core.py
  src/services/agents/query_orchestrator.py
  src/services/agents/tool_composition.py
Due: pytest-check, mypy-check

feat(performance): add parallel processing optimization system
  examples/parallel_processing_di_demo.py
  examples/parallel_processing_usage.py
  examples/simple_parallel_processing_demo.py
  src/services/embeddings/parallel.py
  src/services/processing/algorithms.py
  src/services/processing/parallel_integration.py
Due: pytest-check, mypy-check

feat(automation): implement self-healing architecture system
  src/automation/__init__.py
  src/automation/config_automation.py
  src/automation/infrastructure_automation.py
  src/automation/self_healing/auto_remediation_engine.py
  src/automation/self_healing/autonomous_health_monitor.py
  src/automation/self_healing/intelligent_chaos_orchestrator.py
  src/automation/self_healing/predictive_maintenance.py
Due: pytest-check, mypy-check

refactor(api): modernize API infrastructure and routing
  src/api/app_factory.py
  src/api/routers/config.py
  src/api/routers/config_drift.py
  src/api/routers/simple/documents.py
  src/api/routers/simple/search.py
  src/infrastructure/client_manager.py
  src/infrastructure/database/connection_manager.py
  src/infrastructure/database/monitoring.py
  src/infrastructure/shared.py
Due: pytest-check, mypy-check

test: add specialized testing for new features
  tests/benchmarks/performance_suite.py
  tests/conftest_enhanced.py
  tests/integration/test_parallel_processing_integration.py
  tests/unit/ai/test_embedding_properties_fixed.py
  tests/unit/services/agents/test_agentic_rag.py
Due: pytest-check

refactor(cli): enhance CLI tools and MCP server capabilities
  src/architecture/features.py
  src/architecture/service_factory.py
  src/benchmarks/benchmark_reporter.py
  src/benchmarks/hybrid_search_benchmark.py
  src/benchmarks/load_test_runner.py
  src/benchmarks/metrics_collector.py
  src/benchmarks/performance_profiler.py
  src/chunking.py
  src/cli/commands/batch.py
  src/cli/commands/config.py
  src/cli/commands/database.py
  src/cli/main.py
  src/cli/unified.py
  src/cli/wizard/audit.py
  src/cli/wizard/template_manager.py
  src/cli/wizard/validators.py
  src/cli_worker.py
  src/crawl4ai_bulk_embedder.py
  src/manage_vector_db.py
  src/mcp_tools/tool_registry.py
  src/mcp_tools/tools/analytics.py
  src/mcp_tools/tools/collections.py
  src/mcp_tools/tools/content_intelligence.py
  src/mcp_tools/tools/documents.py
  src/mcp_tools/tools/filtering_tools.py
  src/mcp_tools/tools/helpers/pipeline_factory.py
  src/mcp_tools/tools/helpers/tool_registrars.py
  src/mcp_tools/tools/helpers/tool_registrars_additional.py
  src/mcp_tools/tools/helpers/validation_helper.py
  src/mcp_tools/tools/lightweight_scrape.py
  src/mcp_tools/tools/projects.py
  src/mcp_tools/tools/query_processing_tools.py
  src/mcp_tools/tools/search_tools.py
  src/security.py
  src/security/ml_security.py
  src/unified_mcp_server.py
  src/utils/health_checks.py
Due: pytest-check, mypy-check

chore: add comprehensive quality assurance automation
  scripts/advanced_quality_fixes.py
  scripts/apply_f821_fixes.py
  scripts/check_circular_deps.py
  scripts/phase3_type_safety_fixes.py
  scripts/validate-architecture.py
  scripts/validate-transformation.py
  scripts/zero_violations_fix.py
Due: none

docs: update architecture documentation and examples
  docs/developers/architecture.md
  docs/portfolio/interactive-api-explorer.py
  docs/users/quick-start.md
  examples/config_reload_example.py
  examples/integration_success_demo.py
  examples/security_config_demo.py
  examples/security_production_config.py
  test_framework_simple.py
  verify_performance_framework.py
Due: update-docs

chore: preserve legacy client manager for reference
  src/infrastructure/client_manager_original_backup.py
Due: pytest-check, mypy-check

chore: remove temporary documentation and reports
  COMPREHENSIVE_MODERNIZATION_PRD.md
  DEVELOPER_EXPERIENCE_SUMMARY.md
  EXECUTIVE_SUMMARY.md
  FINAL_VALIDATION_REPORT.md
  MEMORY_LEAK_FIX_SUMMARY.md
  NAMING_AUDIT_RESULTS.md
  PERFORMANCE_OPTIMIZATION_REPORT.md
  PERFORMANCE_OPTIMIZATION_SUMMARY.md
  PLC0415_FINAL_VALIDATION_SUMMARY.md
  ROUND_5_FINAL_REPORT.md
  ROUND_5_SUBAGENT_5_REPORT.md
  SECURITY_FIXES_FINAL_REPORT.md
  SECURITY_FIXES_SUMMARY.md
  TRY_VIOLATIONS_CLEANUP_SUMMARY.md
  WEB_SCRAPING_ANALYSIS_2025.md
  ZERO_MAINTENANCE_IMPLEMENTATION_SUMMARY.md
  ZERO_MAINTENANCE_OPTIMIZATION_PLAN.md
  security_fix_report.md
Due: none

refactor(processing): update batch optimizer
  src/services/processing/batch_optimizer.py
Due: pytest-check, mypy-check

docs(research): finalize tool composition architecture decision and organize research reports
  subagents/COMPREHENSIVE_SYNTHESIS_REPORT.md
  subagents/MAIN_TRACKING_RESEARCH_REPORT.md
  subagents/P0/FINAL_PYDANTIC_AI_DECISION_REPORT.md
  subagents/P0/foundation-research/G1_pydantic_ai_native_composition.md
  subagents/P0/foundation-research/G2_lightweight_alternatives.md
  subagents/P0/foundation-research/G3_code_reduction_analysis.md
  subagents/P0/foundation-research/G4_integration_simplification.md
  subagents/P0/foundation-research/G5_enterprise_readiness.md
  subagents/P0/foundation-research/README.md
  subagents/P1/applied-research/A1_pydantic_ai_integration_analysis.md
  subagents/P1/applied-research/A2_pydantic_ai_integration_analysis_dual.md
  subagents/P1/applied-research/B1_mcp_framework_optimization_analysis.md
  subagents/P1/applied-research/B2_mcp_framework_optimization_dual.md
  subagents/P1/applied-research/C1_fastmcp_integration_analysis.md
  subagents/P1/applied-research/C2_fastmcp_integration_analysis_dual.md
  subagents/P1/applied-research/README.md
  subagents/archive/deprecated-tool-composition-research/D1_tool_composition_architecture_review.md
  subagents/archive/deprecated-tool-composition-research/D2_tool_composition_architecture_dual.md
  subagents/archive/deprecated-tool-composition-research/E1_tool_composition_deep_analysis.md
  subagents/archive/deprecated-tool-composition-research/E2_tool_composition_strategic_analysis.md
  subagents/archive/deprecated-tool-composition-research/E3_tool_composition_implementation_feasibility.md
  subagents/archive/deprecated-tool-composition-research/E4_tool_composition_ecosystem_integration.md
  subagents/archive/deprecated-tool-composition-research/F1_tool_composition_final_decision.md
  subagents/archive/deprecated-tool-composition-research/README.md
Due: none

docs: integrate comprehensive FastMCP 2.0+ modernization research findings
  subagents/COMPREHENSIVE_SYNTHESIS_REPORT.md
  subagents/FASTMCP_MODERNIZATION_SYNTHESIS_REPORT.md
  subagents/H1_fastmcp_modernization_analysis.md
  subagents/H2_mcp_protocol_optimization_analysis.md
  subagents/H3_middleware_architecture_optimization.md
  subagents/H4_integration_patterns_optimization.md
  subagents/H5_code_modernization_opportunities.md
  subagents/MAIN_TRACKING_RESEARCH_REPORT.md
  subagents/archive/I3_MCP_ENHANCEMENT_SUBAGENT_EXECUTION_PLAN.md
  subagents/archive/MCP_ENHANCEMENT_IMPLEMENTATION_PLAN.md
  subagents/archive/MCP_SERVER_ENHANCEMENT_RESEARCH_REPORT.md
Due: none

docs(research): complete comprehensive portfolio modernization analysis
  .subagents/done/P0/codebase-analysis.md
  .subagents/done/P0/current-state.md
  .subagents/done/P0/enterprise-assessment.md
  .subagents/done/P0/library-landscape.md
  .subagents/done/P0/portfolio-context.md
  .subagents/done/P1/architecture-simplification.md
  .subagents/done/P1/library-selection.md
  .subagents/done/P1/security-performance.md
  .subagents/master_report.md
  .subagents/status.json
  package-lock.json
  subagents/in-progress/P1/maintenance-portfolio.md
Due: none

feat: implement native Pydantic-AI tool agent with hybrid migration
  examples/enhanced_security_config_demo.py
  src/config/optimized.py
  src/mcp_tools/tool_registry.py
  src/mcp_tools/tools/agentic_rag.py
  src/mcp_tools/tools/rag.py
  src/services/agents/__init__.py
  src/services/agents/native_tool_agent.py
  src/services/agents/tool_agent_migration.py
  src/services/fastapi/production_server.py
  src/unified_mcp_server.py
  test_security_config_simple.py
  tests/integration/test_enhanced_security_config.py
  tests/property/strategies.py
  tests/property/test_config_schemas.py
  tests/test_config_reload.py
  tests/unit/mcp_tools/test_tool_registry.py
  tests/unit/test_unified_mcp_server.py
Due: pytest-check, mypy-check, validate-config

feat: implement pure Pydantic-AI native orchestration system
  src/mcp_tools/tools/agentic_rag.py
  src/services/agents/__init__.py
  src/services/agents/agentic_orchestrator.py
  src/services/agents/native_tool_agent.py
  src/services/agents/tool_agent_migration.py
  src/services/agents/tool_composition.py
Due: pytest-check, mypy-check

feat: implement DynamicToolDiscovery engine with intelligent capability assessment
  src/mcp_services/__init__.py
  src/mcp_services/search_service.py
  src/mcp_tools/tools/agentic_rag.py
  src/services/agents/__init__.py
  src/services/agents/dynamic_tool_discovery.py
  subagents/J3_DYNAMIC_TOOL_COMPOSITION_ENGINE_REPORT.md
Due: pytest-check, mypy-check

feat: implement FastMCP 2.0+ modular server composition architecture
  src/mcp_services/__init__.py
  src/mcp_services/analytics_service.py
  src/mcp_services/document_service.py
  src/mcp_services/orchestrator_service.py
  src/mcp_services/search_service.py
  src/mcp_services/system_service.py
Due: pytest-check, mypy-check

feat: integrate AnalyticsService with existing enterprise observability infrastructure
  src/mcp_services/analytics_service.py
  subagents/J1_ENTERPRISE_AGENTIC_OBSERVABILITY_REPORT.md
  subagents/MAIN_TRACKING_RESEARCH_REPORT.md
Due: pytest-check, mypy-check

feat(agents): fix QueryOrchestrator critical coverage gap
  src/services/agents/query_orchestrator.py
  tests/unit/services/agents/conftest.py
  tests/unit/services/agents/test_agentic_rag.py
  tests/unit/services/agents/test_query_orchestrator_coverage.py
Due: pytest-check, mypy-check

feat(agents): implement comprehensive agent fallback system
  src/models/document_processing.py
  src/models/vector_search.py
  src/services/agents/__pycache__/__init__.cpython-311.pyc
  src/services/agents/__pycache__/agentic_orchestrator.cpython-311.pyc
  src/services/agents/__pycache__/coordination.cpython-311.pyc
  src/services/agents/__pycache__/core.cpython-311.pyc
  src/services/agents/__pycache__/dynamic_tool_discovery.cpython-311.pyc
  src/services/agents/__pycache__/integration.cpython-311.pyc
  src/services/agents/__pycache__/pydantic_native_orchestrator.cpython-311.pyc
  src/services/agents/__pycache__/query_orchestrator.cpython-311.pyc
  src/services/agents/__pycache__/tool_composition.cpython-311.pyc
  src/services/agents/agentic_orchestrator.py
  src/services/agents/core.py
  src/services/agents/dynamic_tool_discovery.py
  src/services/agents/query_orchestrator.py
  src/services/cache/manager.py
  src/services/cache/modern.py
  src/services/dependencies.py
  src/services/deployment/feature_flags.py
  src/services/functional/cache.py
  src/services/managers/database_manager.py
Due: pytest-check, mypy-check

feat: validate production agentic features with fallback modes
  PRODUCTION_VALIDATION_REPORT.md
  comprehensive_production_validation.py
  comprehensive_validation_report.json
  src/services/agents/coordination.py
  test_agent_validation.py
  validate_production_agentic_features.py
  validation_results.json
Due: pytest-check, mypy-check

docs: add validation summary for production agentic features
  VALIDATION_SUMMARY.md
Due: none

feat(config): consolidate configuration system
  src/config/__init__.py
  src/config/auto_detect.py
  src/config/cache_optimization.py
  src/config/config_manager.py
  src/config/core.py
  src/config/deployment_tiers.py
  src/config/drift_detection.py
  src/config/enterprise.py
  src/config/enums.py
  src/config/error_handling.py
  src/config/lifecycle.py
  src/config/migration.py
  src/config/modern.py
  src/config/observability/__init__.py
  src/config/observability/api.py
  src/config/observability/automation.py
  src/config/observability/cli.py
  src/config/observability/dashboard.py
  src/config/optimized.py
  src/config/performance_report.py
  src/config/reload.py
  src/config/reload_metrics.py
  src/config/security.py
  src/config/settings.py
  src/config/timeout_usage_example.py
  src/config/timeouts.py
  src/config/validators.py
Due: pytest-check, mypy-check, validate-config

fix(infrastructure): enhance agent fallback capabilities and infrastructure
  src/models/api_contracts.py
  src/services/cache/patterns.py
  src/services/monitoring/performance_monitor.py
  src/services/observability/tracking.py
  tests/utils/ai_testing_utilities.py
Due: pytest-check, mypy-check
