Repository BjornMelin/ai-docs-vector-db-hybrid-scraper: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, mypy-check, update-docs, validate-config

pytest-check:
  name: Run pytest
  entry: uv run pytest tests/unit --tb=short --maxfail=5 -x --disable-warnings
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - commit

mypy-check:
  name: Run mypy type checking
  entry: bash -c 'if command -v mypy &> /dev/null; then uv run mypy src/; else echo "mypy not installed, skipping"; fi'
  language: system
  pass_filenames: false
  stages:
  - commit

update-docs:
  name: Update documentation
  entry: python scripts/docs_automation.py --skip-validation --build-only
  language: system
  pass_filenames: false
  stages:
  - commit

validate-config:
  name: Validate configuration
  entry: python scripts/validate_config.py
  language: system
  pass_filenames: false
  stages:
  - commit

refactor(database_manager): update service references from Qdrant to VectorStoreService
  .gitignore
  src/services/managers/database_manager.py
Due: pytest-check, mypy-check

refactor(bulk_embedder): update storage references from Qdrant to unified vector store service feat(vector_db): add sparse_vector attribute to VectorRecord for enhanced data handling
  src/crawl4ai_bulk_embedder.py
  src/services/vector_db/adapter_base.py
Due: pytest-check, mypy-check

feat(audit): add utilities for auditing and normalizing Qdrant payload metadata
  scripts/vector/payload_audit.py
  src/mcp_tools/tools/helpers/tool_registrars.py
  src/mcp_tools/tools/helpers/tool_registrars_additional.py
  src/services/query_processing/clustering.py
  src/services/query_processing/orchestrator.py
  src/services/vector_db/payload_schema.py
  tests/unit/mcp_tools/tools/test_documents_ingest.py
Due: pytest-check, mypy-check

feat(vector-db): add support for query grouping in Qdrant adapter and service
  src/config/models.py
  src/mcp_tools/models/responses.py
  src/mcp_tools/tools/helpers/response_converter.py
  src/services/query_processing/federated.py
  src/services/vector_db/adapter.py
  src/services/vector_db/service.py
  tests/unit/services/query_processing/test_models.py
  tests/unit/services/vector_db/test_service.py
Due: pytest-check, mypy-check, validate-config

refactor(vector-db): streamline collection creation and deletion logging
  src/manage_vector_db.py
  tests/unit/services/vector_db/conftest.py
Due: pytest-check, mypy-check

feat(similarity): add similarity and distance helper functions with unit tests
  src/services/query_processing/utils/similarity.py
  tests/unit/services/query_processing/test_utils.py
Due: pytest-check, mypy-check

chore(changelog): update changelog with recent changes to query-processing and MCP response handling
  CHANGELOG.md
Due: none

feat(config): add QueryProcessingConfig and ScoreNormalizationStrategy models feat(vector-db): implement embed_query method for query embedding generation
  src/config/__init__.py
  src/config/loader.py
  src/config/models.py
  src/mcp_tools/tools/helpers/response_converter.py
  src/mcp_tools/tools/helpers/tool_registrars_additional.py
  src/services/vector_db/service.py
Due: pytest-check, mypy-check, validate-config

feat(distance): add support for string and enum metrics in distance calculations
  tests/unit/services/query_processing/test_utils.py
Due: pytest-check

feat(compression): add evaluation script and configuration for deterministic contextual compression
  scripts/eval/rag_compression_eval.py
  src/config/models.py
  src/contracts/__init__.py
  src/contracts/retrieval.py
  src/mcp_tools/models/responses.py
  src/services/query_processing/federated.py
Due: pytest-check, mypy-check, validate-config

chore(tests): remove empty unit test file for AI module
  tests/unit/ai/__init__.py
Due: pytest-check

feat(tests): add comprehensive unit tests for agent orchestration and coordination
  tests/unit/services/agents/conftest.py
  tests/unit/services/agents/test_agentic_orchestrator.py
  tests/unit/services/agents/test_compat_pydantic_ai.py
  tests/unit/services/agents/test_coordinator.py
  tests/unit/services/agents/test_dynamic_tool_discovery.py
  tests/unit/services/agents/test_strategy_shared.py
  tests/unit/services/agents/test_tool_orchestration.py
Due: pytest-check

feat(query-processing): refactor search result model and add compression utilities
  src/services/query_processing/clustering.py
  src/services/query_processing/models.py
  src/services/query_processing/rag/__init__.py
  src/services/query_processing/rag/compression.py
  src/services/rag/generator.py
  src/services/rag/retriever.py
  src/services/vector_db/service.py
Due: pytest-check, mypy-check

fix(circuit-breaker): clean up code formatting and improve readability
  src/services/agents/integration.py
  src/services/circuit_breaker/circuit_breaker_manager.py
Due: pytest-check, mypy-check

refactor(agents): refactor src/service/agents code structure for improved readability and maintainability and remove all mock implementations with real tooling and modules
  src/services/agents/__init__.py
  src/services/agents/_compat.py
  src/services/agents/_shared.py
  src/services/agents/agentic_orchestrator.py
  src/services/agents/coordination.py
  src/services/agents/core.py
  src/services/agents/dynamic_tool_discovery.py
  src/services/agents/query_orchestrator.py
  src/services/agents/tool_orchestration.py
Due: pytest-check, mypy-check

feat(models): add compression settings to RAGConfig for enhanced data handling
  src/services/rag/models.py
  tests/unit/services/agents/conftest.py
  tests/unit/services/functional/test_circuit_breaker.py
  tests/unit/services/monitoring/test_metrics.py
  tests/unit/services/vector_db/test_adapter.py
  tests/unit/services/vector_db/test_service.py
Due: pytest-check, mypy-check

feat: adopt langchain contextual compression
  pyproject.toml
  scripts/ci/check_rag_compression.py
  scripts/eval/rag_compression_eval.py
  src/services/query_processing/orchestrator.py
  src/services/rag/retriever.py
  tests/unit/mcp_tools/tools/test_query_processing.py
  tests/unit/services/rag/test_retriever.py
  uv.lock
Due: pytest-check, mypy-check, validate-config

docs: capture langchain compression rationale
  agent-logs/2025-10-01/agents/001-session-report.md
  docs/developers/adrs/0003-deterministic-contextual-compression.md
  docs/developers/adrs/0004-rag-module-consolidation.md
  docs/query_processing_final_plan.md
Due: update-docs

refactor(docs): remove deprecated helper modules and update retrieval contracts documentation
  docs/api/mcp_tools.tools.helpers.rst
  docs/api/mcp_tools.tools.rst
  docs/api/services.query_processing.rst
  docs/api/src.mcp_tools.tools.helpers.rst
  docs/api/src.mcp_tools.tools.rst
  docs/api/src.services.query_processing.rst
  docs/developers/adrs/0002-canonical-retrieval-contracts.md
Due: update-docs

refactor(tools): remove unused query processing helpers and streamline search tool registration
  src/mcp_tools/tools/__init__.py
  src/mcp_tools/tools/helpers/__init__.py
  src/mcp_tools/tools/helpers/pipeline_factory.py
  src/mcp_tools/tools/helpers/response_converter.py
  src/mcp_tools/tools/helpers/tool_registrars.py
  src/mcp_tools/tools/helpers/tool_registrars_additional.py
  src/mcp_tools/tools/helpers/validation_helper.py
  src/mcp_tools/tools/query_processing.py
  src/mcp_tools/tools/query_processing_tools.py
Due: pytest-check, mypy-check

refactor: remove query preprocessing, RAG utilities, and strategy selector modules
  src/services/query_processing/federated.py
  src/services/query_processing/preprocessor.py
  src/services/query_processing/rag/__init__.py
  src/services/query_processing/strategy_selector.py
Due: pytest-check, mypy-check

refactor: remove unit tests for SearchStrategySelector class due to refactoring of query processing strategies
  src/services/query_processing/rag/compression.py
  tests/integration/test_query_processing_integration.py
  tests/unit/mcp_tools/tools/test_pipeline_factory_helpers.py
  tests/unit/mcp_tools/tools/test_response_converter_helpers.py
  tests/unit/mcp_tools/tools/test_validation_helper_helpers.py
  tests/unit/services/query_processing/test_federated.py
  tests/unit/services/query_processing/test_federated_enums.py
  tests/unit/services/query_processing/test_federated_integration.py
  tests/unit/services/query_processing/test_federated_models.py
  tests/unit/services/query_processing/test_federated_service_advanced.py
  tests/unit/services/query_processing/test_federated_service_core.py
  tests/unit/services/query_processing/test_federated_service_merging.py
  tests/unit/services/query_processing/test_models.py
  tests/unit/services/query_processing/test_preprocessor.py
  tests/unit/services/query_processing/test_search_orchestrator.py
  tests/unit/services/query_processing/test_strategy_selector.py
Due: pytest-check, mypy-check

refactor: query processing models and enhance cache utilities
  src/api/routers/simple/search.py
  src/contracts/retrieval.py
  src/mcp_tools/models/responses.py
  src/services/query_processing/clustering.py
  src/services/query_processing/models.py
  src/services/query_processing/utils/cache.py
  src/services/query_processing/utils/metrics.py
  src/services/query_processing/utils/results.py
  src/services/vector_db/adapter.py
  src/services/vector_db/adapter_base.py
  tests/unit/services/vector_db/conftest.py
Due: pytest-check, mypy-check

refactor(docs): remove deprecated query processing modules and add compatibility matrix and evaluation harness
  docs/api/services.query_processing.rst
  docs/api/src.services.query_processing.rst
  docs/developers/adrs/0005-library-first-retrieval-architecture.md
  docs/developers/adrs/0006-evaluation-and-dependency-governance.md
  docs/developers/compatibility-matrix.md
  docs/observability/query_processing_metrics.md
  scripts/eval/rag_golden_eval.py
Due: update-docs

fix(dependencies): update fastembed and qdrant-client version constraints
  pyproject.toml
  uv.lock
Due: validate-config

feat(query-processing): Implement multiple code changes for improved functionality and performance
  .github/renovate.json
  agent-logs/2025-10-02/refactor-strategy.md
  docs/developers/compatibility-matrix.md
  docs/query_processing_response_contract.md
  src/services/query_processing/__init__.py
  src/services/query_processing/expansion.py
  src/services/query_processing/intent_classifier.py
  src/services/query_processing/pipeline.py
  src/services/query_processing/ranking.py
  tests/unit/services/vector_db/test_service.py
Due: pytest-check, mypy-check, update-docs

test(data): add golden RAG regression dataset
  tests/data/rag/golden_set.jsonl
  tests/unit/models/test_api_contracts.py
Due: pytest-check

feat: Introduce SimilarityMetric enum and refactor clustering tests
  src/services/query_processing/clustering.py
  src/services/query_processing/utils/similarity.py
  tests/unit/services/query_processing/test_clustering.py
Due: pytest-check, mypy-check

refactoe(tests): remove outdated unit tests for personalized ranking service
  src/services/query_processing/intent_classifier.py
  tests/unit/services/query_processing/test_expansion.py
  tests/unit/services/query_processing/test_intent_classifier.py
  tests/unit/services/query_processing/test_orchestrator.py
  tests/unit/services/query_processing/test_pipeline.py
  tests/unit/services/query_processing/test_ranking.py
  tests/unit/services/query_processing/test_ranking_enums.py
  tests/unit/services/query_processing/test_ranking_models.py
  tests/unit/services/query_processing/test_ranking_requests.py
  tests/unit/services/query_processing/test_ranking_service_calculations.py
  tests/unit/services/query_processing/test_ranking_service_core.py
Due: pytest-check, mypy-check

feat(vector-db): enhance search functionality with grouping and score normalization options
  .gitignore
  src/manage_vector_db.py
  src/services/monitoring/metrics.py
  src/services/vector_db/service.py
  tests/integration/end_to_end/api_flows/test_api_workflow_validation.py
  tests/integration/services/test_cross_service_data_flow.py
Due: pytest-check, mypy-check

refactor: remove outdated session reports and integration test documentation
  agent-logs/2025-10-01/agents/001-session-report.md
  agent-logs/2025-10-02/refactor-strategy.md
  docs/developers/adrs/0003-deterministic-contextual-compression.md
  src/services/rag/retriever.py
  tests/integration/README.md
Due: pytest-check, mypy-check, update-docs

feat(observability): add fixtures and test data factories for observability components
  tests/conftest.py
  tests/fixtures/observability.py
  tests/fixtures/test_data_observability.py
  tests/integration/services/test_service_observability_integration.py
Due: pytest-check

feat(services): add backward-compatible aliases and enhance vector search functionality
  src/infrastructure/client_manager.py
  src/infrastructure/container.py
  src/manage_vector_db.py
  src/mcp_tools/models/responses.py
  src/services/vector_db/service.py
Due: pytest-check, mypy-check

feat(collection_management): enhance collection deletion with fallback and error handling
  src/mcp_tools/tools/collection_management.py
  src/mcp_tools/tools/configuration.py
  src/services/vector_db/adapter.py
  tests/unit/mcp_tools/tools/test_collection_management.py
  tests/unit/mcp_tools/tools/test_configuration.py
  tests/unit/services/vector_db/test_adapter.py
Due: pytest-check, mypy-check

feat(tests): add shared fixtures and stubs for MCP tools test suite
  tests/unit/mcp_tools/tools/conftest.py
Due: pytest-check

feat(dependencies): add langchain-qdrant to project dependencies
  pyproject.toml
  uv.lock
Due: validate-config

refactor(vector_db): update import paths for CollectionSchema and VectorRecord
  src/crawl4ai_bulk_embedder.py
  src/mcp_tools/tools/collection_management.py
  src/mcp_tools/tools/documents.py
Due: pytest-check, mypy-check

fix(adrs): correct file path for SearchRecord in context section
  docs/developers/adrs/0002-canonical-retrieval-contracts.md
Due: update-docs

refactor: vector database adapter: remove QdrantVectorAdapter and consolidate types
  src/services/vector_db/__init__.py
  src/services/vector_db/adapter.py
  src/services/vector_db/adapter_base.py
  src/services/vector_db/types.py
  tests/unit/services/vector_db/test_adapter.py
Due: pytest-check, mypy-check

docs(adrs): update ADRs to standardize on key decisions and remove working doc verbiage. refactor(vector_db): update imports for VectorRecord and VectorMatch
  docs/developers/adrs/0002-canonical-retrieval-contracts.md
  docs/developers/adrs/0004-rag-module-consolidation.md
  docs/developers/adrs/0005-library-first-retrieval-architecture.md
  docs/developers/adrs/0006-evaluation-and-dependency-governance.md
  docs/developers/adrs/0007-query-processing-final-stack.md
  src/services/managers/database_manager.py
  tests/unit/mcp_tools/tools/test_payload_indexing.py
Due: pytest-check, mypy-check, update-docs

Path conditions:
  pytest-check: any of: ^(src/|tests/)
  mypy-check: any of: ^src/.*\.py$
  update-docs: any of: ^(docs/|README\.md|mkdocs\.yml)
  validate-config: any of: ^(\.env.*|pyproject\.toml|src/config/)
