Repository BjornMelin/ai-docs-vector-db-hybrid-scraper: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, mypy-check, update-docs, validate-config

pytest-check:
  name: Run pytest
  entry: uv run pytest tests/unit --tb=short --maxfail=5 -x --disable-warnings
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - commit

mypy-check:
  name: Run mypy type checking
  entry: bash -c 'if command -v mypy &> /dev/null; then uv run mypy src/; else echo "mypy not installed, skipping"; fi'
  language: system
  pass_filenames: false
  stages:
  - commit

update-docs:
  name: Update documentation
  entry: python scripts/docs_automation.py --skip-validation --build-only
  language: system
  pass_filenames: false
  stages:
  - commit

validate-config:
  name: Validate configuration
  entry: python scripts/validate_config.py
  language: system
  pass_filenames: false
  stages:
  - commit

docs: update API and contracts documentation with MCP tooling response models and add embeddings test suite guidelines
  docs/developers/api-and-contracts.md
  docs/testing/embeddings.md
Due: update-docs

chore: update type checking configuration and enhance pytest markers
  pyrightconfig.json
  pytest.ini
Due: none

refactor: clean up response models in MCP tooling
  src/mcp_tools/models/__init__.py
  src/mcp_tools/models/responses.py
Due: pytest-check, mypy-check

feat: add GitHub Actions workflow for embeddings unit tests
  .github/workflows/embeddings.yml
Due: none

docs: enhance ADR template with structured decision framework
  docs/developers/templates/adr-template.md
Due: update-docs

fix(rag): align __all__ ordering and stabilize LangGraph pipeline tests
  src/services/rag/__init__.py
  tests/unit/services/rag/test_langgraph_pipeline.py
Due: pytest-check, mypy-check

fix(mcp): normalize benchmark_filtered_search response and metadata keys
  src/mcp_tools/tools/payload_indexing.py
Due: pytest-check, mypy-check

fix(qdrant): harden alias manager against client failures and remove blind excepts
  src/services/core/qdrant_alias_manager.py
Due: pytest-check, mypy-check

chore(lint): document defensive broad-except in HNSW optimizer with noqa BLE001
  src/services/utilities/hnsw_optimizer.py
Due: pytest-check, mypy-check

test(gpu): fix import stubbing and deterministic behavior in GPU validation tests
  tests/scripts/test_gpu_validation.py
Due: pytest-check

test(async): close event loops cleanly and ensure asyncio.run awaits coroutines
  tests/conftest.py
  tests/unit/utils/test_utils.py
Due: pytest-check

test(cli-eval): align stubs with evaluator signature and reorder imports
  tests/scripts/test_rag_compression_eval_cli.py
  tests/scripts/test_rag_golden_eval_cli.py
Due: pytest-check

test: reorder imports, wrap long skips, and enforce single-line docstrings where needed
  tests/services/cache/test_dragonfly_cache_integration.py
  tests/unit/config/test_observability_automation.py
  tests/unit/mcp_tools/tools/test_configuration.py
  tests/unit/mcp_tools/tools/test_rag.py
  tests/unit/services/observability/test_health_manager.py
Due: pytest-check

fix(embeddings): ensure lazy optional dependency handling and provider registry compatibility
  src/services/embeddings/fastembed_provider.py
  src/services/embeddings/manager/providers.py
Due: pytest-check, mypy-check

test: stabilize suite and minor fixes across MCP and service tests
  tests/scripts/test_validate_config.py
  tests/unit/cli/test_main.py
  tests/unit/mcp_tools/models/test_requests.py
  tests/unit/mcp_tools/models/test_responses.py
  tests/unit/mcp_tools/tools/conftest.py
  tests/unit/mcp_tools/tools/test_lightweight_scrape.py
  tests/unit/services/agents/test_tool_execution_service.py
  tests/unit/services/browser/test_firecrawl_provider.py
  tests/unit/services/core/test_project_storage.py
  tests/unit/services/fastapi/test_compression_middleware.py
Due: pytest-check

fix(rag): reorder __all__ exports for consistency in API
  src/services/rag/__init__.py
Due: pytest-check, mypy-check

chore(pylint): globally disable complexity checks (R0912/R0913/R0914)
  pyproject.toml
Due: validate-config

chore(tooling): ensure Ruff/Pylint/Pyright target src, tests, examples and set Python 3.12
  pyproject.toml
Due: validate-config

refactor(eval): enhance dataset validation and evaluation scripts
  scripts/eval/dataset_validator.py
  scripts/eval/rag_compression_eval.py
  scripts/eval/rag_golden_eval.py
  scripts/eval/seed_qdrant.py
  tests/scripts/test_cpu_validation.py
  tests/scripts/test_dev_deploy_cli.py
  tests/scripts/test_gpu_validation.py
  tests/scripts/test_rag_compression_eval_cli.py
  tests/scripts/test_rag_golden_eval_cli.py
  tests/scripts/test_seed_qdrant_cli.py
  tests/scripts/test_validate_config.py
  tests/unit/scripts/test_rag_golden_eval.py
Due: pytest-check

refactor(logging): streamline logging configuration and enhance evaluation documentation
  docs/plans/dependency-upgrade-plan.md
  docs/testing/evaluation-harness.md
  src/crawl4ai_bulk_embedder.py
  src/services/fastapi/production_server.py
  src/services/logging_config.py
  tests/unit/services/test_logging_config.py
Due: pytest-check, mypy-check, update-docs

chore(changelog): update CHANGELOG for evaluator modernization and dependency bump
  CHANGELOG.md
Due: none

chore(dependencies): remove colorlog and update various package versions
  pyproject.toml
  uv.lock
Due: validate-config

chore(pyproject): update project description and adjust openai dependency comment
  pyproject.toml
Due: validate-config

chore(dependencies): clean up and update package requirements
  pyproject.toml
  uv.lock
Due: validate-config

fix(tests): update async command test to remove awaitable operations
  tests/unit/utils/test_utils.py
Due: pytest-check

feat(qdrant): implement shared exception handling for Qdrant operations
  src/services/core/qdrant_alias_manager.py
Due: pytest-check, mypy-check

chore(mcp_services): remove MCP Services package initialization file
  src/mcp_services/__init__.py
Due: pytest-check, mypy-check

chore(agents): correct MCP tooling reference in project structure documentation
  AGENTS.md
Due: none

refactor(infrastructure): relocate project storage and update documentation
  CHANGELOG.md
  docs/api/infrastructure.rst
  docs/api/services.core.rst
  docs/api/services.rst
  docs/api/src.infrastructure.rst
  docs/api/src.services.core.rst
  docs/api/src.services.rst
  src/infrastructure/container.py
  src/infrastructure/project_storage.py
  src/mcp_tools/tool_registry.py
  src/mcp_tools/tools/projects.py
  src/services/core/__init__.py
  src/services/core/project_storage.py
  src/services/core/qdrant_alias_manager.py
  tests/unit/infrastructure/test_project_storage.py
  tests/unit/services/core/test_project_storage.py
  tests/unit/services/core/test_qdrant_alias_manager.py
Due: pytest-check, mypy-check, update-docs

refactor(infrastructure): restructure database connection management and update documentation
  CONTRIBUTING.md
  docs/api/infrastructure.database.rst
  docs/api/src.infrastructure.database.rst
  src/infrastructure/connection_manager.py
  src/infrastructure/database/__init__.py
  tests/unit/infrastructure/test_connection_manager.py
Due: pytest-check, mypy-check, update-docs

fix: guard ragas evaluator against openai errors
  scripts/eval/rag_golden_eval.py
Due: none

feat(cli): enforce dimension validation for collection creation and enhance test coverage
  src/cli/commands/database.py
  tests/unit/cli/commands/test_database.py
  tests/unit/config/test_settings_defaults.py
Due: pytest-check, mypy-check

feat(middleware): add override_registry context manager and is_registered function
  src/services/fastapi/middleware/manager.py
  tests/unit/services/fastapi/middleware/test_manager.py
  tests/unit/services/fastapi/middleware/test_timeout.py
Due: pytest-check, mypy-check

feat(middleware): enhance BrotliCompressionMiddleware initialization with dynamic quality parameter
  src/services/fastapi/middleware/manager.py
  tests/unit/services/fastapi/middleware/conftest.py
Due: pytest-check, mypy-check

chore(deps): upgrade deps and tooling
  .github/workflows/regression-opt-in.yml
  mkdocs.yml
  pyproject.toml
  pyrightconfig.json
  uv.lock
Due: update-docs, validate-config

refactor: migrate code for latest deps
  docs/developers/architecture-and-orchestration.md
  scripts/eval/rag_golden_eval.py
  scripts/eval/seed_qdrant.py
  src/api/routers/v1/service_helpers.py
  src/mcp_tools/tools/documents.py
  src/services/cache/base.py
  src/services/embeddings/manager/pipeline.py
  src/services/fastapi/dependencies.py
  src/services/fastapi/middleware/compression.py
  src/services/observability/dependencies.py
  src/services/rag/__init__.py
  src/services/rag/langgraph_pipeline.py
  src/services/rag/retriever.py
  src/services/service_resolver.py
  src/services/utilities/hnsw_optimizer.py
  src/services/vector_db/service.py
  tests/conftest.py
  tests/fixtures/__init__.py
  tests/load/locustfile.py
  tests/scripts/test_rag_compression_eval_cli.py
  tests/unit/cli/commands/test_database.py
  tests/unit/config/test_settings_defaults.py
  tests/unit/infrastructure/test_project_storage.py
  tests/unit/mcp_tools/models/test_responses.py
  tests/unit/scripts/test_rag_golden_eval.py
  tests/unit/services/embeddings/test_base_provider.py
  tests/unit/services/embeddings/test_fastembed_provider.py
  tests/unit/services/embeddings/test_manager.py
  tests/unit/services/embeddings/test_openai_provider.py
  tests/unit/services/embeddings/test_pipeline.py
  tests/unit/services/embeddings/test_providers.py
  tests/unit/services/embeddings/test_usage_tracker.py
  tests/unit/services/fastapi/middleware/test_manager.py
  tests/unit/services/fastapi/test_compression_middleware.py
  tests/unit/services/fastapi/test_dependencies_core.py
  tests/unit/services/observability/test_init.py
  tests/unit/services/rag/test_langgraph_pipeline.py
  tests/unit/services/vector_db/conftest.py
  tests/unit/stub_factories.py
Due: pytest-check, mypy-check, update-docs

fix: validate payload indexing vector service (PRRT_kwDOOuWmjc5nr8u-, PRRT_kwDOOuWmjc5nr8vB)
  src/mcp_tools/tools/payload_indexing.py
  tests/unit/mcp_tools/tools/test_payload_indexing.py
Due: pytest-check, mypy-check

fix(ci): repair regression full-suite
  .coveragerc
  scripts/ci/check_rag_compression.py
  scripts/dev.py
  scripts/eval/rag_compression_eval.py
  scripts/eval/rag_golden_eval.py
  tests/property/test_config_schemas.py
Due: pytest-check

fix: tighten error sanitization and path masking (PRRT_kwDOOuWmjc5nr8vI, PRRT_kwDOOuWmjc5nr8vK)
  src/services/errors.py
  tests/unit/services/test_service_errors.py
Due: pytest-check, mypy-check

fix: avoid swallowing AttributeError in HNSW optimizer (PRRT_kwDOOuWmjc5nr8vW, PRRT_kwDOOuWmjc5nr8va)
  src/services/utilities/hnsw_optimizer.py
Due: pytest-check, mypy-check

Path conditions:
  pytest-check: any of: ^(src/|tests/)
  mypy-check: any of: ^src/.*\.py$
  update-docs: any of: ^(docs/|README\.md|mkdocs\.yml)
  validate-config: any of: ^(\.env.*|pyproject\.toml|src/config/)
