Repository BjornMelin/ai-docs-vector-db-hybrid-scraper: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, mypy-check, update-docs, validate-config

pytest-check:
  name: Run pytest
  entry: uv run pytest tests/unit --tb=short --maxfail=5 -x --disable-warnings
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - commit

mypy-check:
  name: Run mypy type checking
  entry: bash -c 'if command -v mypy &> /dev/null; then uv run mypy src/; else echo "mypy not installed, skipping"; fi'
  language: system
  pass_filenames: false
  stages:
  - commit

update-docs:
  name: Update documentation
  entry: python scripts/docs_automation.py --skip-validation --build-only
  language: system
  pass_filenames: false
  stages:
  - commit

validate-config:
  name: Validate configuration
  entry: python scripts/validate_config.py
  language: system
  pass_filenames: false
  stages:
  - commit

test: fix locust dataset fallback and naming (PRRT_kwDOOuWmjc5nr8vc, PRRT_kwDOOuWmjc5nr8ve)
  tests/load/locustfile.py
Due: pytest-check

docs: align connection_manager heading (PRRT_kwDOOuWmjc5nr8um)
  docs/api/src.infrastructure.database.rst
Due: update-docs

docs: note test relocation sources (PRRT_kwDOOuWmjc5nr8us)
  docs/testing/mcp-unit-tests.md
Due: update-docs

chore: rename docs dependency group to docs-dev (PRRT_kwDOOuWmjc5nr8uu)
  docs/developers/contributing-and-testing.md
  docs/developers/platform-operations.md
  pyproject.toml
Due: update-docs, validate-config

chore: enable pyright missing-stub warnings (PRRT_kwDOOuWmjc5nr8uv)
  pyrightconfig.json
Due: none

chore: omit locust web-port in headless mode (PRRT_kwDOOuWmjc5nr8uy)
  scripts/dev.py
Due: none

fix: avoid mutating OPENAI_API_KEY in rag eval (PRRT_kwDOOuWmjc5nr8u1)
  scripts/eval/rag_golden_eval.py
Due: none

chore: drop redundant ConnectionError catches (PRRT_kwDOOuWmjc5nr8u4)
  src/api/app_factory.py
Due: pytest-check, mypy-check

fix: lock project storage cache reads (PRRT_kwDOOuWmjc5nr8u7)
  src/infrastructure/project_storage.py
Due: pytest-check, mypy-check

docs: clarify embedding cache dimension fallback (PRRT_kwDOOuWmjc5nr8vF)
  src/services/embeddings/manager/pipeline.py
Due: pytest-check, mypy-check

fix: handle network init errors in FastAPI deps (PRRT_kwDOOuWmjc5nr8vN)
  src/services/fastapi/dependencies.py
Due: pytest-check, mypy-check

docs: note override_registry is not thread-safe (PRRT_kwDOOuWmjc5nr8vR)
  src/services/fastapi/middleware/manager.py
Due: pytest-check, mypy-check

docs: clarify rate limit handler type guard (PRRT_kwDOOuWmjc5nr8vU)
  src/services/fastapi/middleware/security.py
Due: pytest-check, mypy-check

test: avoid creating new event loop at session end (PRRT_kwDOOuWmjc5nr8vb)
  tests/conftest.py
Due: pytest-check

fix: log ragas availability correctly (PRRT_kwDOOuWmjc5nwnus)
  scripts/eval/rag_golden_eval.py
Due: none

perf: cache resolved VectorStoreService in payload tools (PRRT_kwDOOuWmjc5nwnuu)
  src/mcp_tools/tools/payload_indexing.py
Due: pytest-check, mypy-check

chore(ci): catch LangChainException in rag compression gate (PRRT_kwDOOuWmjc5nwnuq)
  scripts/ci/check_rag_compression.py
Due: none

chore: stop omitting covered modules from coverage (PRRT_kwDOOuWmjc5nwnup)
  .coveragerc
Due: none

fix: make project storage writes atomic
  src/infrastructure/project_storage.py
  tests/unit/infrastructure/test_project_storage.py
Due: pytest-check, mypy-check

fix: improve error sanitization
  src/services/errors.py
  tests/unit/services/test_service_errors.py
Due: pytest-check, mypy-check

fix: harden locust dataset loading
  tests/load/locustfile.py
Due: pytest-check

fix: relax fastapi constraint and add service marker
  pyproject.toml
  tests/conftest_cli.py
  uv.lock
Due: pytest-check, validate-config

docs: rename integration marker to service
  AGENTS.md
  CONTRIBUTING.md
  docs/developers/contributing-and-testing.md
  docs/developers/index.md
  docs/testing/index.md
  docs/testing/testing-guide.md
Due: update-docs

docs: align CI coverage threshold
  docs/developers/contributing-and-testing.md
Due: update-docs

refactor: encapsulate ragas availability
  scripts/eval/rag_golden_eval.py
Due: none

refactor: simplify dependency exception handling
  src/services/fastapi/dependencies.py
Due: pytest-check, mypy-check

test: stub sync qdrant client in sparse init
  tests/unit/services/vector_db/test_service.py
Due: pytest-check

revert: undo accidental vector_db test expansion
  tests/unit/services/vector_db/test_service.py
Due: pytest-check

Revert "revert: undo accidental vector_db test expansion"
  tests/unit/services/vector_db/test_service.py
Due: pytest-check

test: add coverage for rag utils and firecrawl crawl
  tests/unit/services/browser/test_firecrawl_provider.py
  tests/unit/services/rag/test_utils.py
Due: pytest-check

test: add infrastructure and service resolver tests
  tests/conftest.py
  tests/doubles/__init__.py
  tests/doubles/services.py
  tests/unit/cli/conftest.py
  tests/unit/infrastructure/conftest.py
  tests/unit/infrastructure/test_container.py
  tests/unit/services/browser/test_firecrawl_provider.py
  tests/unit/services/rag/test_utils.py
  tests/unit/services/test_service_resolver.py
  tests/unit/test_unified_mcp_server.py
Due: pytest-check

fix: resolve PR #296 review comments
  docs/testing/testing-guide.md
  pyproject.toml
  pytest.ini
  scripts/README.md
  scripts/dev.py
  scripts/eval/rag_golden_eval.py
  src/services/fastapi/dependencies.py
  tests/conftest.py
  tests/doubles/services.py
  tests/load/locustfile.py
Due: pytest-check, mypy-check, update-docs, validate-config

fix: stabilize CI disk usage and coverage
  .coveragerc
  .github/actions/setup-environment/action.yml
  .github/workflows/docs.yml
  .github/workflows/regression-opt-in.yml
  pyproject.toml
  src/services/rag/generator.py
  tests/doubles/services.py
  tests/unit/services/rag/test_api.py
  tests/unit/services/rag/test_generator_helpers.py
Due: pytest-check, mypy-check, validate-config

test: tighten service doubles
  tests/doubles/services.py
  tests/unit/doubles/test_services_doubles.py
Due: pytest-check

fix(ci): update validate-config fixtures
  .github/workflows/test-composite-actions.yml
Due: none

chore: centralize test tooling config
  CHANGELOG.md
  docs/testing/embeddings.md
  docs/testing/testing-guide.md
  mutmut_config.ini
  pyproject.toml
  pyrightconfig.json
  pytest.ini
Due: update-docs, validate-config

fix: resolve release foundation review findings
  .github/actions/setup-environment/action.yml
  .github/renovate.json
  .github/workflows/ci.yml
  .github/workflows/config-deployment.yml
  .github/workflows/docs.yml
  .github/workflows/validation.yml
  CHANGELOG.md
  docs/developers/index.md
  k8s/README.md
  k8s/dragonfly-deployment.yaml
  scripts/dev.py
  src/cli/commands/batch.py
  src/config/loader.py
  src/infrastructure/container.py
  src/services/embeddings/fastembed_provider.py
  src/services/observability/config.py
  src/services/observability/init.py
  src/services/rag/langgraph_pipeline.py
  src/services/vector_db/service.py
  tests/scripts/test_dev_deploy_cli.py
  tests/unit/cli/commands/test_batch.py
  tests/unit/cli/commands/test_database.py
  tests/unit/config/test_deployment_manifests.py
  tests/unit/config/test_packaged_templates.py
  tests/unit/config/test_settings_defaults.py
  tests/unit/infrastructure/test_container.py
  tests/unit/services/browser/test_browser_use_provider.py
  tests/unit/services/embeddings/test_fastembed_provider.py
  tests/unit/services/observability/test_config.py
  tests/unit/services/observability/test_init.py
  tests/unit/services/rag/test_langgraph_pipeline.py
  tests/unit/services/vector_db/test_service.py
Due: pytest-check, mypy-check, update-docs, validate-config

fix: resolve final hosted review findings
  src/cli/commands/batch.py
  src/cli/commands/database.py
  src/infrastructure/container.py
  src/manage_vector_db.py
  src/services/vector_db/service.py
  tests/unit/cli/commands/test_batch.py
  tests/unit/cli/commands/test_database.py
  tests/unit/infrastructure/test_container.py
  tests/unit/services/vector_db/test_manage_vector_db.py
  tests/unit/services/vector_db/test_service.py
Due: pytest-check, mypy-check

Path conditions:
  pytest-check: any of: ^(src/|tests/)
  mypy-check: any of: ^src/.*\.py$
  update-docs: any of: ^(docs/|README\.md|mkdocs\.yml)
  validate-config: any of: ^(\.env.*|pyproject\.toml|src/config/)
