Repository BjornMelin/ai-docs-vector-db-hybrid-scraper: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, mypy-check, update-docs, validate-config

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# Run `uv tool install pre-commit && pre-commit install` to set up

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        exclude: '^(.*\.md|.*\.txt)$'
      - id: end-of-file-fixer
        exclude: '^(.*\.md|.*\.txt)$'
      - id: check-yaml
        args: ['--unsafe']
      - id: check-toml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: debug-statements
      - id: check-docstring-first
      - id: check-case-conflict

  # Python code formatting and linting with Ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Linter
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        types_or: [python, pyi, jupyter]
      # Formatter
      - id: ruff-format
        types_or: [python, pyi, jupyter]

  # Security checks
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.10
    hooks:
      - id: bandit
        args: ['-r', 'src/', '-f', 'json']
        exclude: '^tests/'

  # Secret detection
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.21.2
    hooks:
      - id: gitleaks

  # Dependency checks
  - repo: https://github.com/lucas-c/pre-commit-hooks-safety
    rev: v1.3.2
    hooks:
      - id: python-safety-dependencies-check
        files: pyproject.toml

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.42.0
    hooks:
      - id: markdownlint
        args: [--fix]
        exclude: '^(htmlcov|cache|logs)/'

  # YAML formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json]
        exclude: '^(.*\.lock|uv\.lock)$'

  # Local hooks for project-specific checks
  - repo: local
    hooks:
      - id: pytest-check
        name: Run pytest
        entry: uv run pytest tests/unit --tb=short --maxfail=5 -x --disable-warnings
        language: system
        pass_filenames: false
        always_run: false
        files: '^(src/|tests/)'
        stages: [commit]

      - id: mypy-check
        name: Run mypy type checking
        entry: bash -c 'if command -v mypy &> /dev/null; then uv run mypy src/; else echo "mypy not installed, skipping"; fi'
        language: system
        pass_filenames: false
        files: '^src/.*\.py$'
        stages: [commit]

      - id: check-file-naming
        name: Check file naming conventions
        entry: bash -c 'find src tests -name "*.py" | grep -E "[A-Z]" && echo "❌ Python files should use snake_case" && exit 1 || echo "✅ File naming looks good"'
        language: system
        pass_filenames: false
        stages: [commit]

      - id: update-docs
        name: Update documentation
        entry: python scripts/docs_automation.py --skip-validation --build-only
        language: system
        files: '^(docs/|README\.md|mkdocs\.yml)'
        pass_filenames: false
        stages: [commit]

      - id: validate-config
        name: Validate configuration
        entry: python scripts/validate_config.py
        language: system
        files: '^(\.env.*|pyproject\.toml|src/config/)'
        pass_filenames: false
        stages: [commit]

# Configuration for pre-commit
default_stages: [commit]
fail_fast: false
minimum_pre_commit_version: "3.0.0"

# Skip hooks for certain commits
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ''
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: weekly
  skip: []
  submodules: false

test(integration): add local harness for crawl4ai adapter
  tests/integration/test_crawl4ai_adapter_integration.py
Due: pytest-check

refactor: Implement code changes for improved functionality and performance enhancements
  src/mcp_tools/tools/__init__.py
  src/mcp_tools/tools/filtering.py
Due: pytest-check, mypy-check

refactor: Remove TYPE_CHECKING imports and streamline Context usage across multiple modules
  src/mcp_tools/tools/analytics.py
  src/mcp_tools/tools/cache.py
  src/mcp_tools/tools/collections.py
  src/mcp_tools/tools/configuration.py
  src/mcp_tools/tools/content_intelligence.py
  src/mcp_tools/tools/cost_estimation.py
  src/mcp_tools/tools/crawling.py
  src/mcp_tools/tools/document_management.py
  src/mcp_tools/tools/documents.py
  src/mcp_tools/tools/embeddings.py
  src/mcp_tools/tools/filtering_tools.py
  src/mcp_tools/tools/hybrid_search.py
  src/mcp_tools/tools/hyde_search.py
  src/mcp_tools/tools/lightweight_scrape.py
  src/mcp_tools/tools/multi_stage_search.py
  src/mcp_tools/tools/payload_indexing.py
  src/mcp_tools/tools/projects.py
  src/mcp_tools/tools/query_processing_tools.py
  src/mcp_tools/tools/search.py
  src/mcp_tools/tools/search_tools.py
  src/mcp_tools/tools/search_with_reranking.py
  src/mcp_tools/tools/system_health.py
  src/mcp_tools/tools/utilities.py
  src/mcp_tools/tools/web_search.py
Due: pytest-check, mypy-check

refactor: Remove TYPE_CHECKING imports and streamline Context usage in pipeline factory and tool registrars
  src/mcp_tools/tools/helpers/pipeline_factory.py
  src/mcp_tools/tools/helpers/tool_registrars.py
  src/mcp_tools/tools/helpers/tool_registrars_additional.py
  src/mcp_tools/tools/helpers/validation_helper.py
Due: pytest-check, mypy-check

refactor(tools): refactor for improved maintainability, and reduce complexity and remove dead code
  docs/embeddings_manager_modules.md
  src/mcp_tools/tool_registry.py
  src/mcp_tools/tools/__init__.py
  src/mcp_tools/tools/collection_management.py
  src/mcp_tools/tools/configuration.py
  src/mcp_tools/tools/cost_estimation.py
  src/mcp_tools/tools/system_health.py
  src/mcp_tools/tools/web_search.py
Due: pytest-check, mypy-check, update-docs

refactor: MCP services and tools for improved clarity and functionality
  src/mcp_services/__init__.py
  src/mcp_services/analytics_service.py
  src/mcp_services/document_service.py
  src/mcp_services/orchestrator_service.py
  src/mcp_services/search_service.py
  src/mcp_services/system_service.py
  src/mcp_tools/tools/filtering_tools.py
Due: pytest-check, mypy-check

refactor: remove unused service modules and related test files
  src/services/integration/__init__.py
  src/services/migration/__init__.py
  src/services/performance/__init__.py
  src/services/vector_db/utils.py
  tests/.coordinator/progress.json
  tests/.coordinator/state.json
  tests/TEST_PATTERNS_STYLE_GUIDE.md
  tests/unit/services/agents/DYNAMIC_TOOL_DISCOVERY_TESTS.md
  tests/unit/services/analytics/__init__.py
Due: pytest-check, mypy-check

refactor(tests): remove unused performance test module
  tests/unit/services/performance/__init__.py
Due: pytest-check

refactor(vector_db): remove unit tests for similarity and temporal filters
  docs/api/mcp_tools.tools.rst
  docs/api/src.mcp_tools.tools.rst
  planning/done/P3/C2_fastmcp_integration_analysis_dual.md
  src/mcp_services/search_service.py
  src/mcp_services/system_service.py
  src/mcp_tools/tool_registry.py
  src/mcp_tools/tools/__init__.py
  src/mcp_tools/tools/filtering_tools.py
  src/services/vector_db/filters/__init__.py
  src/services/vector_db/filters/base.py
  src/services/vector_db/filters/composer.py
  src/services/vector_db/filters/content_type.py
  src/services/vector_db/filters/metadata.py
  src/services/vector_db/filters/similarity.py
  src/services/vector_db/filters/temporal.py
  src/services/vector_db/service.py
  tests/unit/mcp_tools/tools/test_filtering_tools.py
  tests/unit/services/vector_db/test_base_filters.py
  tests/unit/services/vector_db/test_composer_filters.py
  tests/unit/services/vector_db/test_content_type_filters.py
  tests/unit/services/vector_db/test_metadata_filters.py
  tests/unit/services/vector_db/test_similarity_filters.py
  tests/unit/services/vector_db/test_temporal_filters.py
Due: pytest-check, mypy-check, update-docs

refactor(filters): remove unused filter modules and related tests
  docs/api/services.vector_db.filters.rst
  docs/api/services.vector_db.rst
  docs/api/src.services.vector_db.filters.rst
  docs/api/src.services.vector_db.rst
  src/services/vector_db/__init__.py
  tests/unit/services/vector_db/__init___filters.py
  tests/unit/services/vector_db/test_utils.py
Due: pytest-check, mypy-check, update-docs

refactor(requests): enhance filter request models with additional fields refactor(services): remove unused migration module from services package
  src/mcp_tools/models/requests.py
  src/services/__init__.py
Due: pytest-check, mypy-check

refactor(vector_db): reorganize imports and enhance filter building logic refactor(tests): remove deprecated test for legacy modules and update QdrantService tests
  src/services/vector_db/search.py
  src/services/vector_db/utils.py
  tests/unit/services/crawling/test_legacy_module_removal.py
  tests/unit/services/vector_db/test_service.py
  tests/unit/services/vector_db/test_utils.py
Due: pytest-check, mypy-check

docs: update repository guidelines with general instructions and testing guidelines
  AGENTS.md
Due: none

refactor: remove SPLADE provider and utility functions; add placeholder contract test for vector adapters
  docs/debt_inventory.md
  src/infrastructure/client_manager.py
  src/manage_vector_db.py
  src/services/dependencies.py
  src/services/embeddings/base.py
  src/services/fastapi/dependencies/__init__.py
  src/services/fastapi/dependencies/core.py
  src/services/vector_db/__init__.py
  src/services/vector_db/adapter.py
  src/services/vector_db/adapter_base.py
  src/services/vector_db/adaptive_fusion_tuner.py
  src/services/vector_db/agentic_manager.py
  src/services/vector_db/collections.py
  src/services/vector_db/documents.py
  src/services/vector_db/hybrid_search.py
  src/services/vector_db/indexing.py
  src/services/vector_db/model_selector.py
  src/services/vector_db/optimization.py
  src/services/vector_db/qdrant_manager.py
  src/services/vector_db/query_classifier.py
  src/services/vector_db/search.py
  src/services/vector_db/service.py
  src/services/vector_db/splade_provider.py
  src/services/vector_db/utils.py
  tests/contracts/vector_db/test_vector_adapter_contract.py
Due: pytest-check, mypy-check, update-docs

refactor: replace VectorDBService with VectorStoreService and update related dependencies
  src/api/app_factory.py
  src/api/routers/simple/__init__.py
  src/api/routers/simple/documents.py
  src/api/routers/simple/search.py
  src/services/functional/dependencies.py
Due: pytest-check, mypy-check

refactor(logging): convert f-strings to logging format in HNSWOptimizer and RateLimiter classes
  src/services/utilities/hnsw_optimizer.py
  src/services/utilities/rate_limiter.py
Due: pytest-check, mypy-check

refactor(services): remove simple mode services and update references
  docs/api/src.services.rst
  docs/api/src.services.simple.rst
  src/api/app_factory.py
  src/cli/commands/database.py
  src/infrastructure/client_manager.py
  src/services/hyde/engine.py
  src/services/simple/__init__.py
  src/services/simple/cache.py
  src/services/simple/search.py
Due: pytest-check, mypy-check, update-docs

refactor(hnsw_optimizer): clean up docstrings and formatting for consistency
  src/services/utilities/hnsw_optimizer.py
Due: pytest-check, mypy-check

refactor(dependencies): update pydantic and psutil comments; add langchain dependencies
  pyproject.toml
  uv.lock
Due: validate-config

feat(security): add support for multiple API keys in security configuration
  src/api/routers/config.py
  src/api/routers/simple/documents.py
  src/config/security/config.py
Due: pytest-check, mypy-check, validate-config

feat(app): implement application profile management for FastAPI - Introduced AppProfile class to define application profiles. - Added profile detection and normalization in create_app function.
  src/api/app_factory.py
  src/api/app_profiles.py
  src/api/main.py
Due: pytest-check, mypy-check

refactor(vector_db): reorganize imports and update module structure refactor(app_factory): enhance application factory with profile-driven composition
  src/api/app_factory.py
  src/api/routers/simple/documents.py
  src/api/routers/simple/search.py
  src/services/functional/dependencies.py
  src/services/vector_db/__init__.py
Due: pytest-check, mypy-check

feat(ci): enhance test suite with profile-specific configurations and matrix strategy
  .github/workflows/ci.yml
  docs/developers/app-profiles.md
  docs/developers/index.md
  docs/developers/testing.md
  src/manage_vector_db.py
  src/mcp_tools/tools/rag.py
  src/services/fastapi/dependencies/core.py
Due: pytest-check, mypy-check, update-docs

feat(tests): add unit tests for profile-driven FastAPI app composition
  src/services/rag/models.py
  src/services/vector_db/adapter.py
  src/services/vector_db/service.py
  tests/integration/test_rag_integration.py
  tests/unit/api/test_app_factory_profiles.py
Due: pytest-check, mypy-check

feat(collection_management): rename collections module to collection_management and update references
  docs/api/mcp_tools.tools.rst
  docs/api/src.mcp_tools.tools.rst
  docs/debt_inventory.md
  scripts/dev.py
  src/mcp_tools/tools/web_search.py
  src/services/fastapi/routers/rag.py
  src/services/rag/__init__.py
  src/services/vector_db/adapter.py
  tests/conftest.py
  tests/unit/mcp_tools/tools/test_collection_management.py
Due: pytest-check, mypy-check, update-docs

refactor(debt_inventory): update legacy file references and clarify replacement plans for Phase 1 refactor(orchestrator): enhance configuration handling and improve error logging for search operations
  docs/debt_inventory.md
  src/mcp_tools/tools/__init__.py
  src/services/query_processing/orchestrator.py
Due: pytest-check, mypy-check, update-docs

refactor(dependencies): update EnvironmentDetector initialization parameter style(rag): disable pylint duplicate-code warning
  src/mcp_tools/tools/rag.py
  src/services/dependencies.py
Due: pytest-check, mypy-check

feat: Enhance MCP tools and search services
  docs/debt_inventory.md
  src/mcp_tools/tools/collection_management.py
  src/services/enterprise/search.py
  src/services/hyde/engine.py
  tests/unit/mcp_tools/tools/test_collection_management.py
  tests/unit/services/hyde/test_engine.py
  tests/unit/services/query_processing/test_search_orchestrator.py
  tests/unit/services/rag/test_retriever.py
Due: pytest-check, mypy-check, update-docs

feat(rag): enhance RAGRequest structure with search results and additional parameters
  src/services/rag/generator.py
  tests/integration/test_rag_integration.py
Due: pytest-check, mypy-check

refactor(tests): remove unit tests for vector database services
  docs/debt_inventory.md
  docs/users/quick-start.md
  docs/users/search-and-retrieval.md
  src/mcp_services/search_service.py
  src/mcp_tools/tools/_search_utils.py
  src/mcp_tools/tools/document_management.py
  tests/unit/mcp_tools/tools/test_search_utils.py
  tests/unit/services/vector_db/test_collections.py
  tests/unit/services/vector_db/test_documents.py
  tests/unit/services/vector_db/test_hybrid_search.py
  tests/unit/services/vector_db/test_indexing.py
  tests/unit/services/vector_db/test_model_selector.py
  tests/unit/services/vector_db/test_query_classifier.py
  tests/unit/services/vector_db/test_search.py
  tests/unit/services/vector_db/test_splade_provider.py
  tests/unit/services/vector_db/test_utils.py
Due: pytest-check, mypy-check, update-docs

refactor: vector database management tests to improve structure and clarity
  src/mcp_tools/tools/projects.py
  src/mcp_tools/tools/search_tools.py
  tests/mocks/mock_tools.py
  tests/unit/mcp_tools/tools/test_projects.py
  tests/unit/mcp_tools/tools/test_search.py
  tests/unit/mcp_tools/tools/test_search_tools.py
  tests/unit/services/vector_db/conftest.py
  tests/unit/services/vector_db/test_manage_vector_db.py
  tests/unit/services/vector_db/test_service.py
Due: pytest-check, mypy-check

test: update search document test to include metadata in expected result test: add unit tests for QdrantVectorAdapter and its helper functions
  src/services/dependencies.py
  tests/unit/mcp_tools/tools/test_search_tools.py
  tests/unit/services/vector_db/test_adapter.py
Due: pytest-check, mypy-check

refactor(tests): simplify mock client manager and context fixtures in analytics and search tools tests
  src/services/dependencies.py
  tests/unit/mcp_tools/tools/test_analytics.py
  tests/unit/mcp_tools/tools/test_search_tools.py
Due: pytest-check, mypy-check

refactor(analytics): improve structure and clarity of analytics tools and health checks
  src/mcp_tools/tools/analytics.py
Due: pytest-check, mypy-check

refactor(tests): convert async fixtures to synchronous in project management tests
  src/mcp_tools/tools/document_management.py
  tests/unit/mcp_tools/tools/test_documents.py
  tests/unit/mcp_tools/tools/test_projects.py
Due: pytest-check, mypy-check

refactor: configuration drift detection and caching system
  src/config/drift.py
  src/config/drift_detection.py
  src/infrastructure/client_manager.py
  src/security.py
  src/services/hyde/cache.py
  src/services/hyde/engine.py
  tests/unit/services/hyde/test_cache.py
Due: pytest-check, mypy-check, validate-config

refactor(generator): enhance OpenAI client protocol and improve logging
  src/config/reloader.py
  src/services/hyde/generator.py
Due: pytest-check, mypy-check, validate-config

refactor: payload indexing tools to integrate with VectorStoreService
  src/mcp_tools/tools/payload_indexing.py
  src/services/vector_db/adapter.py
  src/services/vector_db/service.py
  tests/unit/mcp_tools/tools/test_payload_indexing.py
Due: pytest-check, mypy-check

feat: add recommend functionality to vector database adapter
  src/mcp_tools/tools/search.py
  src/services/vector_db/adapter.py
  src/services/vector_db/adapter_base.py
  src/services/vector_db/service.py
  tests/unit/mcp_tools/tools/test_search.py
Due: pytest-check, mypy-check

refactor: logging statements to use structured logging format
  src/services/auto_detection/connection_pools.py
  src/services/auto_detection/health_checks.py
  src/services/auto_detection/service_discovery.py
  src/services/browser/browser_router.py
  src/services/browser/tier_config.py
  src/services/content_intelligence/quality_assessor.py
  src/services/content_intelligence/service.py
  src/services/core/qdrant_alias_manager.py
  src/services/embeddings/fastembed_provider.py
  src/services/embeddings/openai_provider.py
  src/services/embeddings/parallel.py
  src/services/errors.py
  src/services/fastapi/middleware/performance.py
  src/services/fastapi/production_server.py
  src/services/functional/crawling.py
  src/services/monitoring/initialization.py
  src/services/monitoring/middleware.py
  src/services/query_processing/clustering.py
  src/services/query_processing/expansion.py
  src/services/query_processing/federated.py
  src/services/query_processing/ranking.py
  src/services/security/integration.py
  src/services/security/middleware.py
  src/services/security/rate_limiter.py
  src/services/task_queue/manager.py
  src/services/task_queue/tasks.py
  src/services/task_queue/worker.py
Due: pytest-check, mypy-check
