Repository BjornMelin/ai-docs-vector-db-hybrid-scraper: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, mypy-check, update-docs, validate-config

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# Run `uv tool install pre-commit && pre-commit install` to set up

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        exclude: '^(.*\.md|.*\.txt)$'
      - id: end-of-file-fixer
        exclude: '^(.*\.md|.*\.txt)$'
      - id: check-yaml
        args: ['--unsafe']
      - id: check-toml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: debug-statements
      - id: check-docstring-first
      - id: check-case-conflict

  # Python code formatting and linting with Ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Linter
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        types_or: [python, pyi, jupyter]
      # Formatter
      - id: ruff-format
        types_or: [python, pyi, jupyter]

  # Security checks
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.10
    hooks:
      - id: bandit
        args: ['-r', 'src/', '-f', 'json']
        exclude: '^tests/'

  # Secret detection
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.21.2
    hooks:
      - id: gitleaks

  # Dependency checks
  - repo: https://github.com/lucas-c/pre-commit-hooks-safety
    rev: v1.3.2
    hooks:
      - id: python-safety-dependencies-check
        files: pyproject.toml

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.42.0
    hooks:
      - id: markdownlint
        args: [--fix]
        exclude: '^(htmlcov|cache|logs)/'

  # YAML formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json]
        exclude: '^(.*\.lock|uv\.lock)$'

  # Local hooks for project-specific checks
  - repo: local
    hooks:
      - id: pytest-check
        name: Run pytest
        entry: uv run pytest tests/unit --tb=short --maxfail=5 -x --disable-warnings
        language: system
        pass_filenames: false
        always_run: false
        files: '^(src/|tests/)'
        stages: [commit]

      - id: mypy-check
        name: Run mypy type checking
        entry: bash -c 'if command -v mypy &> /dev/null; then uv run mypy src/; else echo "mypy not installed, skipping"; fi'
        language: system
        pass_filenames: false
        files: '^src/.*\.py$'
        stages: [commit]

      - id: check-file-naming
        name: Check file naming conventions
        entry: bash -c 'find src tests -name "*.py" | grep -E "[A-Z]" && echo "❌ Python files should use snake_case" && exit 1 || echo "✅ File naming looks good"'
        language: system
        pass_filenames: false
        stages: [commit]

      - id: update-docs
        name: Update documentation
        entry: python scripts/docs_automation.py --skip-validation --build-only
        language: system
        files: '^(docs/|README\.md|mkdocs\.yml)'
        pass_filenames: false
        stages: [commit]

      - id: validate-config
        name: Validate configuration
        entry: python scripts/validate_config.py
        language: system
        files: '^(\.env.*|pyproject\.toml|src/config/)'
        pass_filenames: false
        stages: [commit]

# Configuration for pre-commit
default_stages: [commit]
fail_fast: false
minimum_pre_commit_version: "3.0.0"

# Skip hooks for certain commits
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ''
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: weekly
  skip: []
  submodules: false

refactor(docs): update cache module references and remove obsolete migration submodules
  docs/api/services.cache.rst
  docs/api/src.services.cache.rst
  docs/api/src.services.migration.rst
Due: update-docs

refactor(crawling): simplify initialization and improve logging format refactor(database): enhance dependency injection and improve error handling
  src/services/managers/crawling_manager.py
  src/services/managers/database_manager.py
Due: pytest-check, mypy-check

refactor: cache management and enhance testing coverage
  docs/persistent_cache.md
  src/services/cache/_bulk_delete.py
  src/services/cache/base.py
  src/services/cache/embedding_cache.py
  src/services/cache/manager.py
  src/services/cache/persistent_cache.py
  src/services/cache/search_cache.py
  src/services/functional/dependencies.py
  src/services/managers/embedding_manager.py
  src/services/managers/monitoring_manager.py
  tests/TEST_CLEANUP_ACTION_PLAN.md
  tests/services/cache/test_cache_key_helpers.py
  tests/services/cache/test_cache_manager_behavior.py
  tests/services/cache/test_persistent_cache.py
  tests/services/cache/test_search_cache.py
Due: pytest-check, mypy-check, update-docs

refactor(config): enhance CacheConfig descriptions for clarity and detail
  src/config/settings.py
Due: pytest-check, mypy-check, validate-config

refactor: add blank lines for improved readability in cache and crawling modules
  src/services/cache/_bulk_delete.py
  src/services/cache/base.py
  src/services/cache/browser_cache.py
  src/services/crawling/base.py
  src/services/crawling/extractors.py
Due: pytest-check, mypy-check

refactor(cache): add blank lines for improved readability in DragonflyCache methods
  src/services/cache/dragonfly_cache.py
Due: pytest-check, mypy-check

refactor(lightweight_scraper): simplify configuration handling and enhance content extraction logic
  src/services/crawling/firecrawl_provider.py
  src/services/crawling/lightweight_scraper.py
  tests/unit/services/crawling/test_lightweight_scraper.py
Due: pytest-check, mypy-check

refactor(circuit_breaker): replace ModernCircuitBreakerManager with CircuitBreakerManager and improve type annotations in CrawlManager
  src/services/circuit_breaker/__init__.py
  src/services/circuit_breaker/circuit_breaker_manager.py
  src/services/crawling/manager.py
Due: pytest-check, mypy-check

refactor(project-planning): improve readability by adding blank lines and update circuit breaker manager references
  docs/operators/project-planning.md
Due: update-docs

refactor(circuit_breaker): replace ModernCircuitBreakerManager with CircuitBreakerManager and improve logging format in auto remediation and health monitor modules
  src/automation/self_healing/auto_remediation_engine.py
  src/automation/self_healing/autonomous_health_monitor.py
  src/automation/self_healing/intelligent_chaos_orchestrator.py
Due: pytest-check, mypy-check

refactor(tests): update test commands to use CI profile and improve coverage settings
  AGENTS.md
  CONTRIBUTING.md
  README.md
  docs/developers/testing.md
  docs/persistent_cache.md
  docs/testing/index.md
  docs/testing/testing-guide.md
  pyproject.toml
  pytest.ini
  scripts/README.md
  scripts/dev.py
Due: update-docs, validate-config

refactor: observability platform and telemetry helpers
  src/services/observability/correlation.py
  src/services/observability/dependencies.py
  src/services/observability/enterprise.py
  src/services/observability/telemetry_helpers.py
  tests/integration/README.md
  tests/security/SECURITY_TESTING_PLAYBOOK.md
  tests/services/cache/test_cache_manager_behavior.py
  tests/services/cache/test_persistent_cache.py
  tests/unit/README.md
  tests/unit/mcp_services/README.md
  tests/unit/services/agents/DYNAMIC_TOOL_DISCOVERY_TESTS.md
  tests/unit/services/observability/test_init.py
Due: pytest-check, mypy-check

feat(crawling): add shared utilities for Crawl4AI provider
  src/services/cache/browser_cache.py
  src/services/cache/manager.py
  src/services/cache/persistent_cache.py
  src/services/crawling/crawl4ai_provider.py
  src/services/crawling/crawl4ai_utils.py
  src/services/observability/init.py
  src/services/observability/span_utils.py
  tests/unit/services/observability/test_observability_correlation.py
  tests/unit/services/observability/test_observability_init.py
Due: pytest-check, mypy-check

refactor: observability tests: remove performance tests, add tracing and tracking tests
  src/services/observability/__init__.py
  src/services/observability/ai_tracking.py
  src/services/observability/config.py
  src/services/observability/config_instrumentation.py
  src/services/observability/config_performance.py
  src/services/observability/correlation.py
  src/services/observability/instrumentation.py
  src/services/observability/metrics_bridge.py
  src/services/observability/middleware.py
  src/services/observability/mock_telemetry.py
  src/services/observability/span_utils.py
  src/services/observability/telemetry_helpers.py
  src/services/observability/tracing.py
  tests/unit/services/crawling/test_crawl4ai_provider.py
  tests/unit/services/crawling/test_crawl4ai_utils.py
  tests/unit/services/crawling/test_memory_adaptive_dispatcher.py
  tests/unit/services/observability/test_config.py
  tests/unit/services/observability/test_dependencies.py
  tests/unit/services/observability/test_init.py
  tests/unit/services/observability/test_middleware.py
  tests/unit/services/observability/test_observability_ai_tracking.py
  tests/unit/services/observability/test_observability_config.py
  tests/unit/services/observability/test_observability_correlation.py
  tests/unit/services/observability/test_observability_dependencies.py
  tests/unit/services/observability/test_observability_error_tracking.py
  tests/unit/services/observability/test_observability_init.py
  tests/unit/services/observability/test_observability_instrumentation.py
  tests/unit/services/observability/test_observability_integration.py
  tests/unit/services/observability/test_observability_metrics_bridge.py
  tests/unit/services/observability/test_observability_performance.py
  tests/unit/services/observability/test_tracing.py
  tests/unit/services/observability/test_tracking.py
Due: pytest-check, mypy-check

refactor(observability): streamline observability documentation and enhance performance monitoring utilities
  docs/api/src.services.observability.rst
  src/services/observability/performance.py
  tests/unit/config/test_config_router.py
  tests/unit/services/observability/test_init.py
Due: pytest-check, mypy-check, update-docs

refactor(observability): simplify observability dependencies and improve service initialization
  src/services/observability/dependencies.py
Due: pytest-check, mypy-check

refactor(task_queue): remove deprecated task queue configuration module
  src/config/task_queue.py
Due: pytest-check, mypy-check, validate-config

refactor(demos): update configuration drift and integration success demos for clarity and consistency refactor(clients): improve health check methods and error handling in client providers
  examples/config_drift_demo.py
  examples/integration_success_demo.py
  examples/parallel_processing_demo.py
  src/infrastructure/clients/firecrawl_client.py
  src/infrastructure/clients/http_client.py
  src/infrastructure/clients/openai_client.py
  src/infrastructure/clients/qdrant_client.py
  src/infrastructure/clients/redis_client.py
Due: pytest-check, mypy-check

refactor(config): update module references for loader and models
  docs/api/src.config.rst
Due: update-docs

refactor(demos): enhance configuration error handling examples with detailed descriptions and improved encoding
  examples/config_error_handling_demo.py
Due: none

refactor: benchmark documentation and improve real-component testing setup
  src/cli/wizard/template_manager.py
  src/cli/wizard/validators.py
  src/config/drift_detection.py
  src/config/manager.py
  src/config/models.py
  src/config/modern.py
  src/config/reloader.py
  src/config/settings.py
  tests/benchmarks/README.md
Due: pytest-check, mypy-check, validate-config

refactor(examples): simplify configuration reload example and improve logging
  examples/config_reload_example.py
Due: none

refactor(cli): streamline worker configuration and improve logging
  src/cli_worker.py
  tests/unit/config/test_observability_automation.py
Due: pytest-check, mypy-check

refactor(config): update import source for configuration functions
  src/config/core.py
Due: pytest-check, mypy-check, validate-config

refactor(examples): simplify configuration reloader initialization by removing signal handler option
  examples/config_reload_example.py
Due: none

refactor(reloader): remove signal handler option and set default config source
  src/api/routers/config.py
  src/config/reloader.py
Due: pytest-check, mypy-check, validate-config

feat(config): Introduce unified configuration loading with Pydantic
  README.md
  docs/operators/project-planning.md
  docs/persistent_cache.md
  src/api/routers/config.py
  src/config/__init__.py
  src/config/loader.py
  src/config/manager.py
  src/config/reloader.py
  tests/integration/test_config_error_scenarios.py
  tests/unit/config/test_config_manager.py
  tests/unit/config/test_config_router.py
Due: pytest-check, mypy-check, update-docs, validate-config

refactor: align config loader and tests with new API
  docs/operators/project-planning.md
  examples/config_reload_example.py
  src/config/loader.py
  tests/integration/test_config_error_scenarios.py
Due: pytest-check, mypy-check, update-docs, validate-config

refactor(crawl4ai): refactor and remove legacy tests for Crawl4AI provider and utilities
  docs/api/services.crawling.rst
  docs/api/src.services.crawling.rst
  docs/developers/crawl4ai_provider.md
  docs/research/crawl4ai/coverage-map.md
  docs/research/crawl4ai/provider-mapping.md
  src/services/browser/crawl4ai_adapter.py
  src/services/crawling/__init__.py
  src/services/crawling/c4a_presets.py
  src/services/crawling/c4a_provider.py
  src/services/crawling/crawl4ai_provider.py
  src/services/crawling/crawl4ai_utils.py
  src/services/crawling/extractors.py
  src/services/enterprise/integration.py
  tests/unit/services/browser/test_crawl4ai_adapter.py
  tests/unit/services/crawling/test_c4a_presets.py
  tests/unit/services/crawling/test_c4a_provider.py
  tests/unit/services/crawling/test_crawl4ai_provider.py
  tests/unit/services/crawling/test_crawl4ai_provider_refactored.py
  tests/unit/services/crawling/test_crawl4ai_utils.py
  tests/unit/services/crawling/test_extractors.py
Due: pytest-check, mypy-check, update-docs

obs: stabilise tracing and config exports
  examples/config_reload_example.py
  src/config/__init__.py
  src/config/reloader.py
  src/services/observability/init.py
  src/services/observability/tracing.py
  src/services/observability/tracking.py
Due: pytest-check, mypy-check, validate-config

feat(config): add get_config_reloader and get_degradation_handler to public API
  src/config/__init__.py
Due: pytest-check, mypy-check, validate-config

refactor: configuration load stress tests and enhance performance metrics tracking
  src/services/config_drift_service.py
  tests/benchmarks/performance_suite.py
  tests/benchmarks/test_config_performance.py
  tests/benchmarks/test_config_reload_performance.py
  tests/integration/test_concurrent_config.py
  tests/integration/test_config_load_stress.py
  tests/unit/services/browser/test_crawl4ai_adapter.py
Due: pytest-check, mypy-check

feat: unify service lifecycle and harden crawl adapter
  src/architecture/service_factory.py
  src/services/base.py
  src/services/browser/crawl4ai_adapter.py
  src/services/crawling/c4a_provider.py
  src/services/lifecycle.py
Due: pytest-check, mypy-check

test: guard against legacy crawl modules
  tests/unit/services/crawling/test_legacy_module_removal.py
Due: pytest-check

test: enforce service lifecycle contract
  tests/unit/services/test_lifecycle_contract.py
Due: pytest-check

test(integration): add local harness for crawl4ai adapter
  tests/integration/conftest.py
  tests/integration/test_crawl4ai_adapter_integration.py
Due: pytest-check

refactor(tests): reorganize pytest import and enhance bulk crawl test
  tests/integration/test_crawl4ai_adapter_integration.py
Due: pytest-check
