Repository BjornMelin/ai-docs-vector-db-hybrid-scraper: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, mypy-check, update-docs, validate-config

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# Run `uv tool install pre-commit && pre-commit install` to set up

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        exclude: '^(.*\.md|.*\.txt)$'
      - id: end-of-file-fixer
        exclude: '^(.*\.md|.*\.txt)$'
      - id: check-yaml
        args: ['--unsafe']
      - id: check-toml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: debug-statements
      - id: check-docstring-first
      - id: check-case-conflict

  # Python code formatting and linting with Ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Linter
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        types_or: [python, pyi, jupyter]
      # Formatter
      - id: ruff-format
        types_or: [python, pyi, jupyter]

  # Security checks
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.10
    hooks:
      - id: bandit
        args: ['-r', 'src/', '-f', 'json']
        exclude: '^tests/'

  # Secret detection
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.21.2
    hooks:
      - id: gitleaks

  # Dependency checks
  - repo: https://github.com/lucas-c/pre-commit-hooks-safety
    rev: v1.3.2
    hooks:
      - id: python-safety-dependencies-check
        files: pyproject.toml

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.42.0
    hooks:
      - id: markdownlint
        args: [--fix]
        exclude: '^(htmlcov|cache|logs)/'

  # YAML formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json]
        exclude: '^(.*\.lock|uv\.lock)$'

  # Local hooks for project-specific checks
  - repo: local
    hooks:
      - id: pytest-check
        name: Run pytest
        entry: uv run pytest tests/unit --tb=short --maxfail=5 -x --disable-warnings
        language: system
        pass_filenames: false
        always_run: false
        files: '^(src/|tests/)'
        stages: [commit]

      - id: mypy-check
        name: Run mypy type checking
        entry: bash -c 'if command -v mypy &> /dev/null; then uv run mypy src/; else echo "mypy not installed, skipping"; fi'
        language: system
        pass_filenames: false
        files: '^src/.*\.py$'
        stages: [commit]

      - id: check-file-naming
        name: Check file naming conventions
        entry: bash -c 'find src tests -name "*.py" | grep -E "[A-Z]" && echo "❌ Python files should use snake_case" && exit 1 || echo "✅ File naming looks good"'
        language: system
        pass_filenames: false
        stages: [commit]

      - id: update-docs
        name: Update documentation
        entry: python scripts/docs_automation.py --skip-validation --build-only
        language: system
        files: '^(docs/|README\.md|mkdocs\.yml)'
        pass_filenames: false
        stages: [commit]

      - id: validate-config
        name: Validate configuration
        entry: python scripts/validate_config.py
        language: system
        files: '^(\.env.*|pyproject\.toml|src/config/)'
        pass_filenames: false
        stages: [commit]

# Configuration for pre-commit
default_stages: [commit]
fail_fast: false
minimum_pre_commit_version: "3.0.0"

# Skip hooks for certain commits
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ''
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: weekly
  skip: []
  submodules: false

fix(tests): update test for generate_embeddings_batch_api to match custom ID list
  tests/unit/services/embeddings/test_openai_provider.py
Due: pytest-check

refactor: unify search request contract
  CHANGELOG.md
  src/api/app_factory.py
  src/benchmarks/component_benchmarks.py
  src/benchmarks/hybrid_search_benchmark.py
  src/benchmarks/load_test_runner.py
  src/benchmarks/performance_profiler.py
  src/contracts/retrieval.py
  src/models/search.py
  src/models/vector_search.py
  src/services/utilities/__init__.py
  src/services/vector_db/service.py
  src/services/vector_db/types.py
  tests/integration/end_to_end/test_rag_end_to_end.py
  tests/integration/query/test_orchestrator_integration.py
  tests/integration/rag/test_langgraph_pipeline_integration.py
  tests/integration/services/test_rag_service_integration.py
  tests/performance/test_search_orchestrator_performance.py
  tests/unit/api/test_app_factory.py
  tests/unit/config/test_config_router.py
  tests/unit/contracts/test_retrieval.py
  tests/unit/mcp_tools/test_requests.py
  tests/unit/mcp_tools/tools/test_projects.py
  tests/unit/services/query_processing/test_orchestrator.py
  tests/unit/services/rag/test_langgraph_pipeline.py
Due: pytest-check, mypy-check

fix: restore search record grouping fields
  src/services/vector_db/service.py
Due: pytest-check, mypy-check

test: cover vector grouping metadata propagation
  tests/unit/services/vector_db/test_service_grouping.py
Due: pytest-check

refactor: centralize automation tier selection
  CHANGELOG.md
  README.md
  src/mcp_tools/tools/crawling.py
  src/services/browser/router.py
  tests/integration/mcp/test_crawling_tool.py
  tests/unit/services/browser/test_automation_router.py
Due: pytest-check, mypy-check, update-docs

chore: update router.py
  src/services/browser/router.py
Due: pytest-check, mypy-check

fix(router): prioritize playwright for medium complexity js
  src/services/browser/router.py
Due: pytest-check, mypy-check

fix: align router heuristics with dynamic tier expectations
  src/services/browser/router.py
  tests/unit/services/browser/test_browser_router.py
Due: pytest-check, mypy-check

fix: stabilize docs workflow dependencies
  .github/workflows/docs.yml
Due: none

fix: install ruff in lint workflow
  .github/workflows/ci.yml
Due: none

fix: harden lint workflow Ruff setup
  .github/workflows/ci.yml
Due: none

fix: correct pytest installation in docs workflow
  .github/workflows/docs.yml
Due: none

fix: harden mcp rag tooling deps
  CHANGELOG.md
  README.md
  pyrightconfig.json
  src/mcp_services/analytics_service.py
  src/mcp_services/document_service.py
  src/mcp_services/orchestrator_service.py
  src/mcp_services/search_service.py
  src/mcp_services/system_service.py
  src/mcp_tools/tool_registry.py
  src/mcp_tools/tools/analytics.py
  src/mcp_tools/tools/cache.py
  src/mcp_tools/tools/collection_management.py
  src/mcp_tools/tools/configuration.py
  src/mcp_tools/tools/content_intelligence.py
  src/mcp_tools/tools/documents.py
  src/mcp_tools/tools/embeddings.py
  src/mcp_tools/tools/payload_indexing.py
  src/mcp_tools/tools/projects.py
  src/mcp_tools/tools/rag.py
  src/mcp_tools/tools/retrieval.py
  src/mcp_tools/tools/system_health.py
  src/mcp_tools/tools/web_search.py
  src/services/rag/generator.py
  src/unified_mcp_server.py
  tests/unit/mcp_services/test_analytics_service.py
  tests/unit/mcp_services/test_document_service.py
  tests/unit/mcp_services/test_orchestrator_service.py
  tests/unit/mcp_services/test_search_service.py
  tests/unit/mcp_services/test_system_service.py
  tests/unit/mcp_tools/tools/test_collection_management.py
  tests/unit/mcp_tools/tools/test_configuration.py
  tests/unit/mcp_tools/tools/test_embeddings.py
  tests/unit/mcp_tools/tools/test_payload_indexing.py
  tests/unit/mcp_tools/tools/test_projects.py
  tests/unit/mcp_tools/tools/test_rag.py
  tests/unit/mcp_tools/tools/test_system_health.py
  tests/unit/mcp_tools/tools/test_web_search.py
  tests/unit/services/rag/test_generator_validation.py
Due: pytest-check, mypy-check, update-docs

refactor: tests and fix issues across multiple modules
  src/api/app_factory.py
  src/services/browser/crawl4ai_adapter.py
  tests/unit/cli/commands/test_database.py
  tests/unit/conftest.py
  tests/unit/mcp_services/test_document_service.py
  tests/unit/mcp_services/test_search_service.py
  tests/unit/mcp_tools/tools/test_content_intelligence.py
  tests/unit/models/test_api_contracts.py
  tests/unit/models/test_document_processing.py
  tests/unit/models/test_model_validators.py
  tests/unit/scripts/test_rag_golden_eval.py
  tests/unit/services/agents/test_langgraph_runner.py
  tests/unit/services/browser/test_browser_use_adapter.py
  tests/unit/services/embeddings/test_base.py
Due: pytest-check, mypy-check

chore: add py.typed file for type hinting support
  src/py.typed
Due: pytest-check

feat(embedding): add smart selection and model benchmark configurations
  src/config/models.py
Due: pytest-check, mypy-check, validate-config

fix: honor monitoring toggle in unified server
  src/mcp_tools/tool_registry.py
  src/unified_mcp_server.py
  tests/unit/mcp_tools/test_tool_registry.py
Due: pytest-check, mypy-check

fix: update type hint for crawl_manager and improve monitoring configuration logic
  src/mcp_tools/tools/documents.py
  src/services/rag/generator.py
  src/unified_mcp_server.py
  tests/unit/services/rag/test_generator_validation.py
Due: pytest-check, mypy-check

fix: refactor VectorDBUserBehavior initialization and improve logging
  tests/load/base_load_test.py
Due: pytest-check

fix: simplify exception handling in web search tools
  src/mcp_tools/tools/web_search.py
Due: pytest-check, mypy-check

feat: Remove obsolete unit tests for various browser adapters and monitoring system
  src/config/loader.py
  tests/integration/browser/__init__.py
  tests/integration/browser/test_lightweight_scraper_integration.py
  tests/unit/infrastructure/test_http_mocking_patterns.py
  tests/unit/services/browser/__init__.py
  tests/unit/services/browser/_manager_stub_utils.py
  tests/unit/services/browser/test_action_schemas.py
  tests/unit/services/browser/test_anti_detection.py
  tests/unit/services/browser/test_automation_router.py
  tests/unit/services/browser/test_browser_router.py
  tests/unit/services/browser/test_browser_use_adapter.py
  tests/unit/services/browser/test_crawl4ai_adapter.py
  tests/unit/services/browser/test_firecrawl_adapter.py
  tests/unit/services/browser/test_lightweight_scraper.py
  tests/unit/services/browser/test_monitoring.py
  tests/unit/services/browser/test_playwright_adapter.py
  tests/unit/services/browser/test_unified_manager_caching.py
Due: pytest-check, mypy-check, validate-config

refactor: remove obsolete browser and crawling service documentation
  docs/api/services.browser.rst
  docs/api/services.crawling.rst
  docs/api/services.rst
  docs/api/src.services.browser.rst
  docs/api/src.services.crawling.rst
  docs/api/src.services.rst
  docs/developers/browser-orchestration.md
  docs/developers/index.md
  docs/index.md
Due: update-docs

refactor(browser): restructure browser configuration and update related tests
  tests/property/strategies.py
  tests/unit/config/test_config_models_complete.py
  tests/unit/conftest.py
  tests/unit/mcp_tools/tools/test_configuration.py
  tests/unit/services/browser/test_unified_manager.py
Due: pytest-check

fix(browser): improve firecrawl API key validation logic
  src/unified_mcp_server.py
Due: pytest-check, mypy-check

feat: implement browser provider architecture and router for enhanced scraping capabilities
  src/services/browser/__init__.py
  src/services/browser/crawl4ai_adapter.py
  src/services/browser/errors.py
  src/services/browser/lightweight_scraper.py
  src/services/browser/models.py
  src/services/browser/providers/__init__.py
  src/services/browser/providers/base.py
  src/services/browser/providers/browser_use.py
  src/services/browser/router.py
  src/services/browser/telemetry.py
  src/services/browser/unified_manager.py
Due: pytest-check, mypy-check

feat(deps): remove unused deps and add browser ai deps to core deps
  pyproject.toml
  uv.lock
Due: validate-config

feat(cache): enhance DragonflyCache and CacheManager with distributed cache support
  src/services/cache/dragonfly_cache.py
  src/services/cache/manager.py
  tests/conftest.py
  tests/fixtures/redis.py
  tests/services/cache/test_cache_manager_behavior.py
  tests/services/cache/test_dragonfly_cache_integration.py
Due: pytest-check, mypy-check

feat(deps): add fakeredis for testing
  pyproject.toml
  uv.lock
Due: validate-config

refactor(browser): reorganize imports and update provider references test(router): add unit tests for router orchestration logic fix(tests): update metadata keys from 'tier_used' to 'provider'
  src/config/loader.py
  src/services/browser/__init__.py
  src/services/browser/router.py
  tests/property/test_config_schemas.py
  tests/unit/mcp_tools/tools/test_documents_ingest.py
  tests/unit/mcp_tools/tools/test_lightweight_scrape.py
  tests/unit/services/browser/test_router.py
  tests/unit/services/browser/test_unified_manager.py
  tests/unit/services/content_intelligence/test_quality_assessor.py
Due: pytest-check, mypy-check, validate-config

fix(api-explorer): update variable name for API Base URL input fix(browser-orchestration): clarify configuration source and update module paths
  docs/api/interactive-api-explorer.py
  docs/developers/browser-orchestration.md
  src/config/__init__.py
Due: pytest-check, mypy-check, update-docs, validate-config

refactor(browser): update documentation structure and improve clarity
  docs/api/src.services.browser.rst
Due: update-docs

refactor(content): update extraction method to use provider instead of tier
  src/services/cache/browser_cache.py
  src/services/content_intelligence/metadata_extractor.py
  src/services/content_intelligence/quality_assessor.py
Due: pytest-check, mypy-check

refactor(health-manager): update configuration to include browser settings and simplify expected checks
  tests/unit/services/observability/test_health_manager.py
Due: pytest-check

refactor: remove monitoring and Playwright adapter modules
  src/services/browser/anti_detection.py
  src/services/browser/browser_use_adapter.py
  src/services/browser/firecrawl_adapter.py
  src/services/browser/monitoring.py
  src/services/browser/playwright_adapter.py
Due: pytest-check, mypy-check

chore(dependencies): update hypothesis, locust, locust-cloud, pylint, pyright, python-socketio, and ruff to latest versions
  uv.lock
Due: none

refactor(dependencies): enhance browser router setup and normalize crawl payload handling
  src/services/dependencies.py
Due: pytest-check, mypy-check

feat(provider): add Crawl4AI, Firecrawl, and Playwright providers
  src/services/browser/providers/crawl4ai.py
  src/services/browser/providers/firecrawl.py
  src/services/browser/providers/playwright.py
Due: pytest-check, mypy-check

refactor(dependencies): remove obsolete browser automation dependencies
  pyproject.toml
  uv.lock
Due: validate-config

refactor(tests): update load test configuration and skip logic
  src/mcp_tools/tools/agentic_rag.py
  tests/conftest.py
  tests/load/__init__.py
  tests/load/base_load_test.py
Due: pytest-check, mypy-check

refactor(dependencies): remove obsolete browser-related dependencies from project configuration
  pyproject.toml
  uv.lock
Due: validate-config
