Repository BjornMelin/ai-docs-vector-db-hybrid-scraper: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, mypy-check, update-docs, validate-config

pytest-check:
  name: Run pytest
  entry: uv run pytest tests/unit --tb=short --maxfail=5 -x --disable-warnings
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - commit

mypy-check:
  name: Run mypy type checking
  entry: bash -c 'if command -v mypy &> /dev/null; then uv run mypy src/; else echo "mypy not installed, skipping"; fi'
  language: system
  pass_filenames: false
  stages:
  - commit

update-docs:
  name: Update documentation
  entry: python scripts/docs_automation.py --skip-validation --build-only
  language: system
  pass_filenames: false
  stages:
  - commit

validate-config:
  name: Validate configuration
  entry: python scripts/validate_config.py
  language: system
  pass_filenames: false
  stages:
  - commit

feat: Enhance TelemetryRepository with configurable histogram sampling and memory management
  src/config/__init__.py
  src/config/models.py
  src/infrastructure/client_manager.py
  src/mcp_services/orchestrator_service.py
  src/mcp_tools/tools/agentic_rag.py
  src/services/agents/dynamic_tool_discovery.py
  src/services/agents/langgraph_runner.py
  src/services/agents/tool_execution_service.py
  src/services/fastapi/production_server.py
  src/services/logging_config.py
  src/services/monitoring/telemetry_repository.py
  tests/unit/mcp_services/test_orchestrator_graph_runner.py
  tests/unit/services/agents/test_tool_execution_service.py
  tests/unit/services/test_logging_config.py
Due: pytest-check, mypy-check, validate-config

fix: correct documentation string and improve logging initialization
  src/unified_mcp_server.py
Due: pytest-check, mypy-check

refactor: health check utilities and remove unused import resolution code
  docs/api/src.utils.rst
  docs/api/utils.rst
  pyproject.toml
  src/cli/main.py
  src/services/health/__init__.py
  src/utils.py
  src/utils/__init__.py
  src/utils/cross_platform.py
  src/utils/health_checks.py
  src/utils/imports.py
  src/utils/paths.py
  tests/unit/cli/test_main.py
  tests/unit/utils/test_health_checks.py
  tests/unit/utils/test_paths.py
  tests/unit/utils/test_utils_imports.py
  uv.lock
Due: pytest-check, mypy-check, update-docs, validate-config

test(health): add unit tests for service health checks
  tests/unit/cli/conftest.py
  tests/unit/services/health/test_checks.py
  tests/unit/utils/test_utils.py
Due: pytest-check

refactor: dependency retrieval in MCP tools
  src/crawl4ai_bulk_embedder.py
  src/manage_vector_db.py
  src/mcp_tools/tools/cache.py
  src/mcp_tools/tools/collection_management.py
  src/mcp_tools/tools/content_intelligence.py
  src/mcp_tools/tools/crawling.py
  src/mcp_tools/tools/documents.py
  src/mcp_tools/tools/embeddings.py
  src/mcp_tools/tools/lightweight_scrape.py
  src/mcp_tools/tools/projects.py
  src/services/browser/unified_manager.py
  tests/integration/mcp/test_server_lifespan.py
  tests/unit/mcp_tools/tools/test_cache.py
  tests/unit/mcp_tools/tools/test_collection_management.py
  tests/unit/mcp_tools/tools/test_content_intelligence.py
  tests/unit/mcp_tools/tools/test_documents_ingest.py
  tests/unit/mcp_tools/tools/test_embeddings.py
  tests/unit/mcp_tools/tools/test_projects.py
  tests/unit/services/browser/test_unified_manager.py
  tests/unit/services/browser/test_unified_manager_caching.py
Due: pytest-check, mypy-check

refactor: apply pylint disable for too-many-arguments and too-many-instance-attributes
  src/crawl4ai_bulk_embedder.py
  src/mcp_tools/tools/content_intelligence.py
  src/mcp_tools/tools/crawling.py
  src/mcp_tools/tools/lightweight_scrape.py
  src/services/browser/unified_manager.py
  src/services/cache/dragonfly_cache.py
  src/services/cache/manager.py
  tests/unit/mcp_tools/tools/test_documents_ingest.py
Due: pytest-check, mypy-check

feat: Enhance unified MCP server with transport normalization and improved configuration validation
  src/services/browser/unified_manager.py
  src/services/dependencies.py
  src/services/fastapi/__init__.py
  src/services/fastapi/dependencies/__init__.py
  src/services/fastapi/dependencies/core.py
  src/unified_mcp_server.py
  tests/unit/mcp_tools/tools/test_cache.py
  tests/unit/mcp_tools/tools/test_embeddings.py
  tests/unit/mcp_tools/tools/test_lightweight_scrape.py
  tests/unit/mcp_tools/tools/test_projects.py
  tests/unit/services/fastapi/test_dependencies_core.py
Due: pytest-check, mypy-check

tests: remove extended test suite for crawl4ai_bulk_embedder to streamline codebase and improve maintainability.
  src/crawl4ai_bulk_embedder.py
  src/services/cache/manager.py
  tests/unit/services/browser/test_unified_manager_caching.py
  tests/unit/services/embeddings/test_crawl4ai_bulk_embedder.py
  tests/unit/services/embeddings/test_crawl4ai_bulk_embedder_extended.py
Due: pytest-check, mypy-check

test: fix assertion for total_requests in UnifiedBrowserManager caching tests
  tests/unit/services/browser/test_unified_manager_caching.py
Due: pytest-check

refactor: improve error logging and update metrics access in UnifiedBrowserManager
  src/services/browser/unified_manager.py
  tests/unit/services/browser/test_unified_manager.py
  tests/unit/services/browser/test_unified_manager_caching.py
Due: pytest-check, mypy-check

refactor: enhance cache manager TTL configuration and improve logging patterns
  src/services/dependencies.py
  src/services/logging_config.py
  src/unified_mcp_server.py
  src/utils/__init__.py
Due: pytest-check, mypy-check

chore(deps): delete pydantic-ai from pyproject.toml and update docs per langchain migration
  planning/README.md
  planning/docs/project-context.md
  planning/done/P3/A1_langchain_integration_analysis.md
  planning/done/P3/A1_pydantic_ai_integration_analysis.md
  planning/done/P3/A2_langchain_integration_analysis_dual.md
  planning/done/P3/A2_pydantic_ai_integration_analysis_dual.md
  planning/done/P3/C2_fastmcp_integration_analysis_dual.md
  planning/master_report.md
  planning/status.json
  pyproject.toml
  uv.lock
Due: validate-config

refactor: Remove obsolete analysis documents for MCP Framework Optimization and FastMCP Integration
  docs/developers/agentic-orchestration.md
  docs/developers/architecture.md
  docs/developers/index.md
  docs/developers/mcp-integration.md
  docs/developers/service_adapters.md
  docs/index.md
  docs/observability/query_processing_metrics.md
  docs/operators/index.md
  docs/operators/operations.md
  docs/security/index.md
  planning/README.md
  planning/done/P2/I1_ADVANCED_BROWSER_AUTOMATION_RESEARCH_REPORT.md
  planning/done/P2/I2_AGENTIC_RAG_AUTO_RAG_SELF_HEALING_RESEARCH_REPORT.md
  planning/done/P2/I3_5_TIER_CRAWLING_ENHANCEMENT_RESEARCH_REPORT.md
  planning/done/P2/I4_VECTOR_DATABASE_AGENTIC_MODERNIZATION_REPORT.md
  planning/done/P2/I5_WEB_SEARCH_TOOL_ORCHESTRATION_REPORT.md
  planning/done/P2/J1_ENTERPRISE_AGENTIC_OBSERVABILITY_REPORT.md
  planning/done/P2/J2_AGENTIC_SECURITY_PERFORMANCE_OPTIMIZATION_REPORT.md
  planning/done/P2/J3_DYNAMIC_TOOL_COMPOSITION_ENGINE_REPORT.md
  planning/done/P2/J4_PARALLEL_AGENT_COORDINATION_ARCHITECTURE_REPORT.md
  planning/done/P3/A1_langchain_integration_analysis.md
  planning/done/P3/A2_langchain_integration_analysis_dual.md
  planning/done/P3/B1_mcp_framework_optimization_analysis.md
  planning/done/P3/B2_mcp_framework_optimization_dual.md
  planning/done/P3/C1_fastmcp_integration_analysis.md
  planning/done/P3/C2_fastmcp_integration_analysis_dual.md
  planning/master_report.md
Due: update-docs

feat(cache): implement pattern-based key management in distributed cache
  src/services/cache/manager.py
Due: pytest-check, mypy-check

feat(templates): add new templates for ADR, agent reports, document metadata, and phase status chore: remove obsolete planning README and status files
  docs/developers/templates/adr-template.md
  docs/developers/templates/agent-report-template.md
  docs/developers/templates/document-metadata.md
  docs/developers/templates/phase-status-template.json
  docs/project-context.md
  planning/README.md
  planning/status.json
Due: update-docs

docs: delete MAIN_TRACKING_RESEARCH_REPORT.md as part of the comprehensive agentic RAG transformation, consolidating research findings and documentation into updated strategic decision documents.
  .markdownlintignore
  CHANGELOG.md
  docs/developers/api-reference.md
  docs/developers/cache/persistent-cache.md
  docs/developers/configuration.md
  docs/developers/deployment.md
  docs/developers/index.md
  docs/developers/queries/response-contract.md
  docs/plans/legacy-helper-removal.md
  docs/plans/research-consolidation-map.md
  docs/plans/research-synthesis.md
  docs/users/examples-and-recipes.md
  docs/users/index.md
  docs/users/troubleshooting.md
  docs/users/web-scraping.md
  planning/COMPREHENSIVE_SYNTHESIS_REPORT.md
  planning/MAIN_TRACKING_RESEARCH_REPORT.md
Due: update-docs

feat(docs): add master report reference to research consolidation map
  docs/plans/master-report.md
  docs/plans/research-consolidation-map.md
Due: update-docs

fix(dependencies): remove unused opentelemetry packages from dependencies
  pyproject.toml
  uv.lock
Due: validate-config

refactor: consolidate documentation and remove deprecated files
  docs/build_config/mkdocs.yml
  docs/developers/api-and-contracts.md
  docs/developers/api-reference.md
  docs/developers/cache-and-performance.md
  docs/developers/cache/persistent-cache.md
  docs/developers/ci-cd.md
  docs/developers/compatibility-matrix.md
  docs/developers/contributing-and-testing.md
  docs/developers/contributing.md
  docs/developers/deployment.md
  docs/developers/github-actions.md
  docs/developers/index.md
  docs/developers/platform-operations.md
  docs/developers/queries/response-contract.md
  docs/developers/testing.md
  docs/index.md
Due: update-docs

refactor(docs): update documentation structure and references for clarity and consistency
  docs/build_config/mkdocs.yml
  docs/developers/architecture-and-orchestration.md
  docs/developers/index.md
  docs/index.md
  docs/plans/research-consolidation-map.md
  docs/plans/research-synthesis.md
Due: update-docs

feat(anti_detection): enhance anti-detection capabilities and refactor session management
  src/services/browser/anti_detection.py
  src/services/browser/playwright_adapter.py
  tests/unit/services/browser/test_anti_detection.py
  tests/unit/services/browser/test_playwright_adapter.py
Due: pytest-check, mypy-check

chore(docs): update documentation links and ensure uv availability in workflow
  .github/workflows/docs.yml
  README.md
  docs/users/configuration-management.md
  pyproject.toml
Due: update-docs, validate-config

fix(docs): update documentation dependencies and sync command
  .github/workflows/docs.yml
  pyproject.toml
  uv.lock
Due: validate-config

feat(docs): add installation step for uv in workflow
  .github/workflows/docs.yml
  docs/security/security-checklist.md
Due: update-docs

feat(docs): add document metadata guidelines and update links in developer documentation
  docs/developers/document-metadata.md
  docs/developers/gpu-acceleration.md
  docs/developers/index.md
  docs/security/index.md
  docs/testing/index.md
Due: update-docs

fix(dependencies): improve client manager handling in dependency functions
  src/services/cache/manager.py
  src/services/dependencies.py
  src/services/fastapi/__init__.py
  src/services/fastapi/dependencies/__init__.py
  src/services/fastapi/dependencies/core.py
  tests/unit/services/fastapi/test_dependencies_core.py
Due: pytest-check, mypy-check

fix: replace remaining logging f-strings
  src/benchmarks/hybrid_search_benchmark.py
  src/benchmarks/load_test_runner.py
  src/benchmarks/performance_profiler.py
  src/security/ml_security.py
  src/services/deployment/blue_green.py
  src/services/fastapi/middleware/compression.py
  src/services/fastapi/middleware/performance.py
  src/services/functional/crawling.py
  src/services/monitoring/performance_monitor.py
  tests/load/locust_load_runner.py
  tests/load/run_load_tests.py
  tests/load/scalability/test_scalability_load.py
  tests/load/spike_testing/test_spike_load.py
  tests/load/stress_testing/conftest.py
  tests/load/stress_testing/test_breaking_points.py
  tests/load/stress_testing/test_circuit_breakers.py
  tests/load/stress_testing/test_stress_load.py
  tests/load/stress_testing/test_system_monitoring.py
Due: pytest-check, mypy-check

chore: update src/services/monitoring/performance_monitor.py
  src/services/monitoring/performance_monitor.py
Due: pytest-check, mypy-check

chore: remove redundant exceptions from an except clause
  src/services/fastapi/middleware/performance.py
Due: pytest-check, mypy-check

chore: remove redundant exceptions from an except clause - Update src/benchmarks/hybrid_search_benchmark.py
  src/benchmarks/hybrid_search_benchmark.py
Due: pytest-check, mypy-check

refactor: FastAPI service dependencies and middleware management
  CHANGELOG.md
  docs/TECH_DEBT.md
  docs/developers/architecture-and-orchestration.md
  pyproject.toml
  src/api/app_factory.py
  src/api/lifespan.py
  src/manage_vector_db.py
  src/services/dependencies.py
  src/services/fastapi/__init__.py
  src/services/fastapi/dependencies.py
  src/services/fastapi/dependencies/__init__.py
  src/services/fastapi/middleware/manager.py
  src/services/registry.py
  tests/fixtures/async_fixtures.py
  tests/services/cache/test_cache_manager_behavior.py
  tests/unit/services/fastapi/test_dependencies_core.py
  tests/unit/services/fastapi/test_middleware_manager.py
  uv.lock
Due: pytest-check, mypy-check, update-docs, validate-config

fix(cache): set default Redis TTL to 3600 seconds when not supplied
  src/services/cache/manager.py
  src/services/fastapi/dependencies.py
Due: pytest-check, mypy-check

test(cache): update specialized cache tests to reflect correct default TTL behavior
  tests/services/cache/test_cache_manager_behavior.py
Due: pytest-check

refactor: remove obsolete unit tests for circuit breaker, database connection pooling, and embeddings functionality
  docs/api/src.services.functional.rst
  docs/api/src.services.rst
  src/services/browser/crawl4ai_adapter.py
  src/services/functional/__init__.py
  src/services/functional/cache.py
  src/services/functional/circuit_breaker.py
  src/services/functional/crawling.py
  src/services/functional/dependencies.py
  src/services/functional/embeddings.py
  tests/unit/README.md
  tests/unit/services/fastapi/test_dependencies_core.py
  tests/unit/services/functional/__init__.py
  tests/unit/services/functional/test_browser_automation_monitoring.py
  tests/unit/services/functional/test_circuit_breaker.py
  tests/unit/services/functional/test_database_connection_pooling.py
  tests/unit/services/functional/test_embeddings.py
Due: pytest-check, mypy-check, update-docs

refactor(dependencies): streamline client manager initialization and accessors
  src/mcp_tools/tools/content_intelligence.py
  src/mcp_tools/tools/lightweight_scrape.py
  src/services/browser/automation_router.py
  src/services/browser/unified_manager.py
  src/services/dependencies.py
  tests/unit/infrastructure/test_client_manager.py
Due: pytest-check, mypy-check

test(stress): refactor service access helpers and dependency wrappers
  src/services/browser/lightweight_scraper.py
  src/services/dependencies.py
  tests/load/locust_load_runner.py
  tests/load/run_load_tests.py
  tests/load/stress_testing/conftest.py
  tests/load/stress_testing/test_breaking_points.py
  tests/load/stress_testing/test_circuit_breakers.py
  tests/load/stress_testing/test_stress_load.py
  tests/load/stress_testing/test_system_monitoring.py
Due: pytest-check, mypy-check

feat: Enhance ClientManager with new service retrieval methods and cleanup logic
  src/benchmarks/load_test_runner.py
  src/benchmarks/performance_profiler.py
  src/infrastructure/client_manager.py
  src/security/ml_security.py
  tests/load/locust_load_runner.py
  tests/load/performance_utils.py
  tests/load/runner_core.py
Due: pytest-check, mypy-check

feat: add CLI utilities for load test runner and enhance embedding tests
  CHANGELOG.md
  src/mcp_tools/__init__.py
  src/mcp_tools/tools/collection_management.py
  src/mcp_tools/tools/cost_estimation.py
  src/mcp_tools/tools/projects.py
  src/mcp_tools/utils/__init__.py
  src/mcp_tools/utils/provider_metadata.py
  src/security/ml_security.py
  tests/load/run_load_tests.py
  tests/load/runner_cli.py
  tests/unit/mcp_tools/tools/test_embeddings.py
  tests/unit/mcp_tools/tools/test_provider_metadata.py
Due: pytest-check, mypy-check

refactor(cache, embeddings, registry): streamline client manager usage and enhance cache management
  src/mcp_tools/tools/cache.py
  src/mcp_tools/tools/embeddings.py
  src/services/registry.py
  tests/unit/services/fastapi/test_dependencies_core.py
Due: pytest-check, mypy-check

refactor(dependencies, middleware, managers): enhance service retrieval and error handling in FastAPI components
  src/services/fastapi/dependencies.py
  src/services/fastapi/middleware/correlation.py
  src/services/fastapi/middleware/manager.py
  src/services/fastapi/middleware/performance.py
  src/services/fastapi/middleware/security.py
  src/services/fastapi/middleware/timeout.py
  src/services/fastapi/middleware/tracing.py
  src/services/managers/database_manager.py
  tests/unit/services/fastapi/test_dependencies_core.py
Due: pytest-check, mypy-check

Path conditions:
  pytest-check: any of: ^(src/|tests/)
  mypy-check: any of: ^src/.*\.py$
  update-docs: any of: ^(docs/|README\.md|mkdocs\.yml)
  validate-config: any of: ^(\.env.*|pyproject\.toml|src/config/)
