Repository BjornMelin/ai-docs-vector-db-hybrid-scraper: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, mypy-check, update-docs, validate-config

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# Run `uv tool install pre-commit && pre-commit install` to set up

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        exclude: '^(.*\.md|.*\.txt)$'
      - id: end-of-file-fixer
        exclude: '^(.*\.md|.*\.txt)$'
      - id: check-yaml
        args: ['--unsafe']
      - id: check-toml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: debug-statements
      - id: check-docstring-first
      - id: check-case-conflict

  # Python code formatting and linting with Ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Linter
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        types_or: [python, pyi, jupyter]
      # Formatter
      - id: ruff-format
        types_or: [python, pyi, jupyter]

  # Security checks
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.10
    hooks:
      - id: bandit
        args: ['-r', 'src/', '-f', 'json']
        exclude: '^tests/'

  # Secret detection
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.21.2
    hooks:
      - id: gitleaks

  # Dependency checks
  - repo: https://github.com/lucas-c/pre-commit-hooks-safety
    rev: v1.3.2
    hooks:
      - id: python-safety-dependencies-check
        files: pyproject.toml

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.42.0
    hooks:
      - id: markdownlint
        args: [--fix]
        exclude: '^(htmlcov|cache|logs)/'

  # YAML formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json]
        exclude: '^(.*\.lock|uv\.lock)$'

  # Local hooks for project-specific checks
  - repo: local
    hooks:
      - id: pytest-check
        name: Run pytest
        entry: uv run pytest tests/unit --tb=short --maxfail=5 -x --disable-warnings
        language: system
        pass_filenames: false
        always_run: false
        files: '^(src/|tests/)'
        stages: [commit]

      - id: mypy-check
        name: Run mypy type checking
        entry: bash -c 'if command -v mypy &> /dev/null; then uv run mypy src/; else echo "mypy not installed, skipping"; fi'
        language: system
        pass_filenames: false
        files: '^src/.*\.py$'
        stages: [commit]

      - id: check-file-naming
        name: Check file naming conventions
        entry: bash -c 'find src tests -name "*.py" | grep -E "[A-Z]" && echo "❌ Python files should use snake_case" && exit 1 || echo "✅ File naming looks good"'
        language: system
        pass_filenames: false
        stages: [commit]

      - id: update-docs
        name: Update documentation
        entry: python scripts/docs_automation.py --skip-validation --build-only
        language: system
        files: '^(docs/|README\.md|mkdocs\.yml)'
        pass_filenames: false
        stages: [commit]

      - id: validate-config
        name: Validate configuration
        entry: python scripts/validate_config.py
        language: system
        files: '^(\.env.*|pyproject\.toml|src/config/)'
        pass_filenames: false
        stages: [commit]

# Configuration for pre-commit
default_stages: [commit]
fail_fast: false
minimum_pre_commit_version: "3.0.0"

# Skip hooks for certain commits
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ''
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: weekly
  skip: []
  submodules: false

feat(config): consolidate configuration tests and enhance validation framework
  docs/developers/config_consolidation_validation_report.md
  pyproject.toml
  src/config/security/config.py
  src/config/settings.py
  src/mcp_tools/tools/cost_estimation.py
  src/models/vector_search.py
  tests/integration/README.md
  tests/integration/multi_agent/conftest.py
  tests/integration/multi_agent/test_distributed_workflows.py
  tests/integration/multi_agent/test_performance_optimization.py
  tests/integration/multi_agent/test_state_synchronization.py
  tests/integration/services/test_service_interactions.py
  tests/integration/test_config_error_scenarios.py
  tests/unit/config/test_config.py
  tests/unit/config/test_config_async_validation.py
  tests/unit/config/test_config_drift_detection.py
  tests/unit/config/test_config_error_handling.py
  tests/unit/config/test_config_manager.py
  tests/unit/config/test_security_fixes.py
  tests/unit/mcp_services/test_analytics_service.py
  tests/unit/mcp_services/test_document_service.py
  tests/unit/mcp_services/test_orchestrator_service.py
  tests/unit/mcp_services/test_search_service.py
  tests/unit/mcp_services/test_system_service.py
  tests/unit/processing/test_chunking.py
  tests/unit/processing/test_chunking_performance.py
  tests/unit/services/agents/test_agentic_orchestrator.py
  tests/unit/services/agents/test_dynamic_tool_discovery.py
  tests/unit/services/analytics/test_vector_visualization.py
  tests/unit/services/observability/test_observability_integration.py
  tests/unit/services/test_modern_libraries.py
  tests/unit/services/vector_db/test_hybrid_search.py
  tests/unit/services/vector_db/test_model_selector.py
  tests/unit/services/vector_db/test_query_classifier.py
  tests/unit/services/vector_db/test_search.py
  uv.lock
Due: pytest-check, mypy-check, update-docs, validate-config

docs: reorganize documentation into logical directory structure
  docs/developers/thread-safety-fixes.md
  docs/implementation_summary.md
  docs/operators/config_simplification.md
  docs/operators/configuration-migration-guide.md
  docs/operators/configuration-reloading.md
  docs/operators/configuration_error_handling.md
  docs/operators/cross-platform-compatibility.md
  docs/security/enhanced_security_config_implementation.md
  docs/security/security-testing-framework.md
  docs/security/security-testing-playbook.md
  docs/security/security-validation-report.md
  docs/security/security_config_implementation.md
  docs/subagent_g_implementation_summary.md
  planning/implementation-logs/test-infrastructure-consolidation-report.md
Due: update-docs

feat: complete research consolidation with enhanced architecture and validation
  docs/build-config/conf.py
  docs/portfolio/interactive-api-explorer.py
  docs/security/COMPLIANCE_PRIVACY_STRATEGY.md
  docs/security/REDIS_RATE_LIMITING_IMPLEMENTATION.md
  docs/security/SECURITY_ARCHITECTURE_ASSESSMENT.md
  planning/MAIN_TRACKING_RESEARCH_REPORT.md
  planning/master_report.md
  planning/status.json
  security_validation_report_1751311530.json
  src/architecture/features.py
  src/mcp_tools/models/__init__.py
  src/mcp_tools/models/requests.py
  src/mcp_tools/models/responses.py
  src/services/vector_db/collections.py
  src/services/vector_db/splade_provider.py
  src/unified_mcp_server.py
  tests/benchmarks/test_database_performance.py
  tests/security/test_redis_rate_limiting.py
  tests/security/validate_security_framework.py
Due: pytest-check, mypy-check, update-docs

refactor: finalize utility and service layer improvements
  src/mcp_tools/tools/cost_estimation.py
  src/services/agents/tool_orchestration.py
  src/services/fastapi/middleware/security.py
  src/services/vector_db/agentic_manager.py
  src/services/vector_db/hybrid_search.py
  src/utils.py
  tests/unit/services/vector_db/test_hybrid_search.py
Due: pytest-check, mypy-check

fix(vector-db): update adaptive fusion tuner imports and optimization
  src/services/vector_db/adaptive_fusion_tuner.py
Due: pytest-check, mypy-check

fix(types): replace missing model imports with Any type and TODO comments
  src/services/vector_db/adaptive_fusion_tuner.py
  src/services/vector_db/model_selector.py
  src/services/vector_db/query_classifier.py
Due: pytest-check, mypy-check

feat(improvements): enhance code functionality and test security
  src/services/vector_db/query_classifier.py
  tests/unit/config/test_config.py
  tests/unit/infrastructure/test_pydantic_settings_patterns.py
  tests/unit/services/observability/test_observability_ai_tracking.py
  tests/unit/services/observability/test_observability_performance.py
  tests/unit/services/test_base.py
  tests/unit/services/test_decorators.py
  tests/unit/services/vector_db/filters/test_base.py
Due: pytest-check, mypy-check

fix(cleanup): finalize TODO comments and import formatting
  src/services/vector_db/adaptive_fusion_tuner.py
  src/services/vector_db/model_selector.py
  src/services/vector_db/query_classifier.py
  tests/unit/config/test_config_manager.py
  tests/unit/config/test_security_fixes.py
  tests/unit/infrastructure/test_pydantic_settings_patterns.py
  tests/unit/services/observability/test_observability_instrumentation.py
  tests/unit/services/observability/test_observability_integration.py
  tests/unit/services/test_decorators.py
  tests/unit/services/vector_db/filters/test_base.py
Due: pytest-check, mypy-check

feat(docs): introduce dual-mode architecture guide and enhance documentation structure
  docs/build-config/mkdocs.yml
  docs/dual-mode-architecture.md
  docs/portfolio/career-positioning.md
  docs/portfolio/performance-analysis.md
  docs/portfolio/presentation-guide.md
  docs/portfolio/technical-deep-dive.md
  docs/research/transformation/README.md
  docs/security/COMPLIANCE_PRIVACY_STRATEGY.md
  docs/security/COST_EFFECTIVE_SECURITY_TOOLS.md
  docs/security/ESSENTIAL_SECURITY_CHECKLIST.md
  docs/security/REDIS_RATE_LIMITING_IMPLEMENTATION.md
  docs/security/SECURITY_ARCHITECTURE_ASSESSMENT.md
  docs/security/enhanced-security-config-implementation.md
  docs/security/security-config-implementation.md
Due: update-docs

refactor(demos): simplify print statements for clarity and consistency
  examples/agentic_rag_demo.py
  examples/config_drift_demo.py
  examples/config_error_handling_demo.py
  examples/config_reload_example.py
  examples/enhanced_security_config_demo.py
  examples/integration_success_demo.py
  examples/parallel_processing_di_demo.py
Due: none

fix(tests): clean up import statements and improve string formatting in test files
  tests/unit/services/vector_db/filters/test_composer.py
  tests/unit/services/vector_db/test_hybrid_search.py
  tests/unit/services/vector_db/test_query_classifier.py
  tests/unit/services/vector_db/test_splade_provider.py
Due: pytest-check

fix(tests): simplify error raising in observability test files
  tests/unit/services/observability/test_observability_ai_tracking.py
  tests/unit/services/observability/test_observability_correlation.py
  tests/unit/services/observability/test_observability_error_tracking.py
Due: pytest-check

refactor(observability): clean up import statements and improve string formatting
  src/services/observability/config.py
  src/services/observability/enterprise.py
  src/services/observability/tracking.py
Due: pytest-check, mypy-check

refactor(vector_db): improve import statements and logging format
  src/services/vector_db/adaptive_fusion_tuner.py
  src/services/vector_db/agentic_manager.py
  src/services/vector_db/collections.py
  src/services/vector_db/documents.py
  src/services/vector_db/hybrid_search.py
  src/services/vector_db/indexing.py
  src/services/vector_db/model_selector.py
  src/services/vector_db/optimization.py
  src/services/vector_db/query_classifier.py
  src/services/vector_db/search.py
  src/services/vector_db/service.py
  src/services/vector_db/splade_provider.py
Due: pytest-check, mypy-check

refactor(logging): standardize logging format and improve readability
  src/services/agents/agentic_orchestrator.py
  src/services/agents/coordination.py
  src/services/agents/core.py
  src/services/agents/dynamic_tool_discovery.py
  src/services/agents/integration.py
  src/services/agents/query_orchestrator.py
  src/services/agents/tool_orchestration.py
Due: pytest-check, mypy-check

refactor(performance): simplify response time collection in middleware
  src/services/fastapi/middleware/performance.py
  src/services/fastapi/middleware/security.py
  src/services/middleware/rate_limiting.py
  tests/security/penetration/test_api_security.py
  tests/security/penetration/test_vector_penetration.py
  tests/unit/services/utilities/test_hnsw_optimizer.py
  tests/unit/services/utilities/test_rate_limiter.py
Due: pytest-check, mypy-check

refactor(security): improve logging format and simplify exception handling
  src/services/security/ai_security.py
  src/services/security/integration.py
  src/services/security/middleware.py
  src/services/security/monitoring.py
  src/services/security/rate_limiter.py
  tests/security/validate_security_framework.py
  tests/unit/config/test_security_fixes.py
Due: pytest-check, mypy-check

refactor(imports): remove unused import in generator.py
  src/services/hyde/generator.py
Due: pytest-check, mypy-check

refactor(tests): improve string formatting in accessibility tests
  tests/accessibility/a11y/test_automated_accessibility.py
  tests/security/vulnerability/test_dependency_scanning.py
  tests/unit/services/task_queue/test_manager.py
  tests/unit/services/task_queue/test_worker.py
  tests/unit/services/test_base.py
  tests/unit/services/test_logging_config.py
  tests/utils/minimal_ai_testing.py
  tests/utils/test_config_helpers.py
Due: pytest-check

refactor(logging): improve exception handling and string formatting
  src/automation/config_automation.py
  src/automation/infrastructure_automation.py
  src/automation/self_healing/auto_remediation_engine.py
  src/automation/self_healing/autonomous_health_monitor.py
  src/automation/self_healing/intelligent_chaos_orchestrator.py
  src/automation/self_healing/predictive_maintenance.py
Due: pytest-check, mypy-check

refactor(security): enhance security configuration with new classes and fields
  src/config/security/__init__.py
  src/config/security/config.py
Due: pytest-check, mypy-check, validate-config

refactor(configuration): update .gitignore and pyproject.toml for clarity and organization
  .gitignore
  pyproject.toml
  security_validation_report_1751311530.json
  src/__init__.py
  src/manage_vector_db.py
Due: pytest-check, mypy-check, validate-config

refactor(docs): improve string formatting in interactive API explorer
  docs/portfolio/interactive-api-explorer.py
Due: update-docs

feat(drift): implement configuration drift detection system
  src/config/__init__.py
  src/config/drift.py
  src/models/vector_search.py
  tests/unit/config/test_config.py
  tests/unit/config/test_config_error_handling.py
  tests/unit/models/test_document_processing.py
Due: pytest-check, mypy-check, validate-config

refactor(logging): standardize logging string formatting
  src/services/enterprise/cache.py
  src/services/enterprise/integration.py
  src/services/enterprise/search.py
Due: pytest-check, mypy-check

refactor(logging): standardize exception handling and logging formatting
  src/infrastructure/client_manager.py
  src/infrastructure/clients/firecrawl_client.py
  src/infrastructure/clients/http_client.py
  src/infrastructure/clients/openai_client.py
  src/infrastructure/clients/qdrant_client.py
  src/infrastructure/clients/redis_client.py
  src/infrastructure/container.py
  src/infrastructure/database/connection_manager.py
  src/infrastructure/database/monitoring.py
  src/infrastructure/shared.py
Due: pytest-check, mypy-check

refactor(imports): remove unused timezone import from multiple test files
  tests/integration/multi_agent/conftest.py
  tests/integration/multi_agent/test_distributed_workflows.py
  tests/integration/multi_agent/test_performance_optimization.py
  tests/integration/multi_agent/test_state_synchronization.py
Due: pytest-check

refactor(formatting): improve string formatting in application descriptions and logging
  src/api/app_factory.py
  src/architecture/service_factory.py
  src/mcp_tools/tools/hyde_search.py
Due: pytest-check, mypy-check

refactor(imports): remove unused imports from analytics modules
  src/services/analytics/search_dashboard.py
  src/services/analytics/vector_visualization.py
Due: pytest-check, mypy-check

refactor(formatting): improve string formatting in benchmark tests
  tests/benchmarks/performance_suite.py
  tests/benchmarks/test_config_caching.py
  tests/benchmarks/test_config_performance.py
  tests/benchmarks/test_config_reload_performance.py
Due: pytest-check

refactor(formatting): improve string formatting and imports across multiple files
  src/services/auto_detection/connection_pools.py
  src/services/auto_detection/health_checks.py
  src/services/auto_detection/service_discovery.py
  src/services/circuit_breaker/modern.py
  src/services/config_drift_service.py
  src/services/embeddings/manager.py
  src/services/integration/modern_examples.py
  src/services/managers/embedding_manager.py
  src/services/migration/library_migration.py
  src/services/monitoring/performance_monitor.py
  src/services/processing/batch_optimizer.py
  src/services/rag/generator.py
  src/services/simple/cache.py
  src/services/simple/search.py
Due: pytest-check, mypy-check

refactor(validation): standardize exception messages and improve string formatting
  tests/load/run_load_tests.py
  tests/load/stress_testing/test_breaking_point.py
  tests/unit/services/content_intelligence/test_classifiers.py
Due: pytest-check

fix(syntax): resolve syntax error in dynamic_tool_discovery.py
  src/services/agents/dynamic_tool_discovery.py
Due: pytest-check, mypy-check

fix(quality): complete Phase 1 and 2 pylint critical error resolution
  current_ruff_issues.json
  src/api/routers/simple/search.py
  src/chunking.py
  src/config/__init__.py
  src/config/settings.py
  src/crawl4ai_bulk_embedder.py
  src/infrastructure/client_manager.py
  src/mcp_tools/tools/filtering.py
  src/mcp_tools/tools/helpers/validation_helper.py
  src/mcp_tools/tools/hyde_search.py
  src/mcp_tools/tools/multi_stage_search.py
  src/mcp_tools/tools/payload_indexing.py
  src/mcp_tools/tools/search_tools.py
  src/mcp_tools/tools/search_with_reranking.py
  src/mcp_tools/tools/web_search.py
  src/models/vector_search.py
  src/services/browser/tier_config.py
  src/services/dependencies.py
  src/services/fastapi/dependencies/core.py
  src/services/fastapi/middleware/performance.py
  src/services/fastapi/middleware/tracing.py
  src/services/hyde/cache.py
  src/services/managers/monitoring_manager.py
  src/services/migration/library_migration.py
  src/services/observability/performance.py
  src/services/processing/algorithms.py
  src/services/processing/parallel_integration.py
  src/services/vector_db/hybrid_search.py
  src/services/vector_db/service.py
Due: pytest-check, mypy-check, validate-config

fix(quality): eliminate critical ruff errors and security issues
  src/mcp_tools/tools/cost_estimation.py
  src/mcp_tools/tools/system_health.py
  src/services/deployment/blue_green.py
  src/services/deployment/canary.py
  src/services/enterprise/cache.py
  src/services/fastapi/middleware/compression.py
  src/services/hyde/cache.py
  src/services/observability/mock_telemetry.py
  src/services/observability/telemetry_helpers.py
  src/services/processing/algorithms.py
Due: pytest-check, mypy-check

fix(quality): resolve all remaining ruff errors via multi-agent approach
  src/services/browser/browser_router.py
  src/services/dependencies.py
  src/services/enterprise/cache.py
  src/services/hyde/cache.py
  src/services/monitoring/metrics.py
  src/services/observability/init.py
  src/services/observability/telemetry_helpers.py
Due: pytest-check, mypy-check
