Repository BjornMelin/ai-docs-vector-db-hybrid-scraper: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, mypy-check, update-docs, validate-config

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# Run `uv tool install pre-commit && pre-commit install` to set up

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        exclude: '^(.*\.md|.*\.txt)$'
      - id: end-of-file-fixer
        exclude: '^(.*\.md|.*\.txt)$'
      - id: check-yaml
        args: ['--unsafe']
      - id: check-toml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: debug-statements
      - id: check-docstring-first
      - id: check-case-conflict

  # Python code formatting and linting with Ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Linter
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        types_or: [python, pyi, jupyter]
      # Formatter
      - id: ruff-format
        types_or: [python, pyi, jupyter]

  # Security checks
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.10
    hooks:
      - id: bandit
        args: ['-r', 'src/', '-f', 'json']
        exclude: '^tests/'

  # Secret detection
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.21.2
    hooks:
      - id: gitleaks

  # Dependency checks
  - repo: https://github.com/lucas-c/pre-commit-hooks-safety
    rev: v1.3.2
    hooks:
      - id: python-safety-dependencies-check
        files: pyproject.toml

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.42.0
    hooks:
      - id: markdownlint
        args: [--fix]
        exclude: '^(htmlcov|cache|logs)/'

  # YAML formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json]
        exclude: '^(.*\.lock|uv\.lock)$'

  # Local hooks for project-specific checks
  - repo: local
    hooks:
      - id: pytest-check
        name: Run pytest
        entry: uv run pytest tests/unit --tb=short --maxfail=5 -x --disable-warnings
        language: system
        pass_filenames: false
        always_run: false
        files: '^(src/|tests/)'
        stages: [commit]

      - id: mypy-check
        name: Run mypy type checking
        entry: bash -c 'if command -v mypy &> /dev/null; then uv run mypy src/; else echo "mypy not installed, skipping"; fi'
        language: system
        pass_filenames: false
        files: '^src/.*\.py$'
        stages: [commit]

      - id: check-file-naming
        name: Check file naming conventions
        entry: bash -c 'find src tests -name "*.py" | grep -E "[A-Z]" && echo "❌ Python files should use snake_case" && exit 1 || echo "✅ File naming looks good"'
        language: system
        pass_filenames: false
        stages: [commit]

      - id: update-docs
        name: Update documentation
        entry: python scripts/docs_automation.py --skip-validation --build-only
        language: system
        files: '^(docs/|README\.md|mkdocs\.yml)'
        pass_filenames: false
        stages: [commit]

      - id: validate-config
        name: Validate configuration
        entry: python scripts/validate_config.py
        language: system
        files: '^(\.env.*|pyproject\.toml|src/config/)'
        pass_filenames: false
        stages: [commit]

# Configuration for pre-commit
default_stages: [commit]
fail_fast: false
minimum_pre_commit_version: "3.0.0"

# Skip hooks for certain commits
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ''
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: weekly
  skip: []
  submodules: false

feat(mcp): implement FastMCP 2.0+ modular service architecture
  src/mcp_services/document_service.py
  src/mcp_services/orchestrator_service.py
  src/mcp_services/search_service.py
  src/mcp_services/system_service.py
  src/mcp_tools/tools/__init__.py
  src/mcp_tools/tools/configuration.py
  src/mcp_tools/tools/cost_estimation.py
  src/mcp_tools/tools/crawling.py
  src/mcp_tools/tools/document_management.py
  src/mcp_tools/tools/filtering.py
  src/mcp_tools/tools/hybrid_search.py
  src/mcp_tools/tools/hyde_search.py
  src/mcp_tools/tools/multi_stage_search.py
  src/mcp_tools/tools/search_with_reranking.py
  src/mcp_tools/tools/system_health.py
  src/mcp_tools/tools/web_search.py
Due: pytest-check, mypy-check

test: implement comprehensive test coverage for agentic system
  tests/examples/test_modern_ai_patterns.py
  tests/integration/ai/test_rag_pipeline_integration.py
  tests/integration/mcp_services/README.md
  tests/integration/mcp_services/__init__.py
  tests/integration/mcp_services/test_mcp_services_e2e.py
  tests/integration/mcp_services/test_mcp_services_integration.py
  tests/integration/multi_agent/__init__.py
  tests/integration/multi_agent/conftest.py
  tests/integration/multi_agent/test_coordination_patterns.py
  tests/integration/multi_agent/test_distributed_workflows.py
  tests/integration/multi_agent/test_performance_optimization.py
  tests/integration/multi_agent/test_result_fusion.py
  tests/integration/multi_agent/test_state_synchronization.py
  tests/unit/mcp_services/README.md
  tests/unit/mcp_services/__init__.py
  tests/unit/mcp_services/conftest.py
  tests/unit/mcp_services/test_analytics_service.py
  tests/unit/mcp_services/test_document_service.py
  tests/unit/mcp_services/test_mcp_services_coverage.py
  tests/unit/mcp_services/test_orchestrator_service.py
  tests/unit/mcp_services/test_search_service.py
  tests/unit/mcp_services/test_system_service.py
  tests/unit/services/agents/DYNAMIC_TOOL_DISCOVERY_TESTS.md
  tests/unit/services/agents/__init__.py
  tests/unit/services/agents/conftest.py
  tests/unit/services/agents/test_agentic_core_coverage.py
  tests/unit/services/agents/test_agentic_orchestrator.py
  tests/unit/services/agents/test_agentic_orchestrator_coverage.py
  tests/unit/services/agents/test_agentic_rag.py
  tests/unit/services/agents/test_dynamic_tool_discovery.py
  tests/unit/services/agents/test_dynamic_tool_discovery_coverage.py
  tests/unit/services/agents/test_query_orchestrator_coverage.py
Due: pytest-check

docs: add comprehensive validation reports and coverage analysis
  FINAL_COVERAGE_VALIDATION_REPORT.md
  coverage_summary.md
  docs/developers/test-execution-guide.md
  test_coverage_analysis_report.md
  test_coverage_validation_report.md
  test_validation_report_final.md
Due: update-docs

feat(research): update comprehensive research synthesis and infrastructure analysis
  FASTAPI_INTEGRATION_BACKEND_ARCHITECTURE_ANALYSIS.md
  phase1_validation_benchmark.py
  scripts/run_mcp_services_tests.py
  subagents/COMPREHENSIVE_SYNTHESIS_REPORT.md
  subagents/MAIN_TRACKING_RESEARCH_REPORT.md
  subagents/README.md
  subagents/infrastructure-research/H1_fastmcp_modernization_analysis.md
  subagents/infrastructure-research/H2_mcp_protocol_optimization_analysis.md
  subagents/infrastructure-research/H3_middleware_architecture_optimization.md
  subagents/infrastructure-research/H4_integration_patterns_optimization.md
  subagents/infrastructure-research/H5_code_modernization_opportunities.md
Due: none

chore: update project dependencies and create config backup
  backup_config/config/__init__.py
  backup_config/config/auto_detect.py
  backup_config/config/cache_optimization.py
  backup_config/config/config_manager.py
  backup_config/config/core.py
  backup_config/config/deployment_tiers.py
  backup_config/config/drift_detection.py
  backup_config/config/enterprise.py
  backup_config/config/enums.py
  backup_config/config/error_handling.py
  backup_config/config/lifecycle.py
  backup_config/config/migration.py
  backup_config/config/modern.py
  backup_config/config/observability/__init__.py
  backup_config/config/observability/api.py
  backup_config/config/observability/automation.py
  backup_config/config/observability/cli.py
  backup_config/config/observability/dashboard.py
  backup_config/config/optimized.py
  backup_config/config/performance_report.py
  backup_config/config/reload.py
  backup_config/config/reload_metrics.py
  backup_config/config/security.py
  backup_config/config/settings.py
  backup_config/config/timeout_usage_example.py
  backup_config/config/timeouts.py
  backup_config/config/validators.py
  pyproject.toml
  uv.lock
Due: validate-config

fix: restore essential configuration files
  .markdownlint-cli2.json
  .markdownlint.json
  mutmut_config.ini
Due: none

docs: integrate comprehensive research documentation updates
  subagents/COMPREHENSIVE_SYNTHESIS_REPORT.md
  subagents/MAIN_TRACKING_RESEARCH_REPORT.md
Due: none

chore: remove obsolete reports and status files
  .subagents/done/P0/codebase-analysis.md
  .subagents/done/P0/current-state.md
  .subagents/done/P0/enterprise-assessment.md
  .subagents/done/P0/library-landscape.md
  .subagents/done/P0/portfolio-context.md
  .subagents/done/P1/architecture-simplification.md
  .subagents/done/P1/library-selection.md
  .subagents/done/P1/security-performance.md
  .subagents/master_report.md
  .subagents/status.json
  subagents/MAIN_TRACKING_RESEARCH_REPORT.md
  tests/TESTING_INFRASTRUCTURE_SUMMARY.md
  tests/TEST_PATTERNS_STYLE_GUIDE.md
Due: pytest-check

fix: resolve remaining miscellaneous linting issues - Part 2
  examples/agentic_rag_demo.py
  examples/parallel_processing_di_demo.py
  examples/simple_parallel_processing_demo.py
  src/automation/infrastructure_automation.py
  src/automation/self_healing/auto_remediation_engine.py
  src/mcp_tools/tools/configuration.py
  src/mcp_tools/tools/cost_estimation.py
  src/mcp_tools/tools/document_management.py
  src/mcp_tools/tools/filtering.py
  src/mcp_tools/tools/system_health.py
  src/services/agents/coordination.py
  src/services/agents/core.py
  src/services/agents/integration.py
  src/services/agents/tool_orchestration.py
  src/services/vector_db/model_selector.py
  tests/unit/services/analytics/test_vector_visualization.py
  tests/unit/services/query_processing/test_clustering.py
Due: pytest-check, mypy-check

fix(cli): add noqa comments for intentional security warnings
  src/api/app_factory.py
  src/api/routers/config.py
  src/api/routers/config_drift.py
  src/api/routers/simple/documents.py
  src/api/routers/simple/search.py
  src/cli/unified.py
Due: pytest-check, mypy-check

fix(tests): comprehensive test suite improvements and code quality fixes
  src/automation/self_healing/auto_remediation_engine.py
  src/services/agents/coordination.py
  src/services/agents/tool_orchestration.py
  src/services/vector_db/agentic_manager.py
Due: pytest-check, mypy-check

chore: remove obsolete client manager file and clean up imports
  .gitignore
  src/infrastructure/client_manager_original_backup.py
  src/models/__init__.py
  src/models/api_contracts.py
  src/models/requests.py
  src/models/responses.py
  src/models/validators.py
Due: pytest-check, mypy-check

docs: streamline CLAUDE.md by removing outdated sections
  CLAUDE.md
Due: none

chore(format): format test files using ruff format
  src/services/analytics/search_dashboard.py
  tests/chaos/resilience/test_circuit_breakers.py
  tests/integration/services/test_enhanced_orchestrator_integration.py
  tests/load/load_testing/test_concurrent_users.py
  tests/load/stress_testing/test_stress_scenarios.py
  tests/performance/conftest.py
  tests/performance/test_performance_targets.py
  tests/security/input_validation/test_command_injection.py
  tests/security/test_api_security.py
  tests/unit/config/test_config_async_validation.py
  tests/unit/mcp_services/test_document_service.py
Due: pytest-check, mypy-check

refactor: update validation methods and imports for consistency
  src/config/settings.py
  src/models/__init__.py
  src/models/validators.py
  src/models/vector_search.py
Due: pytest-check, mypy-check, validate-config

refactor(cli, models): clean up subprocess calls and imports
  src/cli/unified.py
  src/models/document_processing.py
Due: pytest-check, mypy-check

refactor(models): update vector search models and clean up imports
  src/models/__init__.py
  src/models/vector_search.py
Due: pytest-check, mypy-check

refactor(models): remove legacy vector search aliases and improve security
  src/benchmarks/hybrid_search_benchmark.py
Due: pytest-check, mypy-check

test(security): consolidate vector security tests into organized structure
  test_vector_security.py
  tests/security/penetration/test_vector_penetration.py
  tests/security/test_vector_security.py
  tests/security/test_vector_security_comprehensive.py
Due: pytest-check

test(config): reorganize configuration tests into domain structure
  tests/unit/config/test_config_drift_detection.py
  tests/unit/config/test_config_error_handling.py
  tests/unit/config/test_config_manager.py
  tests/unit/config/test_config_reload.py
  tests/unit/config/test_drift_detection_concurrency.py
Due: pytest-check

test(infrastructure): organize infrastructure tests into dedicated directory
  tests/unit/infrastructure/test_http_mocking_patterns.py
  tests/unit/infrastructure/test_pydantic_settings_patterns.py
  tests/unit/infrastructure/test_watchdog_integration.py
Due: pytest-check

test(services): organize embeddings tests into services directory structure
  tests/unit/services/embeddings/test_crawl4ai_bulk_embedder.py
  tests/unit/services/embeddings/test_crawl4ai_bulk_embedder_extended.py
Due: pytest-check

test(processing): organize chunking and framework tests into domain directories
  tests/unit/framework/test_framework_validation.py
  tests/unit/processing/test_chunking.py
  tests/unit/processing/test_chunking_comprehensive.py
  tests/unit/processing/test_chunking_performance.py
Due: pytest-check

test(organization): complete test file reorganization into domain structure
  tests/unit/mcp_services/test_unified_mcp_server.py
  tests/unit/security/test_security_config_standalone.py
Due: pytest-check

test(services): complete services and utilities test reorganization
  tests/unit/services/vector_db/test_hybrid_search.py
  tests/unit/services/vector_db/test_manage_vector_db.py
  tests/unit/test_cache_lru_behavior.py
  tests/unit/utils/test_init_comprehensive.py
  tests/unit/utils/test_utils.py
  tests/unit/utils/test_utils_imports.py
Due: pytest-check

test(compatibility): update existing tests for model security changes
  tests/conftest_cli.py
  tests/integration/ai/test_rag_pipeline_integration.py
  tests/unit/mcp_services/test_mcp_services_coverage.py
  tests/unit/mcp_tools/test_tool_registry.py
  tests/unit/models/test_model_validators.py
  tests/unit/models/test_vector_search.py
  tests/unit/services/agents/conftest.py
  tests/unit/services/agents/test_agentic_core_coverage.py
  tests/unit/services/agents/test_agentic_orchestrator.py
  tests/unit/services/agents/test_agentic_orchestrator_coverage.py
  tests/unit/services/agents/test_dynamic_tool_discovery_coverage.py
Due: pytest-check

test(security): finalize security test improvements and linting
  tests/conftest_enhanced.py
  tests/security/penetration/test_vector_penetration.py
  tests/security/test_vector_security_comprehensive.py
Due: pytest-check

test(tests): enhance test utilities and performance monitoring
  tests/conftest_enhanced.py
  tests/performance/test_search_performance.py
  tests/security/test_api_security.py
  tests/utils/minimal_ai_testing.py
Due: pytest-check

refactor(tests): remove redundant comprehensive test files and consolidate coverage
  tests/TESTING_INFRASTRUCTURE_SUMMARY.md
  tests/TEST_PATTERNS_STYLE_GUIDE.md
  tests/integration/test_cli_integration_comprehensive.py
  tests/integration/test_config_coverage_summary.py
  tests/security/test_comprehensive_security.py
  tests/security/test_vector_security_comprehensive.py
  tests/unit/cli/test_main_comprehensive.py
  tests/unit/cli/wizard/test_profile_manager_comprehensive.py
  tests/unit/cli/wizard/test_validators_comprehensive.py
  tests/unit/config/test_auto_detect_comprehensive.py
  tests/unit/config/test_config_comprehensive.py
  tests/unit/config/test_core_comprehensive.py
  tests/unit/infrastructure/test_shared_comprehensive.py
  tests/unit/mcp_services/test_mcp_services_coverage.py
  tests/unit/mcp_tools/tools/test_query_processing_tools_coverage.py
  tests/unit/processing/test_chunking_comprehensive.py
  tests/unit/services/agents/test_agentic_core_coverage.py
  tests/unit/services/agents/test_agentic_orchestrator_coverage.py
  tests/unit/services/agents/test_dynamic_tool_discovery_coverage.py
  tests/unit/services/agents/test_query_orchestrator_coverage.py
  tests/unit/services/functional/test_dependencies_comprehensive.py
  tests/unit/services/observability/test_observability_comprehensive.py
  tests/unit/services/test_vector_db_service_comprehensive.py
  tests/unit/utils/test_health_checks_comprehensive.py
  tests/unit/utils/test_imports_comprehensive.py
  tests/unit/utils/test_init_comprehensive.py
Due: pytest-check

feat(tests): modernize performance tests with containerized infrastructure
  docker-compose.test.yml
  docs/developers/performance-testing-guide.md
  docs/developers/performance-validation-report.md
  scripts/run_benchmarks.py
  tests/benchmarks/README.md
  tests/benchmarks/performance_suite.py
  tests/benchmarks/test_config_performance.py
  tests/benchmarks/test_database_performance.py
  tests/load/load_testing/test_concurrent_users.py
  tests/load/run_load_tests.py
  tests/load/stress_testing/test_stress_scenarios.py
  tests/performance/conftest.py
  tests/performance/test_performance_targets.py
Due: pytest-check, update-docs

feat(security): enhance security tests with real Redis integration and comprehensive framework
  docs/security/compliance-privacy-strategy.md
  docs/security/cost-effective-security-tools.md
  docs/security/essential-security-checklist.md
  docs/security/redis-rate-limiting-implementation.md
  docs/security/security-architecture-assessment.md
  src/services/fastapi/middleware/security.py
  tests/security/README.md
  tests/security/penetration/test_api_security.py
  tests/security/test_api_security.py
  tests/security/test_redis_rate_limiting.py
  tests/security/vulnerability/test_dependency_scanning.py
Due: pytest-check, mypy-check, update-docs
