Repository BjornMelin/ai-docs-vector-db-hybrid-scraper: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, mypy-check, update-docs, validate-config

pytest-check:
  name: Run pytest
  entry: uv run pytest tests/unit --tb=short --maxfail=5 -x --disable-warnings
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - commit

mypy-check:
  name: Run mypy type checking
  entry: bash -c 'if command -v mypy &> /dev/null; then uv run mypy src/; else echo "mypy not installed, skipping"; fi'
  language: system
  pass_filenames: false
  stages:
  - commit

update-docs:
  name: Update documentation
  entry: python scripts/docs_automation.py --skip-validation --build-only
  language: system
  pass_filenames: false
  stages:
  - commit

validate-config:
  name: Validate configuration
  entry: python scripts/validate_config.py
  language: system
  pass_filenames: false
  stages:
  - commit

refactor(code): reformat strings and comments for improved readability in autonomous_health_monitor.py, query_orchestrator.py, mock_factories.py, and test_browser_user_journeys.py.
  src/automation/self_healing/autonomous_health_monitor.py
  src/services/agents/query_orchestrator.py
  tests/fixtures/mock_factories.py
  tests/integration/end_to_end/browser_automation/test_browser_user_journeys.py
Due: pytest-check, mypy-check

docs: refine readme for oss discoverability
  CHANGELOG.md
  README.md
Due: update-docs

docs: add contributor guidelines
  AGENTS.md
Due: none

build: adopt pyright and pylint quality gates
  AGENTS.md
  pyproject.toml
  scripts/dev.py
Due: validate-config

fix: align numpy constraint and update quality guidance
  AGENTS.md
  pyproject.toml
  uv.lock
Due: validate-config

build: ensure pylint available in ci
  pyproject.toml
  uv.lock
Due: validate-config

refactor: enhance test structures across various modules
  pyproject.toml
  src/config/reloader.py
  src/mcp_tools/models/responses.py
  src/mcp_tools/tools/helpers/validation_helper.py
  src/mcp_tools/tools/multi_stage_search.py
  src/mcp_tools/tools/query_processing_tools.py
  src/mcp_tools/tools/web_search.py
  src/services/observability/init.py
  tests/conftest_cli.py
  tests/examples/test_modern_async_patterns.py
  tests/examples/test_pattern_examples.py
  tests/integration/end_to_end/browser_automation/conftest.py
  tests/integration/end_to_end/system_integration/test_end_to_end_integration.py
  tests/integration/end_to_end/user_journeys/conftest.py
  tests/performance/conftest.py
  tests/security/authorization/test_access_control.py
  tests/security/compliance/test_owasp_top10.py
  tests/security/encryption/test_data_protection.py
  tests/security/vulnerability/test_dependency_scanning.py
  tests/unit/services/cache/test_browser_cache.py
  tests/unit/services/cache/test_local_cache.py
  tests/unit/services/cache/test_manager.py
  tests/unit/services/cache/test_patterns.py
  tests/unit/services/cache/test_patterns_with_queue.py
  tests/unit/services/cache/test_search_cache.py
  tests/utils/mock_factories.py
  tests/utils/modern_ai_testing.py
  tests/visual_regression/conftest.py
Due: pytest-check, mypy-check, validate-config

chore: consolidate issue templates
  .github/ISSUE_TEMPLATE/ci-cd-issue.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/database-optimization.md
  .github/ISSUE_TEMPLATE/documentation-improvement.md
  .github/ISSUE_TEMPLATE/general-issue.yml
  .github/ISSUE_TEMPLATE/ml-model-improvement.md
  .github/ISSUE_TEMPLATE/performance-regression.md
Due: none

chore: refine issue form prompts
  .github/ISSUE_TEMPLATE/general-issue.yml
Due: none

chore(ci): simplify composite actions
  .github/actions/README.md
  .github/actions/deploy-config/action.yml
  .github/actions/detect-changes/action.yml
  .github/actions/pr-comment/action.yml
  .github/actions/setup-environment/action.yml
  .github/actions/smoke-tests/action.yml
  .github/actions/validate-config/action.yml
  .github/workflows/config-deployment.yml
  .github/workflows/test-composite-actions.yml
  scripts/ci/validate_config.py
Due: none

test: cover config validation helper
  scripts/__init__.py
  scripts/ci/__init__.py
  tests/scripts/test_validate_config.py
Due: pytest-check

ci: harden configuration validation tooling
  .github/actions/README.md
  .github/actions/validate-config/action.yml
  .github/workflows/config-deployment.yml
  .github/workflows/test-composite-actions.yml
  scripts/ci/validate_config.py
Due: none

ci: update action pins and relocate automation docs
  .github/CI-README.md
  .github/actions/README.md
  .github/actions/deploy-config/action.yml
  .github/actions/detect-changes/action.yml
  .github/actions/pr-comment/action.yml
  .github/actions/setup-environment/action.yml
  .github/actions/smoke-tests/action.yml
  .github/actions/validate-config/action.yml
  .github/labeler.yml
  .github/workflows/ci.yml
  .github/workflows/config-deployment.yml
  .github/workflows/docs.yml
  .github/workflows/labeler.yml
  .github/workflows/regression-opt-in.yml
  .github/workflows/release.yml
  .github/workflows/security-opt-in.yml
  .github/workflows/shared/cache-config.yml
  .github/workflows/shared/matrix-config.yml
  .github/workflows/stale.yml
  .github/workflows/test-composite-actions.yml
  .github/workflows/zero-maintenance-automation.yml
  docs/build_config/mkdocs.yml
  docs/developers/ci-cd.md
  docs/developers/github-actions.md
  docs/developers/index.md
  scripts/__init__.py
  scripts/ci/__init__.py
  scripts/ci/validate_config.py
  tests/scripts/test_validate_config.py
Due: pytest-check, update-docs

test: finalize processing and vector db unit refactor
  CHANGELOG.md
  Makefile
  planning/unit_test_refactor_plan.md
  pytest.ini
  src/architecture/modes.py
  src/services/agents/core.py
  tests/conftest.py
  tests/fixtures/__init__.py
  tests/fixtures/configuration.py
  tests/fixtures/http_mocks.py
  tests/fixtures/mock_factories.py
  tests/plugins/__init__.py
  tests/plugins/random_seed.py
  tests/test_infrastructure.py
  tests/unit/ai/test_embedding_properties.py
  tests/unit/architecture/test_dual_mode.py
  tests/unit/config/test_config_async_validation.py
  tests/unit/config/test_config_models_complete.py
  tests/unit/config/test_observability_automation.py
  tests/unit/processing/test_chunker_behavior.py
  tests/unit/processing/test_chunking.py
  tests/unit/processing/test_chunking_performance.py
  tests/unit/services/agents/test_agent_base.py
  tests/unit/services/agents/test_agentic_orchestrator.py
  tests/unit/services/agents/test_agentic_rag.py
  tests/unit/services/agents/test_dynamic_tool_discovery.py
  tests/unit/services/agents/test_tool_discovery_advanced.py
  tests/unit/services/agents/test_tool_discovery_assessment.py
  tests/unit/services/agents/test_tool_discovery_core.py
  tests/unit/services/agents/test_tool_discovery_optimization.py
  tests/unit/services/functional/test_embeddings.py
  tests/unit/services/vector_db/test_manage_vector_db.py
  tests/utils/ai_testing_utilities.py
Due: pytest-check, mypy-check

ci: deduplicate workflow setup and harden release checks
  .github/actions/checkout-and-setup/action.yml
  .github/workflows/ci.yml
  .github/workflows/config-deployment.yml
  .github/workflows/docs.yml
  .github/workflows/labeler.yml
  .github/workflows/release.yml
  .github/workflows/test-composite-actions.yml
  docs/developers/ci-cd.md
  tests/scripts/test_validate_config.py
Due: pytest-check, update-docs

Merge branch 'origin/main' into work
  .github/actions/README.md
Due: none

test: refactor batch cli suite
  CHANGELOG.md
  tests/unit/cli/commands/test_batch.py
Due: pytest-check

docs: align workflow docs after merge
  .github/actions/README.md
  docs/developers/ci-cd.md
  docs/developers/github-actions.md
Due: update-docs

test: register pytest markers and clarify vector db stub
  pytest.ini
  tests/unit/services/vector_db/test_manage_vector_db.py
  tests/utils/ai_testing_utilities.py
Due: pytest-check

fix(workflow): checkout before docker detection
  .github/workflows/release.yml
Due: none

fix(workflow): checkout before local setup action
  .github/workflows/release.yml
Due: none

fix(workflow): ensure checkout precedes local composites
  .github/workflows/ci.yml
  .github/workflows/config-deployment.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
  .github/workflows/test-composite-actions.yml
Due: none

refactor(cache): clean up imports and improve logging format across cache modules
  src/services/cache/browser_cache.py
  src/services/cache/dragonfly_cache.py
  src/services/cache/embedding_cache.py
  src/services/cache/local_cache.py
  src/services/cache/metrics.py
  src/services/cache/patterns.py
  src/services/cache/warming.py
  src/services/vector_db/filters/temporal.py
Due: pytest-check, mypy-check

feat(dependencies): add documentation dependencies for MkDocs and related tools
  pyproject.toml
  src/services/cache/base.py
  uv.lock
Due: pytest-check, mypy-check, validate-config

refactor(filters): improve logging format and add helper methods in BaseFilter
  src/services/cache/base.py
  src/services/cache/manager.py
  src/services/cache/search_cache.py
  src/services/vector_db/filters/base.py
Due: pytest-check, mypy-check

refactor: observability instrumentation and metadata filtering
  src/services/cache/modern.py
  src/services/cache/performance_cache.py
  src/services/observability/config_instrumentation.py
  src/services/observability/instrumentation.py
  src/services/vector_db/agentic_manager.py
  src/services/vector_db/filters/metadata.py
Due: pytest-check, mypy-check

refactor(span): enhance span management with context managers and telemetry attributes
  src/services/observability/config_instrumentation.py
  src/services/observability/span_utils.py
Due: pytest-check, mypy-check

refactor(filters): streamline error handling and logging in ContentTypeFilter
  src/services/vector_db/filters/content_type.py
Due: pytest-check, mypy-check

refactor(ai_tracking): restructure metrics classes and enhance operation tracking
  src/services/observability/ai_tracking.py
Due: pytest-check, mypy-check

refactor(cache): harden modern cache manager
  src/services/cache/modern.py
  tests/services/cache_modern/test_modern_cache.py
Due: pytest-check, mypy-check

refactor: parallel processing system and caching mechanisms
  src/infrastructure/container.py
  src/services/cache/intelligent.py
  src/services/functional/cache.py
  src/services/observability/ai_tracking.py
  src/services/processing/parallel_integration.py
  src/services/vector_db/filters/composer.py
  src/services/vector_db/filters/content_type.py
  tests/integration/test_parallel_processing_integration.py
  tests/unit/services/observability/test_observability_ai_tracking.py
Due: pytest-check, mypy-check

Add a blank line for improved readability in conftest.py
  src/services/embeddings/manager.py
  tests/conftest.py
Due: pytest-check, mypy-check

refactor(metadata): enhance metadata filter with coercion and condition building utilities
  src/services/vector_db/filters/metadata.py
  tests/unit/services/vector_db/test_metadata_filters.py
Due: pytest-check, mypy-check

feat: Implement embedding generation pipeline with provider selection, caching, and usage tracking
  docs/embeddings_manager_modules.md
  src/services/embeddings/manager/__init__.py
  src/services/embeddings/manager/pipeline.py
  src/services/embeddings/manager/providers.py
  src/services/embeddings/manager/selection.py
  src/services/embeddings/manager/types.py
  src/services/embeddings/manager/usage.py
Due: pytest-check, mypy-check, update-docs

refactor(embeddings): remove embedding manager implementation
  src/services/embeddings/manager.py
Due: pytest-check, mypy-check

refactor(tests): enhance embedding manager tests with provider factory overrides and assertions
  tests/unit/services/embeddings/test_manager.py
Due: pytest-check

refactor(cache): update cache package exports and remove unused metrics code refactor(integration): remove modern examples integration module
  src/services/cache/__init__.py
  src/services/cache/metrics.py
  src/services/integration/modern_examples.py
Due: pytest-check, mypy-check

fix(gitignore): correct cache directory exclusion and include service cache
  .gitignore
Due: none

refactor: remove obsolete test files for cache patterns, search cache, and warming module
  src/services/cache/__init__.py
  src/services/cache/local_cache.py
  src/services/cache/metrics.py
  src/services/cache/modern.py
  src/services/cache/persistent_cache.py
  src/services/cache/search_cache.py
  src/services/cache/warming.py
  src/services/embeddings/manager/__init__.py
  src/services/migration/library_migration.py
  tests/services/cache_modern/test_modern_cache.py
  tests/unit/services/cache/test_base.py
  tests/unit/services/cache/test_browser_cache.py
  tests/unit/services/cache/test_dragonfly_cache.py
  tests/unit/services/cache/test_embedding_cache.py
  tests/unit/services/cache/test_local_cache.py
  tests/unit/services/cache/test_manager.py
  tests/unit/services/cache/test_metrics.py
  tests/unit/services/cache/test_patterns.py
  tests/unit/services/cache/test_patterns_with_queue.py
  tests/unit/services/cache/test_search_cache.py
  tests/unit/services/cache/test_warming.py
Due: pytest-check, mypy-check

Path conditions:
  pytest-check: any of: ^(src/|tests/)
  mypy-check: any of: ^src/.*\.py$
  update-docs: any of: ^(docs/|README\.md|mkdocs\.yml)
  validate-config: any of: ^(\.env.*|pyproject\.toml|src/config/)
