Repository BjornMelin/ai-docs-vector-db-hybrid-scraper: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, mypy-check, update-docs, validate-config

pytest-check:
  name: Run pytest
  entry: uv run pytest tests/unit --tb=short --maxfail=5 -x --disable-warnings
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - commit

mypy-check:
  name: Run mypy type checking
  entry: bash -c 'if command -v mypy &> /dev/null; then uv run mypy src/; else echo "mypy not installed, skipping"; fi'
  language: system
  pass_filenames: false
  stages:
  - commit

update-docs:
  name: Update documentation
  entry: python scripts/docs_automation.py --skip-validation --build-only
  language: system
  pass_filenames: false
  stages:
  - commit

validate-config:
  name: Validate configuration
  entry: python scripts/validate_config.py
  language: system
  pass_filenames: false
  stages:
  - commit

refactor(config): rename Config to Settings and update related imports
  examples/config_reload_example.py
  examples/integration_success_demo.py
  examples/parallel_processing_demo.py
  examples/rag_integration_demo.py
  scripts/eval/rag_compression_eval.py
  scripts/vector/payload_audit.py
  src/cli/wizard/validators.py
  src/config/__init__.py
  src/config/reloader.py
  src/manage_vector_db.py
Due: pytest-check, mypy-check, validate-config

refactor(config): rename Config to Settings and update related references
  src/architecture/modes.py
  src/benchmarks/load_test_runner.py
  src/benchmarks/metrics_collector.py
  src/cli/main.py
  src/infrastructure/client_manager.py
  src/mcp_tools/tools/configuration.py
  src/mcp_tools/tools/rag.py
  src/models/__init__.py
  src/security.py
  src/security/ml_security.py
  src/services/analytics/search_dashboard.py
  src/services/base.py
  src/services/dependencies.py
  src/services/logging_config.py
  src/services/registry.py
  src/unified_mcp_server.py
Due: pytest-check, mypy-check

refactor: configuration handling: Replace `Config` with `Settings`
  src/services/browser/unified_manager.py
  src/services/embeddings/manager/__init__.py
  src/services/fastapi/__init__.py
  src/services/fastapi/production_server.py
  src/services/health/checks.py
  src/services/managers/crawling_manager.py
  src/services/managers/database_manager.py
  src/services/managers/embedding_manager.py
  src/services/managers/monitoring_manager.py
  src/services/monitoring/health.py
  src/services/monitoring/initialization.py
  src/services/rag/utils.py
  src/services/utilities/hnsw_optimizer.py
  src/services/vector_db/service.py
  tests/fixtures/configuration.py
  tests/integration/browser/test_lightweight_scraper_integration.py
  tests/unit/cli/conftest.py
  tests/unit/config/test_config_router.py
  tests/unit/config/test_config_validation_helper.py
  tests/unit/config/test_observability_automation.py
  tests/unit/infrastructure/test_pydantic_settings_patterns.py
  tests/unit/infrastructure/test_watchdog_integration.py
  tests/unit/mcp_tools/tools/test_rag.py
  tests/unit/security/test_ml_security.py
  tests/unit/services/browser/test_lightweight_scraper.py
  tests/unit/services/embeddings/test_manager.py
  tests/unit/services/health/test_checks.py
  tests/unit/services/utilities/test_hnsw_optimizer.py
Due: pytest-check, mypy-check

refactor: configuration management to use Settings class
  CHANGELOG.md
  docs/api/src.config.rst
  docs/developers/setup-and-configuration.md
  docs/operators/configuration.md
  docs/operators/release-notes.md
  src/api/routers/config.py
  src/architecture/features.py
  src/cli/commands/config.py
  src/cli/wizard/template_manager.py
  src/config/loader.py
  src/crawl4ai_bulk_embedder.py
  src/infrastructure/database/connection_manager.py
  src/services/circuit_breaker/circuit_breaker_manager.py
  src/services/content_intelligence/service.py
  src/services/core/qdrant_alias_manager.py
  src/services/errors.py
  src/services/fastapi/dependencies.py
  src/services/fastapi/routers/rag.py
  src/services/middleware/rate_limiting.py
  src/services/utilities/rate_limiter.py
  tests/integration/crawling/test_crawl_manager_integration.py
  tests/unit/architecture/test_dual_mode.py
  tests/unit/infrastructure/test_http_mocking_patterns.py
  tests/unit/mcp_services/test_unified_mcp_server.py
  tests/unit/mcp_tools/tools/test_configuration.py
  tests/unit/services/core/test_qdrant_alias_manager.py
  tests/unit/services/embeddings/test_crawl4ai_bulk_embedder.py
  tests/unit/services/utilities/test_rate_limiter.py
Due: pytest-check, mypy-check, update-docs, validate-config

refactor: tests for UnifiedBrowserManager and related services
  src/benchmarks/performance_profiler.py
  src/services/hyde/generator.py
  tests/property/test_config_schemas.py
  tests/unit/cli/test_main.py
  tests/unit/services/browser/test_automation_router.py
  tests/unit/services/browser/test_unified_manager.py
  tests/unit/services/browser/test_unified_manager_caching.py
  tests/unit/services/embeddings/test_manager_benchmarks.py
  tests/unit/services/test_base.py
Due: pytest-check, mypy-check

refactor: hybrid search benchmark and vector search models
  src/benchmarks/component_benchmarks.py
  src/benchmarks/hybrid_search_benchmark.py
  src/models/vector_search.py
  tests/integration/mcp/test_server_lifespan.py
  tests/unit/services/browser/_manager_stub_utils.py
  tests/unit/services/browser/test_unified_manager.py
  tests/unit/services/browser/test_unified_manager_caching.py
Due: pytest-check, mypy-check

refactor(models): remove unused search request models and clean imports
  src/mcp_tools/models/__init__.py
  src/mcp_tools/models/requests.py
  src/models/__init__.py
  src/models/api_contracts.py
  src/models/requests.py
  src/services/query_processing/models.py
Due: pytest-check, mypy-check

refactor(metrics): improve code readability and maintainability in MetricsCollector
  src/benchmarks/metrics_collector.py
Due: pytest-check, mypy-check

refactor(.gitignore): exclude models directory from version control
  .gitignore
Due: none

refactor(circuit_breaker): reorganize decorators and improve imports feat(drift): add SQLModel data models for configuration drift detection feat(search): implement unified search request model
  src/infrastructure/client_manager.py
  src/models/drift.py
  src/models/search.py
  src/services/circuit_breaker/__init__.py
  src/services/circuit_breaker/decorators.py
  src/services/dependencies.py
  src/services/errors.py
  src/services/registry.py
Due: pytest-check, mypy-check

feat(dependencies): add sqlmodel as a dependency in pyproject.toml and uv.lock
  pyproject.toml
  uv.lock
Due: validate-config

chore(deps): Implement code changes to enhance functionality and improve performance
  pyproject.toml
  uv.lock
Due: validate-config

refactor(config): switch SecurityConfig to use BaseSettings for improved configuration handling
  src/config/security/config.py
  src/crawl4ai_bulk_embedder.py
  src/infrastructure/client_manager.py
  src/services/base.py
  src/services/circuit_breaker/decorators.py
  src/services/errors.py
  src/services/fastapi/production_server.py
  src/services/logging_config.py
  src/services/registry.py
  src/services/vector_db/service.py
  src/unified_mcp_server.py
  uv.lock
Due: pytest-check, mypy-check, validate-config

refactor(dependencies): enhance dependency management with optional parameters and improved await handling
  src/services/dependencies.py
Due: pytest-check, mypy-check

refactor(config): update import paths to use src.config.loader for Settings
  scripts/eval/rag_compression_eval.py
  src/crawl4ai_bulk_embedder.py
  src/services/browser/unified_manager.py
  src/services/circuit_breaker/circuit_breaker_manager.py
  src/services/core/qdrant_alias_manager.py
  src/services/dependencies.py
  src/services/embeddings/manager/__init__.py
  src/services/fastapi/dependencies.py
  src/services/fastapi/production_server.py
  src/services/health/checks.py
  src/services/logging_config.py
  src/services/managers/crawling_manager.py
  src/services/managers/database_manager.py
  src/services/managers/embedding_manager.py
  src/services/managers/monitoring_manager.py
  src/services/middleware/rate_limiting.py
  src/services/monitoring/health.py
  src/services/monitoring/initialization.py
  src/services/query_processing/orchestrator.py
  src/services/rag/utils.py
  src/services/registry.py
  src/services/utilities/hnsw_optimizer.py
  src/services/utilities/rate_limiter.py
  src/unified_mcp_server.py
Due: pytest-check, mypy-check

refactor(config): update import paths to use src.config.loader for Settings
  src/services/browser/router.py
  src/services/browser/unified_manager.py
  tests/unit/services/browser/test_automation_router.py
  tests/unit/services/browser/test_lightweight_scraper.py
  tests/unit/services/browser/test_unified_manager.py
Due: pytest-check, mypy-check

refactor(service): update import path for Settings and clean up metadata handling
  src/services/content_intelligence/service.py
Due: pytest-check, mypy-check

refactor(config): update import paths to use src.config.loader and enhance settings loading
  src/cli/commands/batch.py
  src/cli/commands/config.py
  src/cli/main.py
  src/config/loader.py
  src/mcp_tools/tools/configuration.py
  src/mcp_tools/tools/rag.py
  tests/unit/cli/test_main.py
Due: pytest-check, mypy-check, validate-config

refactor(config): enhance load command with context management and error handling refactor(database): improve type checking for imports test(config): add tests for loading JSON and YAML configurations
  src/cli/commands/config.py
  src/cli/commands/database.py
  tests/fixtures/configs/sample.json
  tests/fixtures/configs/sample.yaml
  tests/unit/cli/commands/test_config.py
Due: pytest-check, mypy-check

chore(changelog): update changelog with recent changes to CLI and configuration documentation
  CHANGELOG.md
  src/cli/commands/__init__.py
  src/cli/commands/setup.py
  src/cli/wizard/audit.py
Due: pytest-check, mypy-check

fix(scraping): update scrape_url call to use 'tier' parameter instead of 'preferred_provider'
  src/mcp_tools/tools/lightweight_scrape.py
  src/mcp_tools/tools/retrieval.py
Due: pytest-check, mypy-check

feat(analytics): add system health check tool and enhance response models
  src/mcp_tools/tools/analytics.py
  src/mcp_tools/tools/collection_management.py
  src/mcp_tools/tools/embeddings.py
  src/mcp_tools/tools/retrieval.py
  tests/unit/mcp_tools/models/test_requests.py
  tests/unit/mcp_tools/test_context_typing.py
  tests/unit/mcp_tools/test_requests.py
  tests/unit/mcp_tools/tools/test_collection_management.py
  tests/unit/mcp_tools/tools/test_embeddings.py
  tests/unit/mcp_tools/tools/test_hybrid_search.py
Due: pytest-check, mypy-check

fix(tests): update scrape_url call to use 'tier' parameter and skip test if module not present
  tests/unit/mcp_tools/tools/test_lightweight_scrape.py
  tests/unit/mcp_tools/tools/test_query_processing.py
Due: pytest-check

fix(tests): update retrieval tests to include offset parameter and adjust payload usage
  CHANGELOG.md
  tests/unit/mcp_tools/tools/test_retrieval.py
Due: pytest-check

refactor(circuit_breaker): remove legacy parameters and simplify configuration
  src/config/models.py
  src/services/circuit_breaker/decorators.py
  src/services/circuit_breaker/provider.py
  src/services/dependencies.py
  src/services/fastapi/middleware/timeout.py
  tests/property/strategies.py
Due: pytest-check, mypy-check, validate-config

chore(changelog): update changelog with recent changes and improvements
  CHANGELOG.md
  src/chunking.py
  src/services/circuit_breaker/decorators.py
  tests/conftest.py
  tests/property/strategies.py
Due: pytest-check, mypy-check

refactor(tests): update CacheConfig and DeploymentConfig tests for new parameters and validation
  tests/property/test_config_schemas.py
Due: pytest-check

refactor(tests): update CacheConfig and other config tests to use model_dump for validation
  tests/property/test_config_schemas.py
Due: pytest-check

refactor: unify service lifecycle with client manager
  CHANGELOG.md
  docs/developers/architecture-and-orchestration.md
  src/api/app_factory.py
  src/api/dependencies.py
  src/api/lifespan.py
  src/api/routers/simple/documents.py
  src/api/routers/simple/search.py
  src/architecture/service_factory.py
  src/infrastructure/client_manager.py
  src/manage_vector_db.py
  src/services/circuit_breaker/provider.py
  src/services/dependencies.py
  src/services/fastapi/dependencies.py
  src/services/registry.py
  tests/unit/architecture/test_app_factory_mode_init.py
  tests/unit/architecture/test_dual_mode.py
  tests/unit/infrastructure/test_client_manager.py
  tests/unit/infrastructure/test_client_manager_global.py
  tests/unit/services/fastapi/test_dependencies_core.py
  tests/unit/services/vector_db/test_manage_vector_db.py
Due: pytest-check, mypy-check, update-docs

Refactor tests and remove deprecated dual mode tests
  CHANGELOG.md
  docs/developers/architecture-and-orchestration.md
  src/api/app_factory.py
  src/api/dependencies.py
  src/api/lifespan.py
  src/api/routers/simple/documents.py
  src/api/routers/simple/search.py
  src/architecture/service_factory.py
  src/infrastructure/client_manager.py
  src/manage_vector_db.py
  src/services/circuit_breaker/provider.py
  src/services/dependencies.py
  src/services/fastapi/dependencies.py
  src/services/registry.py
  tests/unit/architecture/test_app_factory_mode_init.py
  tests/unit/architecture/test_dual_mode.py
  tests/unit/infrastructure/test_client_manager.py
  tests/unit/infrastructure/test_client_manager_global.py
  tests/unit/services/fastapi/test_dependencies_core.py
  tests/unit/services/vector_db/test_manage_vector_db.py
Due: pytest-check, mypy-check, update-docs

fix(decorators): ensure circuit breaker manager is returned correctly
  src/services/circuit_breaker/decorators.py
Due: pytest-check, mypy-check

fix(client_manager): remove redundant force check in ensure_client_manager
  src/infrastructure/client_manager.py
Due: pytest-check, mypy-check

refactor(client_manager): improve optional service imports and initialization
  src/infrastructure/client_manager.py
Due: pytest-check, mypy-check

refactor: consolidate CLI entry point
  AGENTS.md
  CHANGELOG.md
  README.md
  docs/api/src.cli.commands.rst
  docs/api/src.cli.rst
  scripts/dev.py
  src/cli/commands/__init__.py
  src/cli/commands/task_runner.py
  src/cli/main.py
  src/cli/unified.py
  tests/unit/cli/commands/test_task_runner.py
  tests/unit/cli/test_main.py
Due: pytest-check, mypy-check, update-docs

refactor: centralize health orchestration
  CHANGELOG.md
  docs/developers/api-and-contracts.md
  src/api/app_factory.py
  src/api/routers/simple/documents.py
  src/api/routers/simple/search.py
  src/cli/main.py
  src/infrastructure/clients/firecrawl_client.py
  src/infrastructure/clients/http_client.py
  src/infrastructure/clients/openai_client.py
  src/infrastructure/clients/qdrant_client.py
  src/infrastructure/clients/redis_client.py
  src/services/fastapi/dependencies.py
  src/services/health/__init__.py
  src/services/health/checks.py
  src/services/health/manager.py
  src/services/monitoring/__init__.py
  src/services/monitoring/health.py
  src/services/monitoring/initialization.py
  src/services/monitoring/middleware.py
  tests/unit/cli/test_main.py
  tests/unit/services/fastapi/test_dependencies_core.py
  tests/unit/services/health/test_checks.py
  tests/unit/services/health/test_manager.py
  tests/unit/services/monitoring/test_health.py
Due: pytest-check, mypy-check, update-docs

fix: nest http health check contexts
  src/services/health/manager.py
Due: pytest-check, mypy-check

fix: update redis and openai dependency versions
  pyproject.toml
  uv.lock
Due: validate-config

refactor: finalize ml security consolidation
  .github/labeler.yml
  CHANGELOG.md
  README.md
  docs/api/src.services.middleware.rst
  docs/api/src.services.processing.rst
  docs/developers/setup-and-configuration.md
  docs/security/index.md
  docs/security/security-checklist.md
  docs/security/security-essentials.md
  scripts/eval/rag_golden_eval.py
  src/config/security/config.py
  src/infrastructure/container.py
  src/mcp_tools/tools/cache.py
  src/mcp_tools/tools/configuration.py
  src/mcp_tools/tools/documents.py
  src/mcp_tools/tools/embeddings.py
  src/mcp_tools/tools/lightweight_scrape.py
  src/mcp_tools/tools/payload_indexing.py
  src/mcp_tools/tools/web_search.py
  src/security.py
  src/security/__init__.py
  src/security/ml_security.py
  src/services/browser/firecrawl_adapter.py
  src/services/browser/lightweight_scraper.py
  src/services/content_intelligence/quality_assessor.py
  src/services/embeddings/manager/__init__.py
  src/services/middleware/rate_limiting.py
  src/services/processing/algorithms.py
  src/services/rag/generator.py
  src/services/vector_db/service.py
  tests/test_infrastructure.py
  tests/unit/security/test_ml_security.py
  tests/unit/services/test_decorators.py
  tests/unit/services/test_service_errors.py
  tests/utils/assertion_helpers.py
  tests/utils/minimal_ai_testing.py
  tests/utils/modern_ai_testing.py
  uv.lock
Due: pytest-check, mypy-check, update-docs, validate-config

fix: remove unused environment variables and improve HTTP health check logic
  k8s/worker-deployment.yaml
  src/services/health/manager.py
Due: pytest-check, mypy-check

fix: add pylint disable comments for too-many-arguments in multiple classes
  src/benchmarks/metrics_collector.py
  src/infrastructure/database/connection_manager.py
  src/models/validators.py
  src/services/browser/monitoring.py
  src/services/browser/router.py
  src/services/browser/tier_config.py
  src/services/cache/dragonfly_cache.py
Due: pytest-check, mypy-check

Path conditions:
  pytest-check: any of: ^(src/|tests/)
  mypy-check: any of: ^src/.*\.py$
  update-docs: any of: ^(docs/|README\.md|mkdocs\.yml)
  validate-config: any of: ^(\.env.*|pyproject\.toml|src/config/)
