Repository BjornMelin/ai-docs-vector-db-hybrid-scraper: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, mypy-check, update-docs, validate-config

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# Run `uv tool install pre-commit && pre-commit install` to set up

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        exclude: '^(.*\.md|.*\.txt)$'
      - id: end-of-file-fixer
        exclude: '^(.*\.md|.*\.txt)$'
      - id: check-yaml
        args: ['--unsafe']
      - id: check-toml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: debug-statements
      - id: check-docstring-first
      - id: check-case-conflict

  # Python code formatting and linting with Ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Linter
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        types_or: [python, pyi, jupyter]
      # Formatter
      - id: ruff-format
        types_or: [python, pyi, jupyter]

  # Security checks
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.10
    hooks:
      - id: bandit
        args: ['-r', 'src/', '-f', 'json']
        exclude: '^tests/'

  # Secret detection
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.21.2
    hooks:
      - id: gitleaks

  # Dependency checks
  - repo: https://github.com/lucas-c/pre-commit-hooks-safety
    rev: v1.3.2
    hooks:
      - id: python-safety-dependencies-check
        files: pyproject.toml

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.42.0
    hooks:
      - id: markdownlint
        args: [--fix]
        exclude: '^(htmlcov|cache|logs)/'

  # YAML formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json]
        exclude: '^(.*\.lock|uv\.lock)$'

  # Local hooks for project-specific checks
  - repo: local
    hooks:
      - id: pytest-check
        name: Run pytest
        entry: uv run pytest tests/unit --tb=short --maxfail=5 -x --disable-warnings
        language: system
        pass_filenames: false
        always_run: false
        files: '^(src/|tests/)'
        stages: [commit]

      - id: mypy-check
        name: Run mypy type checking
        entry: bash -c 'if command -v mypy &> /dev/null; then uv run mypy src/; else echo "mypy not installed, skipping"; fi'
        language: system
        pass_filenames: false
        files: '^src/.*\.py$'
        stages: [commit]

      - id: check-file-naming
        name: Check file naming conventions
        entry: bash -c 'find src tests -name "*.py" | grep -E "[A-Z]" && echo "❌ Python files should use snake_case" && exit 1 || echo "✅ File naming looks good"'
        language: system
        pass_filenames: false
        stages: [commit]

      - id: update-docs
        name: Update documentation
        entry: python scripts/docs_automation.py --skip-validation --build-only
        language: system
        files: '^(docs/|README\.md|mkdocs\.yml)'
        pass_filenames: false
        stages: [commit]

      - id: validate-config
        name: Validate configuration
        entry: python scripts/validate_config.py
        language: system
        files: '^(\.env.*|pyproject\.toml|src/config/)'
        pass_filenames: false
        stages: [commit]

# Configuration for pre-commit
default_stages: [commit]
fail_fast: false
minimum_pre_commit_version: "3.0.0"

# Skip hooks for certain commits
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ''
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: weekly
  skip: []
  submodules: false

fix: restore asyncio import for fastmcp server
  src/services/fastapi/production_server.py
Due: pytest-check, mypy-check

fix: update revision number in lock file, refactor dependency check result handling in MLSecurityValidator
  src/security/ml_security.py
  uv.lock
Due: pytest-check, mypy-check

fix: streamline dependency scan result handling in MLSecurityValidator
  src/security/ml_security.py
Due: pytest-check, mypy-check

fix: add missing docstring for check_container method in MLSecurityValidator
  src/security/ml_security.py
Due: pytest-check, mypy-check

fix: enhance error handling in dependency check with exception details
  src/security/ml_security.py
Due: pytest-check, mypy-check

refactor: standardize cli messaging
  CHANGELOG.md
  docs/developers/adrs/0002-canonical-retrieval-contracts.md
  docs/developers/api-and-contracts.md
  src/api/routers/simple/search.py
  src/cli/commands/batch.py
  src/cli/commands/config.py
  src/cli/commands/database.py
  src/cli/commands/setup.py
  src/cli/main.py
  src/cli/unified.py
  src/cli/wizard/audit.py
  src/cli/wizard/profile_manager.py
  src/cli/wizard/template_manager.py
  src/cli/wizard/validators.py
  src/contracts/retrieval.py
  src/manage_vector_db.py
  src/mcp_tools/models/__init__.py
  src/mcp_tools/models/responses.py
  src/mcp_tools/tools/_shared.py
  src/mcp_tools/tools/projects.py
  src/mcp_tools/tools/retrieval.py
  src/models/__init__.py
  src/models/api_contracts.py
  src/services/agents/retrieval.py
  src/services/query_processing/orchestrator.py
  src/services/vector_db/__init__.py
  src/services/vector_db/service.py
  tests/unit/cli/commands/test_setup.py
  tests/unit/cli/test_main.py
  tests/unit/contracts/test_retrieval.py
  tests/unit/mcp_tools/conftest.py
  tests/unit/mcp_tools/tools/test_hybrid_search.py
  tests/unit/mcp_tools/tools/test_retrieval.py
  tests/unit/services/vector_db/test_manage_vector_db.py
Due: pytest-check, mypy-check, update-docs

fix: correct type checking for numeric coercion and sequence validation
  src/contracts/retrieval.py
  src/services/vector_db/service.py
Due: pytest-check, mypy-check

refactor: update metadata handling and improve serialization in search records
  docs/developers/api-and-contracts.md
  src/api/routers/simple/search.py
  src/mcp_tools/tools/_shared.py
  src/mcp_tools/tools/payload_indexing.py
  src/services/managers/database_manager.py
  src/services/rag/retriever.py
  tests/unit/contracts/test_retrieval.py
  tests/unit/mcp_tools/tools/test_payload_indexing.py
  tests/unit/services/rag/test_retriever.py
Due: pytest-check, mypy-check, update-docs

fix(dependencies): downgrade langgraph version to 0.6.8
  pyproject.toml
  uv.lock
Due: validate-config

refactor: replace 'payload' with 'metadata' in document handling across services
  src/mcp_tools/tools/_shared.py
  src/services/agents/langgraph_runner.py
  src/services/agents/retrieval.py
  src/services/hyde/engine.py
  tests/unit/services/agents/test_langgraph_runner.py
  tests/unit/services/agents/test_retrieval_helper.py
  tests/unit/services/rag/test_retriever.py
Due: pytest-check, mypy-check

refactor: replace 'payload' with 'metadata' in mock document handling for CLI and MCP tools
  tests/unit/cli/conftest.py
  tests/unit/mcp_tools/conftest.py
Due: pytest-check

test: add unit tests for _filter_from_mapping function to validate sequence and scalar handling
  tests/unit/services/vector_db/test_service.py
Due: pytest-check

refactor: finalize client manager consolidation
  CHANGELOG.md
  README.md
  docs/api/src.services.managers.rst
  docs/api/src.services.rst
  src/api/app_factory.py
  src/contracts/retrieval.py
  src/crawl4ai_bulk_embedder.py
  src/infrastructure/client_manager.py
  src/mcp_tools/tools/embeddings.py
  src/services/dependencies.py
  src/services/fastapi/dependencies.py
  src/services/managers/__init__.py
  src/services/managers/crawling_manager.py
  src/services/managers/database_manager.py
  src/services/managers/embedding_manager.py
  src/services/managers/monitoring_manager.py
  src/services/vector_db/service.py
  tests/integration/crawling/test_crawl_manager_integration.py
  tests/unit/architecture/test_app_factory_mode_init.py
  tests/unit/infrastructure/test_client_manager_services.py
Due: pytest-check, mypy-check, update-docs

refactor: align hyde cache with manager lifecycle
  CHANGELOG.md
  README.md
  docs/api/src.services.cache.rst
  src/contracts/retrieval.py
  src/services/cache/manager.py
  src/services/cache/performance_cache.py
  src/services/hyde/cache.py
  src/services/vector_db/service.py
  tests/unit/services/hyde/test_cache.py
Due: pytest-check, mypy-check, update-docs

refactor: use shared circuit breaker manager in timeout middleware
  CHANGELOG.md
  src/services/fastapi/middleware/timeout.py
  tests/unit/services/fastapi/middleware/test_timeout.py
Due: pytest-check, mypy-check

refactor: harden health tooling integrations
  CHANGELOG.md
  README.md
  src/infrastructure/client_manager.py
  src/infrastructure/database/__init__.py
  src/infrastructure/database/connection_manager.py
  src/infrastructure/database/monitoring.py
  src/infrastructure/shared.py
  src/mcp_tools/tools/system_health.py
  src/services/deployment/__init__.py
  src/services/deployment/blue_green.py
  src/services/deployment/models.py
  src/services/health/manager.py
  tests/unit/infrastructure/database/test_connection_manager.py
  tests/unit/infrastructure/database/test_monitoring.py
  tests/unit/infrastructure/test_client_manager_services.py
  tests/unit/mcp_tools/tools/test_system_health.py
  tests/unit/services/deployment/test_blue_green.py
  tests/unit/services/health/test_manager.py
Due: pytest-check, mypy-check, update-docs

refactor(blue_green): enhance documentation for deployment methods and health checks
  src/services/deployment/blue_green.py
Due: pytest-check, mypy-check

refactor(monitoring): remove slots from QueryMetrics dataclass refactor(tests): update mocker fixture usage in health manager tests
  src/infrastructure/database/monitoring.py
  tests/unit/infrastructure/test_client_manager_services.py
  tests/unit/services/health/test_manager.py
Due: pytest-check, mypy-check

refactor(tests): enhance guidelines for optional integrations and required dependencies
  AGENTS.md
Due: none

refactor(connection_manager): improve type hints and session factory handling
  src/infrastructure/database/connection_manager.py
  tests/unit/infrastructure/database/test_connection_manager.py
  tests/unit/mcp_tools/tools/test_system_health.py
Due: pytest-check, mypy-check

refactor: migrate telemetry to ai tracker
  CHANGELOG.md
  docs/developers/agentic-orchestration.md
  src/mcp_tools/tools/agentic_rag.py
  src/services/agents/dynamic_tool_discovery.py
  src/services/agents/langgraph_runner.py
  src/services/agents/tool_execution_service.py
  src/services/monitoring/__init__.py
  src/services/monitoring/telemetry_repository.py
  src/services/observability/tracking.py
  tests/unit/mcp_tools/tools/test_agentic_rag.py
  tests/unit/services/agents/test_tool_execution_service.py
  tests/unit/services/monitoring/test_telemetry_repository.py
  tests/unit/services/observability/test_tracking.py
Due: pytest-check, mypy-check, update-docs

refactor(tests): enhance test coverage and tracking functionality
  tests/unit/mcp_tools/tools/test_agentic_rag.py
  tests/unit/services/agents/test_tool_execution_service.py
  tests/unit/services/observability/test_tracking.py
Due: pytest-check

refactor: remove legacy performance monitor
  CHANGELOG.md
  src/infrastructure/client_manager.py
  src/mcp_tools/tools/system_health.py
  src/services/monitoring/performance_monitor.py
  tests/unit/infrastructure/test_client_manager_services.py
  tests/unit/mcp_tools/tools/test_system_health.py
Due: pytest-check, mypy-check

refactor: format import statements for better readability
  src/infrastructure/client_manager.py
Due: pytest-check, mypy-check

fix: bound performance monitor history
  src/infrastructure/client_manager.py
  src/services/observability/performance.py
Due: pytest-check, mypy-check

refactor: reorder import statements for consistency
  src/infrastructure/client_manager.py
Due: pytest-check, mypy-check

fix: replace time.time() with time.perf_counter() for more accurate performance tracking
  src/infrastructure/client_manager.py
Due: pytest-check, mypy-check

test: add handling for missing psutil in process info check
  tests/unit/infrastructure/test_client_manager_services.py
  tests/unit/mcp_tools/tools/test_system_health.py
Due: pytest-check

test: cover canonical error inheritance
  CHANGELOG.md
  src/cli/commands/database.py
  src/crawl4ai_bulk_embedder.py
  src/manage_vector_db.py
  src/models/vector_search.py
  src/security/ml_security.py
  tests/unit/models/test_vector_search.py
  tests/unit/security/test_ml_security.py
  tests/unit/services/embeddings/test_crawl4ai_bulk_embedder.py
  tests/unit/services/vector_db/test_manage_vector_db.py
Due: pytest-check, mypy-check

refactor: migrate monitoring to instrumentator and otel
  src/infrastructure/client_manager.py
  src/services/browser/monitoring.py
  src/services/cache/dragonfly_cache.py
  src/services/cache/manager.py
  src/services/embeddings/fastembed_provider.py
  src/services/embeddings/openai_provider.py
  src/services/health/manager.py
  src/services/monitoring/__init__.py
  src/services/monitoring/initialization.py
  src/services/monitoring/metrics.py
  src/services/monitoring/middleware.py
  src/services/rag/langgraph_pipeline.py
  src/services/rag/retriever.py
  src/services/vector_db/service.py
  src/unified_mcp_server.py
Due: pytest-check, mypy-check

docs: refresh monitoring guidance for otel instrumentation
  CHANGELOG.md
  README.md
  docs/api/services.monitoring.rst
  docs/api/src.services.monitoring.rst
  docs/developers/adrs/0009-playwright-tiered-anti-bot.md
  docs/developers/adrs/0010-rag-evaluation-modernization.md
Due: update-docs

test: align evaluation harness and suites with otel monitoring
  scripts/eval/rag_golden_eval.py
  tests/integration/end_to_end/test_rag_end_to_end.py
  tests/integration/mcp/test_server_lifespan.py
  tests/integration/rag/test_langgraph_pipeline_integration.py
  tests/integration/services/test_rag_service_integration.py
  tests/performance/README.md
  tests/performance/test_metrics_registry_performance.py
  tests/performance/test_rag_pipeline_performance.py
  tests/unit/scripts/test_rag_golden_eval.py
  tests/unit/services/monitoring/test_initialization.py
  tests/unit/services/monitoring/test_metrics.py
  tests/unit/services/monitoring/test_middleware.py
  tests/unit/services/rag/test_langgraph_pipeline.py
  tests/unit/services/vector_db/test_service.py
Due: pytest-check

refactor: replace custom rate limiting with slowapi
  CHANGELOG.md
  README.md
  src/services/embeddings/manager/__init__.py
  src/services/embeddings/manager/providers.py
  src/services/embeddings/openai_provider.py
  src/services/fastapi/middleware/security.py
  src/services/utilities/__init__.py
  src/services/utilities/rate_limiter.py
  tests/integration/services/test_rate_limiting.py
  tests/unit/services/embeddings/test_openai_provider.py
  tests/unit/services/fastapi/middleware/test_security.py
  tests/unit/services/test_decorators.py
  tests/unit/services/test_service_errors.py
  tests/unit/services/utilities/test_rate_limiter.py
Due: pytest-check, mypy-check, update-docs

refactor: remove legacy rate limiting utilities
  docs/api/services.browser.rst
  docs/api/src.services.browser.rst
  src/security/__init__.py
  src/security/ml_security.py
  src/services/browser/tier_rate_limiter.py
  src/services/circuit_breaker/decorators.py
  src/services/dependencies.py
  src/services/errors.py
  src/services/fastapi/middleware/security.py
  tests/fixtures/async_fixtures.py
  tests/load/stress_testing/test_circuit_breakers.py
  tests/unit/security/test_ml_security.py
  tests/unit/services/browser/test_tier_rate_limiter.py
  tests/unit/services/test_decorators.py
  tests/unit/services/test_service_errors.py
Due: pytest-check, mypy-check, update-docs

test: drop crawl4ai rate limiter stub
  tests/unit/stub_factories.py
Due: pytest-check

fix: respect health check disablement in mcp server
  src/services/monitoring/initialization.py
  src/unified_mcp_server.py
Due: pytest-check, mypy-check

feat(embeddings): enhance OpenAI provider with token usage tracking and telemetry documentation
  README.md
  docs/observability/embeddings_telemetry.md
  src/services/embeddings/openai_provider.py
  src/services/observability/tracking.py
  tests/unit/services/embeddings/test_openai_provider.py
Due: pytest-check, mypy-check, update-docs

chore(dependencies): update tiktoken to version 0.12.x for improved model encodings and performance
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: validate-config

fix(embeddings): validate custom ID list length in OpenAI embedding provider
  src/services/embeddings/openai_provider.py
Due: pytest-check, mypy-check

refactor(langgraph): improve type annotations and add utility methods for better readability
  src/services/rag/langgraph_pipeline.py
  src/unified_mcp_server.py
Due: pytest-check, mypy-check
