Repository BjornMelin/ai-docs-vector-db-hybrid-scraper: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, mypy-check, update-docs, validate-config

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# Run `uv tool install pre-commit && pre-commit install` to set up

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        exclude: '^(.*\.md|.*\.txt)$'
      - id: end-of-file-fixer
        exclude: '^(.*\.md|.*\.txt)$'
      - id: check-yaml
        args: ['--unsafe']
      - id: check-toml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: debug-statements
      - id: check-docstring-first
      - id: check-case-conflict

  # Python code formatting and linting with Ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Linter
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        types_or: [python, pyi, jupyter]
      # Formatter
      - id: ruff-format
        types_or: [python, pyi, jupyter]

  # Security checks
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.10
    hooks:
      - id: bandit
        args: ['-r', 'src/', '-f', 'json']
        exclude: '^tests/'

  # Secret detection
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.21.2
    hooks:
      - id: gitleaks

  # Dependency checks
  - repo: https://github.com/lucas-c/pre-commit-hooks-safety
    rev: v1.3.2
    hooks:
      - id: python-safety-dependencies-check
        files: pyproject.toml

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.42.0
    hooks:
      - id: markdownlint
        args: [--fix]
        exclude: '^(htmlcov|cache|logs)/'

  # YAML formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json]
        exclude: '^(.*\.lock|uv\.lock)$'

  # Local hooks for project-specific checks
  - repo: local
    hooks:
      - id: pytest-check
        name: Run pytest
        entry: uv run pytest tests/unit --tb=short --maxfail=5 -x --disable-warnings
        language: system
        pass_filenames: false
        always_run: false
        files: '^(src/|tests/)'
        stages: [commit]

      - id: mypy-check
        name: Run mypy type checking
        entry: bash -c 'if command -v mypy &> /dev/null; then uv run mypy src/; else echo "mypy not installed, skipping"; fi'
        language: system
        pass_filenames: false
        files: '^src/.*\.py$'
        stages: [commit]

      - id: check-file-naming
        name: Check file naming conventions
        entry: bash -c 'find src tests -name "*.py" | grep -E "[A-Z]" && echo "❌ Python files should use snake_case" && exit 1 || echo "✅ File naming looks good"'
        language: system
        pass_filenames: false
        stages: [commit]

      - id: update-docs
        name: Update documentation
        entry: python scripts/docs_automation.py --skip-validation --build-only
        language: system
        files: '^(docs/|README\.md|mkdocs\.yml)'
        pass_filenames: false
        stages: [commit]

      - id: validate-config
        name: Validate configuration
        entry: python scripts/validate_config.py
        language: system
        files: '^(\.env.*|pyproject\.toml|src/config/)'
        pass_filenames: false
        stages: [commit]

# Configuration for pre-commit
default_stages: [commit]
fail_fast: false
minimum_pre_commit_version: "3.0.0"

# Skip hooks for certain commits
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ''
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: weekly
  skip: []
  submodules: false

style: apply ruff formatting cleanup
  .taskmaster/tasks/tasks.json
  src/mcp_tools/tools/analytics.py
  src/services/agents/integration.py
  src/services/deployment/canary.py
  src/services/query_processing/expansion.py
  src/services/query_processing/orchestrator.py
Due: pytest-check, mypy-check

fix(imports): comprehensive import organization and cleanup
  src/services/query_processing/orchestrator.py
  tests/unit/mcp_tools/tools/helpers/test_tool_registrars.py
  tests/unit/mcp_tools/tools/test_agentic_rag.py
  tests/unit/mcp_tools/tools/test_configuration.py
  tests/unit/mcp_tools/tools/test_hybrid_search.py
  tests/unit/mcp_tools/tools/test_web_search.py
Due: pytest-check, mypy-check

docs(organization): complete SUBAGENT ALPHA documentation consolidation
  .serena/memories/documentation-organization.md
  docs/operators/README.md
  docs/portfolio/api-documentation.md
  docs/research/browser-use/README.md
Due: update-docs

fix(security): resolve critical security vulnerabilities and GitGuardian failures
  IMPORT_CLEANUP_REPORT.md
  SUBAGENT_ALPHA_SUMMARY_REPORT.md
  k8s/configmap.yaml
  pytest.ini
  src/api/routers/simple/search.py
  src/config/security/config.py
  src/services/fastapi/middleware/security.py
  tests/contract/openapi/test_spec_validation.py
  tests/integration/test_config_error_scenarios.py
  tests/unit/services/agents/test_dynamic_tool_discovery.py
Due: pytest-check, mypy-check, validate-config

docs(security): add comprehensive SUBAGENT GAMMA security audit report
  SUBAGENT_GAMMA_SECURITY_REPORT.md
Due: none

docs(tests): add SUBAGENT EPSILON test infrastructure reorganization report
  SUBAGENT_EPSILON_TEST_INFRASTRUCTURE_REPORT.md
Due: none

fix(tests): resolve test collection errors and marker issues
  pyproject.toml
  pytest.ini
  tests/conftest.py
Due: pytest-check, validate-config

feat(integration): complete SUBAGENT IOTA final integration and CI validation
  DOCKER_BUILD_SOLUTION.md
  Dockerfile.fixed
  Dockerfile.simple
  SUBAGENT_IOTA_FINAL_INTEGRATION_REPORT.md
  TEST_COLLECTION_REPORT.md
  pytest.ini
  scripts/test_docker_builds.sh
  scripts/validate_docker_config.py
  src/services/__init__.py
  src/services/vector_db/filters/content_type.py
  src/services/vector_db/filters/metadata.py
  tests/benchmarks/test_config_performance.py
Due: pytest-check, mypy-check

feat(research): consolidate research methodology and validation reports
  SUBAGENT_THETA_FINAL_REPORT.md
  performance_validation_report.md
  src/models/vector_search.py
  src/services/__init__.py
  src/services/functional/dependencies.py
  src/services/hyde/generator.py
  src/services/rag/generator.py
  src/services/task_queue/tasks.py
  src/services/task_queue/worker.py
  src/services/vector_db/__init__.py
  src/services/vector_db/filters/base.py
  src/services/vector_db/filters/composer.py
  src/services/vector_db/filters/content_type.py
  src/services/vector_db/query_classifier.py
  tests/benchmarks/test_config_caching.py
  tests/benchmarks/test_config_performance.py
  tests/benchmarks/test_config_reload_performance.py
  tests/unit/services/observability/test_config.py
  tests/unit/services/test_modern_libraries.py
  tests/unit/services/vector_db/filters/test_composer.py
  tests/unit/services/vector_db/filters/test_similarity.py
  tests/unit/services/vector_db/filters/test_temporal.py
Due: pytest-check, mypy-check

feat(ci): optimize and consolidate CI pipeline workflows
  .github/actions/pr-comment/action.yml
  .github/actions/setup-environment/action.yml
  .github/workflows/OPTIMIZATION_MIGRATION_GUIDE.md
  .github/workflows/ci-performance-monitor.yml
  .github/workflows/ci.yml
  .github/workflows/extended-validation.yml
  .github/workflows/fast-check.yml
  .github/workflows/fast-feedback.yml
  .github/workflows/performance-regression.yml
  .github/workflows/shared/cache-config.yml
  .github/workflows/shared/matrix-config.yml
  .github/workflows/test-performance-optimization.yml
  pyproject.toml
  src/cli/wizard/template_manager.py
  src/config/settings.py
  tests/benchmarks/test_database_performance.py
  tests/integration/end_to_end/api_flows/conftest.py
  tests/integration/end_to_end/browser_automation/conftest.py
  tests/integration/end_to_end/browser_automation/test_browser_user_journeys.py
  tests/integration/end_to_end/user_journeys/conftest.py
  tests/integration/end_to_end/user_journeys/test_complete_user_journeys.py
  tests/unit/ai/test_embedding_properties.py
  tests/unit/cli/commands/test_setup_modernized.py
  tests/unit/config/test_config.py
  tests/unit/infrastructure/test_watchdog_integration.py
  uv.lock
Due: pytest-check, mypy-check, validate-config

fix(tests): resolve CLI test failures blocking CI pipeline
  src/cli/main.py
  tests/unit/cli/test_main.py
Due: pytest-check, mypy-check

fix: resolve ruff linting violations in integration tests
  tests/benchmarks/test_database_performance.py
  tests/integration/end_to_end/api_flows/conftest.py
  tests/integration/end_to_end/browser_automation/conftest.py
  tests/integration/end_to_end/browser_automation/test_browser_user_journeys.py
  tests/integration/end_to_end/user_journeys/conftest.py
  tests/integration/end_to_end/user_journeys/test_complete_user_journeys.py
Due: pytest-check

feat(cli): improve CLI configuration wizard and testing
  src/cli/commands/setup.py
  tests/unit/cli/commands/test_setup_modernized.py
  tests/unit/cli/conftest.py
Due: pytest-check, mypy-check

docs: add comprehensive testing and deployment guides
  docs/developers/ai-ml-testing-guide.md
  docs/developers/testing-best-practices.md
  docs/operators/deployment.md
Due: update-docs

docs: update documentation with latest improvements and research
  docs/api/modules.rst
  docs/developers/architecture.md
  docs/developers/database-connection-pool-technical-reference.md
  docs/developers/developer-experience.md
  docs/developers/test-execution-guide.md
  docs/portfolio/api-documentation.md
  docs/research/README.md
  docs/research/browser-use/README.md
  docs/research/transformation/README.md
  docs/users/quick-start.md
Due: update-docs

fix(linting): resolve all remaining ruff violations
  src/cli/commands/setup.py
  tests/benchmarks/test_database_performance.py
Due: pytest-check, mypy-check

refactor(ci): standardize tool installation and cleanup deprecated configs
  .github/workflows/config-deployment-refactored.yml
  .github/workflows/config-deployment.yml
  .github/workflows/optimized-ci.yml
  .github/workflows/zero-maintenance-automation.yml
  ASYNC_TEST_MODERNIZATION_COMPLETE.md
  docs/developers/ci/MIGRATION_GUIDE.md
  docs/developers/ci/OPTIMIZATION_MIGRATION_GUIDE.md
  pytest-ci.ini
Due: update-docs

chore: cleanup temporary and working files from project root
  ARCHITECTURE_SECURITY_CLEANUP_REPORT.md
  DOCKER_BUILD_SOLUTION.md
  Dockerfile.fixed
  F841_RESOLUTION_REPORT.md
  FINAL_VALIDATION_REPORT.md
  IMPORT_CLEANUP_REPORT.md
  NAMING_CLEANUP_MIGRATION_REPORT.md
  PERF401_FIX_REPORT.md
  PGH003_VALIDATION_REPORT.md
  PLW0603_GLOBAL_STATEMENT_FIXES_REPORT.md
  SUBAGENT_ALPHA_SUMMARY_REPORT.md
  SUBAGENT_EPSILON_TEST_INFRASTRUCTURE_REPORT.md
  SUBAGENT_GAMMA_SECURITY_REPORT.md
  SUBAGENT_IOTA_FINAL_INTEGRATION_REPORT.md
  SUBAGENT_THETA_FINAL_REPORT.md
  TEST_COLLECTION_REPORT.md
  TEST_INFRASTRUCTURE_REORGANIZATION_PLAN.md
  TRY300_B904_FIX_REPORT.md
  TRY300_FIX_REPORT.md
  TRY300_VALIDATION_REPORT.md
  current_actual_issues.txt
  current_ruff_issues.json
  current_ruff_issues.txt
  performance_validation_report.md
Due: none

chore: update .gitignore with temporary file patterns
  .gitignore
Due: none

chore: update TaskMaster tasks and project tracking
  .taskmaster/tasks/task_002.txt
  .taskmaster/tasks/task_003.txt
  .taskmaster/tasks/task_005.txt
  .taskmaster/tasks/task_006.txt
  .taskmaster/tasks/task_007.txt
  .taskmaster/tasks/task_008.txt
  .taskmaster/tasks/task_009.txt
  .taskmaster/tasks/task_010.txt
  .taskmaster/tasks/task_011.txt
  .taskmaster/tasks/task_012.txt
  .taskmaster/tasks/task_014.txt
  .taskmaster/tasks/task_017.txt
  .taskmaster/tasks/task_018.txt
  .taskmaster/tasks/task_019.txt
  .taskmaster/tasks/task_022.txt
  .taskmaster/tasks/task_023.txt
  .taskmaster/tasks/task_024.txt
  .taskmaster/tasks/task_025.txt
  .taskmaster/tasks/task_026.txt
  .taskmaster/tasks/task_029.txt
  .taskmaster/tasks/task_032.txt
  .taskmaster/tasks/task_044.txt
  .taskmaster/tasks/task_045.txt
  .taskmaster/tasks/task_046.txt
  .taskmaster/tasks/task_047.txt
  .taskmaster/tasks/task_048.txt
  .taskmaster/tasks/task_049.txt
  .taskmaster/tasks/task_050.txt
  .taskmaster/tasks/task_051.txt
  .taskmaster/tasks/task_052.txt
  .taskmaster/tasks/tasks.json
Due: none

docs: add comprehensive documentation updates and API guides
  CHANGELOG.md
  DEPLOYMENT_CHECKLIST.md
  DEPLOYMENT_GUIDE.md
  IMPLEMENTATION_SUMMARY.md
  PERFORMANCE_VALIDATION.md
  README.md
  SYNTAX_FIXES_COMPLETED.md
  dependency-update-report.md
  deprecated_patterns_report.md
  docs/DOCUMENTATION_UPDATE_SUMMARY.md
  docs/NEW_FEATURES_AND_PATTERNS.md
  docs/api/index.md
  docs/api/optimization.md
  docs/api/quickstart.md
  docs/asyncio_taskgroup_migration.md
  docs/dependencies/DEPENDENCY_CHANGES_SUMMARY.md
  docs/dependencies/DEPENDENCY_UPGRADE_GUIDE.md
  docs/dependencies/DOCUMENTATION_SUMMARY.md
  docs/dependencies/MIGRATION_CHECKLIST.md
  docs/dependencies/index.md
  docs/dependency-upgrade-examples.md
  docs/dependency-upgrade-opportunities.md
  docs/dependency-upgrade-summary.md
  docs/developers/architecture.md
  docs/httpx-optimization-summary.md
  docs/includes/abbreviations.md
  docs/index.md
  docs/pydantic-v2-migration-summary.md
  mkdocs.yml
Due: update-docs

chore: add project planning and security reports
  planning/done/2025-01-08-portfolio-testing-optimization.md
  planning/done/P5/MASTER_INTEGRATION_CHECKLIST.md
  planning/done/P5/e2e-test-examples.py
  planning/done/P5/e2e-testing.md
  planning/done/P5/implementation-roadmap.md
  planning/done/P5/integration-test-examples.py
  planning/done/P5/integration-testing.md
  planning/done/P5/performance-security.md
  planning/done/P5/performance-targets.yaml
  planning/done/P5/quality-assessment.md
  planning/done/P5/security-compliance-checklist.md
  planning/done/P5/test-examples.py
  planning/done/P5/test-strategy.md
  planning/done/P5/testing-summary.md
  planning/done/P5/unit-testing.md
  planning/done/P5/validation-architecture.md
  planning/in-progress/P4/api-integration.md
  planning/in-progress/P4/connection-pool-example.py
  planning/in-progress/P4/data-implementation.md
  planning/in-progress/P4/documentation-implementation.md
  planning/in-progress/P4/implementation-checklist.md
  planning/in-progress/P4/performance-optimization.md
  planning/in-progress/P4/portfolio-implementation.md
  planning/in-progress/P4/query-optimization-design.md
  planning/in-progress/P4/security-implementation.md
  planning/in-progress/P4/testing-integration.md
  vulnerability_report.json
Due: none

chore: remove claude workflow
  .github/actions/README.md
  .github/actions/deploy-config/action.yml
  .github/actions/detect-changes/action.yml
  .github/actions/pr-comment/action.yml
  .github/actions/setup-environment/action.yml
  .github/actions/smoke-tests/action.yml
  .github/actions/validate-config/action.yml
  .github/workflows/ci.yml
  .github/workflows/claude.yml
  .github/workflows/config-deployment.yml
  .github/workflows/docs.yml
  .github/workflows/extended-validation.yml
  .github/workflows/fast-feedback.yml
  .github/workflows/labeler.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .github/workflows/stale.yml
  .github/workflows/status-dashboard.yml
  .github/workflows/test-composite-actions.yml
  .github/workflows/zero-maintenance-automation.yml
  docs/developers/test-execution-guide.md
  docs/developers/test-performance-optimization.md
  package-lock.json
  package.json
  pyproject.toml
  pytest.ini
  tests/ci/performance_reporter.py
  tests/ci/pytest_xdist_config.py
  tests/ci/test_environments.py
  tests/ci/test_isolation.py
  tests/ci/test_parallel_execution.py
  uv.lock
Due: pytest-check, update-docs, validate-config

style: remove unused imports across tests and ranking modules
  tests/conftest_cli.py
  tests/fixtures/test_data.py
  tests/integration/test_observability_integration.py
  tests/unit/cli/conftest.py
  tests/unit/services/observability/test_dependencies.py
  tests/unit/services/observability/test_init.py
  tests/unit/services/observability/test_middleware.py
  tests/unit/services/observability/test_observability_correlation.py
  tests/unit/services/observability/test_observability_error_tracking.py
  tests/unit/services/observability/test_observability_init.py
  tests/unit/services/observability/test_observability_integration.py
  tests/unit/services/observability/test_observability_metrics_bridge.py
  tests/unit/services/observability/test_observability_performance.py
  tests/unit/services/query_processing/test_federated_service_merging.py
  tests/unit/services/query_processing/test_ranking.py
  tests/unit/services/query_processing/test_ranking_enums.py
  tests/unit/services/query_processing/test_ranking_requests.py
  tests/unit/services/query_processing/test_ranking_service_calculations.py
  tests/unit/services/query_processing/test_ranking_service_core.py
  tests/unit/services/test_logging_config.py
  tests/unit/services/test_service_errors.py
  tests/unit/services/vector_db/test_search.py
Due: pytest-check

chore: ignore TRY002 globally
  pyproject.toml
Due: validate-config

Use contextlib.suppress for isolation cleanups
  tests/ci/test_isolation.py
  tests/fixtures/async_isolation.py
  tests/fixtures/parallel_config.py
  tests/unit/mcp_tools/test_tool_registry.py
Due: pytest-check

fix(ruff): resolve RUF043 by marking regex patterns in pytest.raises(match=...) as raw strings
  tests/integration/test_mcp_edge_cases.py
  tests/unit/mcp_tools/tools/test_lightweight_scrape.py
  tests/unit/mcp_tools/tools/test_projects.py
  tests/unit/services/embeddings/test_openai_provider.py
  tests/unit/services/query_processing/test_ranking.py
  tests/unit/services/query_processing/test_ranking_models.py
Due: pytest-check

chore(ruff): fix RUF059 by prefixing unused unpacked variables (reader, overall_health_score) with underscore
  src/services/agents/integration.py
  src/services/auto_detection/health_checks.py
  src/services/auto_detection/service_discovery.py
Due: pytest-check, mypy-check

style: prune unused imports in tests
  tests/ci/pytest_xdist_config.py
  tests/conftest.py
  tests/examples/test_modern_async_patterns.py
  tests/fixtures/async_fixtures.py
  tests/fixtures/external_services.py
  tests/fixtures/mock_factories.py
  tests/fixtures/test_data.py
  tests/unit/cli/conftest.py
  tests/unit/mcp_services/conftest.py
  tests/unit/mcp_tools/test_tool_registry.py
  tests/unit/processing/test_chunking_performance.py
  tests/unit/services/agents/test_tool_discovery_assessment.py
  tests/unit/services/agents/test_tool_discovery_core.py
  tests/unit/services/agents/test_tool_discovery_optimization.py
  tests/unit/services/crawling/test_lightweight_scraper.py
  tests/unit/services/embeddings/test_crawl4ai_bulk_embedder.py
  tests/unit/services/observability/test_tracking.py
  tests/unit/services/query_processing/test_expansion.py
  tests/unit/services/query_processing/test_federated_service_advanced.py
  tests/unit/services/query_processing/test_federated_service_core.py
  tests/unit/services/query_processing/test_federated_service_merging.py
  tests/unit/services/query_processing/test_ranking_enums.py
  tests/unit/services/query_processing/test_ranking_models.py
  tests/unit/services/query_processing/test_ranking_requests.py
Due: pytest-check

lint(ruff): fix BLE001 by narrowing exception types; add specific exceptions in tests and service_discovery
  src/services/auto_detection/service_discovery.py
  tests/unit/mcp_services/test_unified_mcp_server.py
  tests/unit/mcp_tools/test_tool_registry.py
Due: pytest-check, mypy-check
