Repository BjornMelin/ai-docs-vector-db-hybrid-scraper: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, mypy-check, update-docs, validate-config

pytest-check:
  name: Run pytest
  entry: uv run pytest tests/unit --tb=short --maxfail=5 -x --disable-warnings
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - commit

mypy-check:
  name: Run mypy type checking
  entry: bash -c 'if command -v mypy &> /dev/null; then uv run mypy src/; else echo "mypy not installed, skipping"; fi'
  language: system
  pass_filenames: false
  stages:
  - commit

update-docs:
  name: Update documentation
  entry: python scripts/docs_automation.py --skip-validation --build-only
  language: system
  pass_filenames: false
  stages:
  - commit

validate-config:
  name: Validate configuration
  entry: python scripts/validate_config.py
  language: system
  pass_filenames: false
  stages:
  - commit

docs: enhance GPU acceleration documentation and update pytest configuration
  docs/developers/gpu-acceleration.md
  pytest.ini
Due: update-docs

test(utils): add modern_ai_testing and update test helpers/fixtures
  tests/conftest.py
  tests/examples/test_pattern_examples.py
  tests/utils/assertion_helpers.py
  tests/utils/modern_ai_testing.py
  tests/utils/test_factories.py
Due: pytest-check

chore(build): update pyproject and dev script
  pyproject.toml
  scripts/dev.py
Due: validate-config

refactor(observability): streamline telemetry config and metrics bridge
  src/services/observability/config.py
  src/services/observability/correlation.py
  src/services/observability/dependencies.py
  src/services/observability/init.py
  src/services/observability/metrics_bridge.py
  src/services/observability/mock_telemetry.py
  src/services/observability/telemetry_helpers.py
  src/services/observability/tracking.py
Due: pytest-check, mypy-check

refactor(cli): unify setup commands and main entrypoints
  src/cli/commands/setup.py
  src/cli/main.py
  src/cli/unified.py
Due: pytest-check, mypy-check

refactor(mcp-tools): normalize tool interfaces and configs
  src/mcp_tools/tools/agentic_rag.py
  src/mcp_tools/tools/configuration.py
  src/mcp_tools/tools/cost_estimation.py
  src/mcp_tools/tools/crawling.py
  src/mcp_tools/tools/document_management.py
  src/mcp_tools/tools/filtering.py
  src/mcp_tools/tools/hybrid_search.py
  src/mcp_tools/tools/hyde_search.py
  src/mcp_tools/tools/multi_stage_search.py
  src/mcp_tools/tools/projects.py
  src/mcp_tools/tools/search_with_reranking.py
  src/mcp_tools/tools/system_health.py
  src/mcp_tools/tools/web_search.py
Due: pytest-check, mypy-check

refactor(infra): harmonize client factories and container wiring
  src/infrastructure/client_manager.py
  src/infrastructure/clients/firecrawl_client.py
  src/infrastructure/clients/http_client.py
  src/infrastructure/clients/openai_client.py
  src/infrastructure/clients/qdrant_client.py
  src/infrastructure/clients/redis_client.py
  src/infrastructure/container.py
Due: pytest-check, mypy-check

refactor(agents): simplify orchestration and tool coordination flows
  src/services/agents/agentic_orchestrator.py
  src/services/agents/coordination.py
  src/services/agents/core.py
  src/services/agents/dynamic_tool_discovery.py
  src/services/agents/integration.py
  src/services/agents/query_orchestrator.py
  src/services/agents/tool_orchestration.py
Due: pytest-check, mypy-check

refactor(api): tune FastAPI middleware and dependencies
  src/services/fastapi/dependencies/core.py
  src/services/fastapi/middleware/compression.py
  src/services/fastapi/middleware/performance.py
  src/services/fastapi/middleware/security.py
  src/services/fastapi/middleware/tracing.py
Due: pytest-check, mypy-check

refactor(analytics): minor improvements to dashboards and visualization
  src/services/analytics/search_dashboard.py
  src/services/analytics/vector_visualization.py
Due: pytest-check, mypy-check

refactor(security): consolidate middleware and monitoring controls
  src/services/middleware/rate_limiting.py
  src/services/security/ai_security.py
  src/services/security/integration.py
  src/services/security/middleware.py
  src/services/security/monitoring.py
  src/services/security/rate_limiter.py
Due: pytest-check, mypy-check

refactor(vector-db): adjust agentic manager and service wiring
  src/services/vector_db/agentic_manager.py
  src/services/vector_db/service.py
Due: pytest-check, mypy-check

refactor(rag): refine algorithms, expansion, and generator
  src/services/processing/algorithms.py
  src/services/processing/parallel_integration.py
  src/services/query_processing/expansion.py
  src/services/rag/generator.py
Due: pytest-check, mypy-check

refactor(search): align enterprise and simple search/cache providers
  src/services/enterprise/cache.py
  src/services/enterprise/search.py
  src/services/simple/cache.py
  src/services/simple/search.py
Due: pytest-check, mypy-check

refactor(managers): standardize manager interfaces and responsibilities
  src/services/managers/crawling_manager.py
  src/services/managers/database_manager.py
  src/services/managers/embedding_manager.py
  src/services/managers/monitoring_manager.py
Due: pytest-check, mypy-check

refactor(monitoring): improve health checks and metrics reporting
  src/services/monitoring/health.py
  src/services/monitoring/metrics.py
Due: pytest-check, mypy-check

refactor(embeddings): tune parallel embeddings and task queue
  src/services/embeddings/parallel.py
  src/services/task_queue/tasks.py
Due: pytest-check, mypy-check

refactor(core-services): update circuit breaker, errors, drift and migrations
  src/services/circuit_breaker/modern.py
  src/services/config_drift_service.py
  src/services/errors.py
  src/services/integration/modern_examples.py
  src/services/migration/library_migration.py
Due: pytest-check, mypy-check

refactor(mcp-services): align service interfaces and orchestration
  src/mcp_services/analytics_service.py
  src/mcp_services/document_service.py
  src/mcp_services/orchestrator_service.py
  src/mcp_services/search_service.py
  src/mcp_services/system_service.py
Due: pytest-check, mypy-check

refactor(config): clean up settings and drift handling
  src/config/__init__.py
  src/config/drift.py
  src/config/settings.py
Due: pytest-check, mypy-check, validate-config

refactor(automation): refine config automation and self-healing flows
  src/automation/config_automation.py
  src/automation/self_healing/auto_remediation_engine.py
  src/automation/self_healing/autonomous_health_monitor.py
  src/automation/self_healing/predictive_maintenance.py
Due: pytest-check, mypy-check

refactor(architecture): tweak app factory, features, modes and services
  src/api/app_factory.py
  src/architecture/features.py
  src/architecture/modes.py
  src/architecture/service_factory.py
Due: pytest-check, mypy-check

refactor(models): adjust validators and vector search model
  src/models/validators.py
  src/models/vector_search.py
Due: pytest-check, mypy-check

chore: minor utilities cleanup and projects tool touch-up
  src/utils/__init__.py
Due: pytest-check, mypy-check

docs(examples): update enhanced security and parallel processing demos
  examples/enhanced_security_config_demo.py
  examples/parallel_processing_usage.py
Due: none

refactor(functional): optimize functional cache utilities
  src/services/functional/cache.py
Due: pytest-check, mypy-check

refactor(tests): add noqa comments for S311 in load test and performance suite
  src/benchmarks/load_test_runner.py
  tests/benchmarks/performance_suite.py
  tests/utils/minimal_ai_testing.py
Due: pytest-check, mypy-check

refactor(demos): remove unused enhanced security demo and simplify config error handling
  examples/config_error_handling_demo.py
  examples/enhanced_security_config_demo.py
  examples/parallel_processing_demo.py
  examples/parallel_processing_di_demo.py
  examples/parallel_processing_usage.py
  examples/rag_integration_demo.py
  examples/security_config_demo.py
  examples/security_production_config.py
  examples/simple_parallel_processing_demo.py
Due: none

refactor(tests): reformat long strings in test cases for improved readability
  tests/performance/test_performance_fixtures.py
  tests/performance/test_search_performance.py
  tests/property/test_config_schemas.py
  tests/scripts/validate_test_quality.py
  tests/security/compliance/test_owasp_top10.py
  tests/security/conftest.py
  tests/security/input_validation/test_command_injection.py
  tests/security/input_validation/test_sql_injection.py
  tests/security/input_validation/test_xss_prevention.py
  tests/security/penetration/test_api_security.py
  tests/security/test_api_security.py
  tests/security/test_vector_security.py
  tests/security/validate_security_framework.py
  tests/security/validate_security_tests.py
  tests/unit/mcp_services/test_system_service.py
  tests/unit/mcp_services/test_unified_mcp_server.py
  tests/unit/mcp_tools/tools/test_content_intelligence.py
  tests/unit/mcp_tools/tools/test_documents.py
Due: pytest-check

refactor(workflows): standardize string formatting in security-opt-in.yml for consistency
  .github/workflows/security-opt-in.yml
Due: none

refactor(code): reformat long strings and improve readability across multiple files
  src/api/main.py
  src/api/routers/config_drift.py
  src/benchmarks/metrics_collector.py
  src/benchmarks/performance_profiler.py
  src/cli/wizard/template_manager.py
  src/core/constants.py
  src/mcp_services/analytics_service.py
  src/mcp_tools/tools/cache.py
  src/mcp_tools/tools/configuration.py
  src/mcp_tools/tools/system_health.py
  tests/integration/end_to_end/user_journeys/test_complete_user_journeys.py
  tests/integration/multi_agent/conftest.py
  tests/integration/multi_agent/test_performance_optimization.py
  tests/integration/services/test_service_contract_validation.py
  tests/load/base_load_test.py
  tests/load/load_testing/test_concurrent_users.py
  tests/load/locust_load_runner.py
  tests/load/run_load_tests.py
  tests/security/penetration/test_api_security.py
  tests/security/validate_security_framework.py
  tests/security/vulnerability/test_dependency_scanning.py
  tests/unit/services/agents/test_dynamic_tool_discovery.py
Due: pytest-check, mypy-check

refactor(code): improve string formatting for readability across multiple files
  src/mcp_tools/tools/agentic_rag.py
  src/mcp_tools/tools/cost_estimation.py
  src/mcp_tools/tools/crawling.py
  src/mcp_tools/tools/embeddings.py
  src/mcp_tools/tools/filtering.py
  src/mcp_tools/tools/helpers/tool_registrars.py
  src/mcp_tools/tools/hyde_search.py
  src/mcp_tools/tools/multi_stage_search.py
  src/mcp_tools/tools/search_tools.py
  src/mcp_tools/tools/utilities.py
  src/mcp_tools/tools/web_search.py
  src/services/agents/coordination.py
  src/services/analytics/vector_visualization.py
  src/services/browser/automation_router.py
  src/services/browser/browser_use_adapter.py
  src/services/browser/lightweight_scraper.py
  src/services/circuit_breaker/modern.py
  src/services/crawling/lightweight_scraper.py
  src/services/crawling/manager.py
  src/services/embeddings/openai_provider.py
  src/services/hyde/config.py
  src/services/observability/performance.py
  src/services/query_processing/federated.py
  src/services/rag/generator.py
  src/services/task_queue/__init__.py
  tests/load/stress_testing/test_breaking_point.py
  tests/unit/processing/test_chunking.py
  tests/unit/services/query_processing/test_pipeline.py
  tests/unit/services/query_processing/test_ranking_enums.py
  tests/unit/services/query_processing/test_search_orchestrator.py
  tests/unit/services/query_processing/test_strategy_selector.py
Due: pytest-check, mypy-check

refactor(code): enhance string formatting for improved readability in benchmark_reporter.py, classifiers.py, crawl4ai_provider.py, and manager.py
  src/benchmarks/benchmark_reporter.py
  src/services/content_intelligence/classifiers.py
  src/services/crawling/crawl4ai_provider.py
  src/services/embeddings/manager.py
Due: pytest-check, mypy-check

refactor(code): simplify string formatting and improve readability in multiple files
  src/mcp_tools/tools/hybrid_search.py
  src/mcp_tools/tools/search_with_reranking.py
  src/services/browser/playwright_adapter.py
  src/services/cache/search_cache.py
  src/services/functional/crawling.py
  src/services/hyde/engine.py
  src/services/vector_db/filters/metadata.py
  tests/integration/services/test_cross_service_data_flow.py
  tests/integration/test_query_processing_integration.py
  tests/integration/test_rag_integration.py
  tests/unit/mcp_tools/models/test_requests.py
  tests/unit/services/agents/test_agentic_orchestrator.py
  tests/unit/services/embeddings/test_openai_provider.py
  tests/unit/services/observability/test_config.py
  tests/unit/services/observability/test_init.py
  tests/unit/services/observability/test_observability_init.py
  tests/unit/services/query_processing/test_federated_service_core.py
Due: pytest-check, mypy-check

refactor(tests): reformat comments and strings in test files for improved readability
  tests/unit/mcp_tools/tools/test_lightweight_scrape.py
  tests/unit/mcp_tools/tools/test_pipeline_factory_helpers.py
  tests/unit/services/agents/test_tool_discovery_advanced.py
  tests/unit/services/agents/test_tool_discovery_assessment.py
  tests/unit/services/agents/test_tool_discovery_optimization.py
  tests/unit/services/embeddings/test_manager.py
  tests/unit/services/query_processing/test_preprocessor.py
Due: pytest-check

refactor(code): reformat comments and strings for improved readability across multiple files
  .gitignore
  src/cli/unified.py
  src/mcp_tools/models/requests.py
  src/mcp_tools/models/responses.py
  src/services/content_intelligence/adapters.py
  src/services/vector_db/model_selector.py
  tests/integration/end_to_end/browser_automation/conftest.py
  tests/integration/test_mcp_performance_benchmarks.py
  tests/unit/mcp_tools/models/test_responses.py
  tests/unit/models/test_api_contracts.py
  tests/unit/models/test_document_processing.py
  tests/unit/models/test_model_validators.py
  tests/unit/models/test_vector_search.py
  tests/unit/security/test_ml_security.py
  tests/unit/services/observability/test_observability_metrics_bridge.py
Due: pytest-check, mypy-check

refactor(docs): reformat contributing guidelines and documentation build configurations for improved readability
  CONTRIBUTING.md
  docs/build_config/README.md
  docs/build_config/__init__.py
  docs/build_config/conf.py
  docs/build_config/index.rst
  docs/build_config/mkdocs.yml
Due: update-docs

refactor(code): reformat strings and comments for improved readability in dev.py, chunking.py, features.py, modes.py, service_factory.py, load_tests.py, security_tests.py, and various test files
  scripts/dev.py
  src/architecture/features.py
  src/architecture/modes.py
  src/architecture/service_factory.py
  src/chunking.py
  tests/load/run_load_tests.py
  tests/security/run_security_tests.py
  tests/security/validate_security_framework.py
  tests/unit/mcp_tools/tools/test_search_utils.py
  tests/unit/services/agents/test_agentic_rag.py
  tests/unit/services/browser/test_anti_detection.py
  tests/unit/services/content_intelligence/test_quality_assessor.py
  tests/unit/services/core/test_project_storage.py
  tests/unit/services/crawling/test_lightweight_scraper.py
  tests/unit/services/crawling/test_memory_adaptive_dispatcher.py
Due: pytest-check, mypy-check

refactor(code): reformat strings and comments for improved readability in security.py, main.py, unified.py, batch.py, setup.py, audit.py, validators.py, and various test files
  src/cli/commands/batch.py
  src/cli/commands/setup.py
  src/cli/main.py
  src/cli/unified.py
  src/cli/wizard/audit.py
  src/cli/wizard/validators.py
  src/config/security/config.py
  src/security.py
  src/security/ml_security.py
  tests/unit/services/monitoring/test_health.py
  tests/unit/services/observability/test_observability_integration.py
  tests/unit/services/query_processing/test_federated.py
  tests/unit/services/query_processing/test_federated_enums.py
  tests/unit/services/query_processing/test_federated_models.py
  tests/unit/services/query_processing/test_federated_service_advanced.py
  tests/unit/services/query_processing/test_federated_service_merging.py
Due: pytest-check, mypy-check, validate-config

Path conditions:
  pytest-check: any of: ^(src/|tests/)
  mypy-check: any of: ^src/.*\.py$
  update-docs: any of: ^(docs/|README\.md|mkdocs\.yml)
  validate-config: any of: ^(\.env.*|pyproject\.toml|src/config/)
