Repository BjornMelin/ai-docs-vector-db-hybrid-scraper: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, mypy-check, update-docs, validate-config

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# Run `uv tool install pre-commit && pre-commit install` to set up

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        exclude: '^(.*\.md|.*\.txt)$'
      - id: end-of-file-fixer
        exclude: '^(.*\.md|.*\.txt)$'
      - id: check-yaml
        args: ['--unsafe']
      - id: check-toml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: debug-statements
      - id: check-docstring-first
      - id: check-case-conflict

  # Python code formatting and linting with Ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Linter
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        types_or: [python, pyi, jupyter]
      # Formatter
      - id: ruff-format
        types_or: [python, pyi, jupyter]

  # Security checks
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.10
    hooks:
      - id: bandit
        args: ['-r', 'src/', '-f', 'json']
        exclude: '^tests/'

  # Secret detection
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.21.2
    hooks:
      - id: gitleaks

  # Dependency checks
  - repo: https://github.com/lucas-c/pre-commit-hooks-safety
    rev: v1.3.2
    hooks:
      - id: python-safety-dependencies-check
        files: pyproject.toml

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.42.0
    hooks:
      - id: markdownlint
        args: [--fix]
        exclude: '^(htmlcov|cache|logs)/'

  # YAML formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json]
        exclude: '^(.*\.lock|uv\.lock)$'

  # Local hooks for project-specific checks
  - repo: local
    hooks:
      - id: pytest-check
        name: Run pytest
        entry: uv run pytest tests/unit --tb=short --maxfail=5 -x --disable-warnings
        language: system
        pass_filenames: false
        always_run: false
        files: '^(src/|tests/)'
        stages: [commit]

      - id: mypy-check
        name: Run mypy type checking
        entry: bash -c 'if command -v mypy &> /dev/null; then uv run mypy src/; else echo "mypy not installed, skipping"; fi'
        language: system
        pass_filenames: false
        files: '^src/.*\.py$'
        stages: [commit]

      - id: check-file-naming
        name: Check file naming conventions
        entry: bash -c 'find src tests -name "*.py" | grep -E "[A-Z]" && echo "❌ Python files should use snake_case" && exit 1 || echo "✅ File naming looks good"'
        language: system
        pass_filenames: false
        stages: [commit]

      - id: update-docs
        name: Update documentation
        entry: python scripts/docs_automation.py --skip-validation --build-only
        language: system
        files: '^(docs/|README\.md|mkdocs\.yml)'
        pass_filenames: false
        stages: [commit]

      - id: validate-config
        name: Validate configuration
        entry: python scripts/validate_config.py
        language: system
        files: '^(\.env.*|pyproject\.toml|src/config/)'
        pass_filenames: false
        stages: [commit]

# Configuration for pre-commit
default_stages: [commit]
fail_fast: false
minimum_pre_commit_version: "3.0.0"

# Skip hooks for certain commits
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ''
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: weekly
  skip: []
  submodules: false

refactor(service): add docstrings to internal methods for improved documentation
  src/services/vector_db/service.py
Due: pytest-check, mypy-check

refactor(tests): simplify VectorServiceFake and enhance DummyGenerator initialization
  tests/unit/services/rag/test_langgraph_pipeline.py
Due: pytest-check

refactor(ragas): replace static imports with dynamic imports for improved modularity
  scripts/eval/rag_golden_eval.py
Due: none

refactor:unit tests for Qdrant-backed VectorStoreService
  src/services/vector_db/service.py
  tests/unit/services/vector_db/test_service.py
Due: pytest-check, mypy-check

refactor(middleware): remove middleware package and update references
  docs/api/src.services.middleware.rst
  docs/api/src.services.rst
  src/services/middleware/__init__.py
Due: pytest-check, mypy-check, update-docs

refactor: consolidate search contracts
  CHANGELOG.md
  README.md
  docs/api/models.rst
  docs/api/services.query_processing.rst
  docs/api/src.models.rst
  docs/api/src.services.query_processing.rst
  docs/developers/adrs/0002-canonical-retrieval-contracts.md
  docs/developers/api-and-contracts.md
  scripts/eval/rag_golden_eval.py
  src/api/routers/simple/search.py
  src/contracts/retrieval.py
  src/mcp_tools/tools/agentic_rag.py
  src/models/__init__.py
  src/models/api_contracts.py
  src/models/requests.py
  src/models/responses.py
  src/models/search.py
  src/services/agents/langgraph_runner.py
  src/services/query_processing/__init__.py
  src/services/query_processing/models.py
  src/services/query_processing/orchestrator.py
  src/services/rag/langgraph_pipeline.py
  tests/integration/end_to_end/test_rag_end_to_end.py
  tests/integration/query/test_orchestrator_integration.py
  tests/integration/rag/test_langgraph_pipeline_integration.py
  tests/integration/services/test_rag_service_integration.py
  tests/performance/test_search_orchestrator_performance.py
  tests/unit/mcp_services/test_orchestrator_graph_runner.py
  tests/unit/mcp_tools/tools/test_agentic_rag.py
  tests/unit/models/test_search_request.py
  tests/unit/scripts/test_rag_golden_eval.py
  tests/unit/services/query_processing/test_orchestrator.py
  tests/unit/services/rag/test_langgraph_pipeline.py
Due: pytest-check, mypy-check, update-docs

refactor: remove monitoring package and update observability
  AGENTS.md
  CHANGELOG.md
  docs/api/services.monitoring.rst
  docs/api/services.rst
  docs/api/src.services.monitoring.rst
  docs/api/src.services.rst
  docs/developers/setup-and-configuration.md
  docs/observability/query_processing_metrics.md
  src/services/monitoring/__init__.py
  src/services/monitoring/file_integrity.py
  src/services/monitoring/initialization.py
  src/services/observability/init.py
  src/unified_mcp_server.py
  tests/integration/mcp/test_server_lifespan.py
  tests/unit/services/monitoring/__init__.py
  tests/unit/services/monitoring/test_file_integrity.py
  tests/unit/services/monitoring/test_health.py
  tests/unit/services/monitoring/test_initialization.py
  tests/unit/services/observability/test_init.py
Due: pytest-check, mypy-check, update-docs

fix(observability): respect disabled instrumentation settings
  src/services/observability/init.py
  tests/unit/services/observability/test_init.py
Due: pytest-check, mypy-check

fix: normalise search record handling
  src/mcp_tools/tools/agentic_rag.py
  src/services/agents/langgraph_runner.py
Due: pytest-check, mypy-check

fix: harden search record normalization
  src/mcp_tools/tools/agentic_rag.py
  src/services/agents/langgraph_runner.py
Due: pytest-check, mypy-check

fix: simplify observability settings coercion
  src/services/observability/init.py
Due: pytest-check, mypy-check

fix: update src/services/observability/init.py
  src/services/observability/init.py
Due: pytest-check, mypy-check

refactor: centralise search record normalisation
  src/contracts/retrieval.py
  src/mcp_tools/tools/agentic_rag.py
  src/services/agents/langgraph_runner.py
Due: pytest-check, mypy-check

fix: update src/contracts/retrieval.py
  src/contracts/retrieval.py
Due: pytest-check, mypy-check

refactor(k8s): centralize config and generate secrets
  .gitignore
  k8s/README.md
  k8s/app-deployment.yaml
  k8s/configmap.yaml
  k8s/kustomization.yaml
  k8s/worker-deployment.yaml
Due: none

docs: clarify kustomize apply step
  k8s/README.md
Due: none

fix: ensure kustomize generators are referenced correctly
  k8s/README.md
  k8s/kustomization.yaml
  k8s/kustomizeconfig/envfrom-references.yaml
Due: none

fix: align k8s env resources with runtime config
  k8s/README.md
  k8s/app-deployment.yaml
  k8s/kustomization.yaml
  k8s/worker-deployment.yaml
Due: none

refactor: MCP tools to utilize dependency injection for service management
  src/mcp_tools/tool_registry.py
  src/mcp_tools/tools/_shared.py
  src/mcp_tools/tools/agentic_rag.py
  src/mcp_tools/tools/analytics.py
  src/mcp_tools/tools/cache.py
  src/mcp_tools/tools/collection_management.py
  src/mcp_tools/tools/configuration.py
  src/mcp_tools/tools/content_intelligence.py
  src/mcp_tools/tools/cost_estimation.py
  src/mcp_tools/tools/crawling.py
  src/mcp_tools/tools/embeddings.py
  src/mcp_tools/tools/lightweight_scrape.py
  src/mcp_tools/tools/payload_indexing.py
  src/mcp_tools/tools/projects.py
  src/mcp_tools/tools/rag.py
  src/mcp_tools/tools/retrieval.py
  src/mcp_tools/tools/web_search.py
Due: pytest-check, mypy-check

refactor(dependencies, lifespan): replace ClientManager with DI container management
  src/api/dependencies.py
  src/api/lifespan.py
Due: pytest-check, mypy-check

refactor(dependencies): replace ClientManager with VectorStoreService in documents and search routers
  src/api/routers/simple/documents.py
  src/api/routers/simple/search.py
Due: pytest-check, mypy-check

refactor(services): replace ClientManager with VectorStoreService and update service initialization
  src/mcp_services/analytics_service.py
  src/mcp_services/document_service.py
  src/mcp_services/search_service.py
  src/mcp_services/system_service.py
Due: pytest-check, mypy-check

refactor(agents): replace ClientManager with dependency injection for service management
  src/services/agents/dynamic_tool_discovery.py
  src/services/agents/langgraph_runner.py
  src/services/agents/retrieval.py
  src/services/circuit_breaker/provider.py
  src/services/embeddings/openai_provider.py
Due: pytest-check, mypy-check

refactor(container): replace ClientManager with DI container across services
  src/manage_vector_db.py
  src/services/embeddings/manager/__init__.py
  src/services/embeddings/manager/providers.py
  src/services/fastapi/__init__.py
  src/services/vector_db/service.py
  src/unified_mcp_server.py
Due: pytest-check, mypy-check

refactor(container): replace ClientManager with DI container in examples and services
  examples/parallel_processing_demo.py
  examples/rag_integration_demo.py
  src/crawl4ai_bulk_embedder.py
  src/manage_vector_db.py
Due: pytest-check, mypy-check

refactor(tests): remove ClientManager references from unit tests
  tests/unit/infrastructure/test_client_manager_global.py
  tests/unit/infrastructure/test_client_manager_services.py
  tests/unit/mcp_services/conftest.py
  tests/unit/mcp_tools/tools/test_content_intelligence.py
Due: pytest-check

refactor(orchestrator): replace ClientManager with OrchestratorDependencies for service management
  src/mcp_services/orchestrator_service.py
Due: pytest-check, mypy-check

refactor(service): replace ClientManager with MCPClientConfig and MultiServerMCPClient factory
  src/services/agents/tool_execution_service.py
Due: pytest-check, mypy-check

refactor(container): enhance dependency injection with new service managers and configurations
  src/infrastructure/container.py
Due: pytest-check, mypy-check

refactor(dependencies): replace ClientManager with DI container for service management
  src/api/app_factory.py
  src/services/dependencies.py
  src/services/fastapi/dependencies.py
Due: pytest-check, mypy-check

refactor(tests): tests to use dependency injection for OpenAI and vector store services
  src/mcp_tools/tools/projects.py
  tests/integration/mcp/test_server_lifespan.py
  tests/unit/mcp_services/test_orchestrator_graph_runner.py
  tests/unit/mcp_services/test_orchestrator_service.py
  tests/unit/mcp_tools/conftest.py
  tests/unit/mcp_tools/models/test_responses.py
  tests/unit/mcp_tools/tools/test_agentic_rag.py
  tests/unit/mcp_tools/tools/test_hybrid_search.py
  tests/unit/mcp_tools/tools/test_lightweight_scrape.py
  tests/unit/mcp_tools/tools/test_retrieval.py
  tests/unit/services/agents/test_dynamic_tool_discovery.py
  tests/unit/services/agents/test_retrieval_helper.py
  tests/unit/services/agents/test_tool_execution_service.py
  tests/unit/services/embeddings/test_crawl4ai_bulk_embedder.py
  tests/unit/services/embeddings/test_manager.py
  tests/unit/services/embeddings/test_openai_provider.py
  tests/unit/services/vector_db/conftest.py
  tests/unit/services/vector_db/test_service.py
Due: pytest-check, mypy-check

refactor(infrastructure): replace ClientManager with ApplicationContainer for service management
  README.md
  docs/api/infrastructure.rst
  docs/api/src.infrastructure.rst
  docs/developers/agentic-orchestration.md
  docs/developers/architecture-and-orchestration.md
  docs/developers/setup-and-configuration.md
Due: update-docs

refactor(client): remove ClientManager and related type checking imports
  src/infrastructure/__init__.py
  src/infrastructure/client_manager.py
Due: pytest-check, mypy-check

refactor(tests): replace ClientManager with dependency injection in test cases
  tests/unit/architecture/test_app_factory_mode_init.py
  tests/unit/cli/commands/test_batch.py
  tests/unit/cli/conftest.py
  tests/unit/services/embeddings/test_crawl4ai_bulk_embedder.py
  tests/unit/services/vector_db/test_manage_vector_db.py
Due: pytest-check

refactor(eval): remove ClientManager and use container for vector service management
  scripts/eval/rag_compression_eval.py
Due: none

refactor(manager): remove legacy provider property and use registry directly
  src/services/embeddings/manager/__init__.py
  src/services/vector_db/service.py
Due: pytest-check, mypy-check

refactor(tests): add tests for RAG compression evaluation CLI script
  tests/scripts/test_rag_compression_eval_cli.py
  tests/unit/api/test_app_factory_profiles.py
  tests/unit/services/fastapi/test_dependencies_core.py
Due: pytest-check

refactor(architecture): replace ClientManager with ApplicationContainer in service diagram
  docs/developers/architecture-and-orchestration.md
Due: update-docs

test(integration): add integration tests for RAG compression evaluation script
  tests/integration/rag/test_rag_compression_eval_integration.py
Due: pytest-check
