Repository BjornMelin/ai-docs-vector-db-hybrid-scraper: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, mypy-check, update-docs, validate-config

pytest-check:
  name: Run pytest
  entry: uv run pytest tests/unit --tb=short --maxfail=5 -x --disable-warnings
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - commit

mypy-check:
  name: Run mypy type checking
  entry: bash -c 'if command -v mypy &> /dev/null; then uv run mypy src/; else echo "mypy not installed, skipping"; fi'
  language: system
  pass_filenames: false
  stages:
  - commit

update-docs:
  name: Update documentation
  entry: python scripts/docs_automation.py --skip-validation --build-only
  language: system
  pass_filenames: false
  stages:
  - commit

validate-config:
  name: Validate configuration
  entry: python scripts/validate_config.py
  language: system
  pass_filenames: false
  stages:
  - commit

refactor(tests): add type hints for stats_reset event listeners and clean up unused code
  tests/load/endurance_testing/test_endurance_load.py
  tests/load/load_testing/test_concurrent_users.py
  tests/load/scalability/test_scalability_load.py
  tests/load/spike_testing/test_spike_load.py
  tests/load/stress_testing/test_breaking_point.py
  tests/load/stress_testing/test_resource_exhaustion.py
Due: pytest-check

tests: remove performance measurement utilities, test configuration helpers, and test data factories
  tests/utils/__init__.py
  tests/utils/ai_testing_utilities.py
  tests/utils/assertion_helpers.py
  tests/utils/data_generators.py
  tests/utils/minimal_ai_testing.py
  tests/utils/mock_factories.py
  tests/utils/modern_ai_testing.py
  tests/utils/performance_fixtures.py
  tests/utils/performance_utils.py
  tests/utils/test_config_helpers.py
  tests/utils/test_factories.py
Due: pytest-check

test: add unit tests for GPU utilities and asynchronous Click helpers
  tests/unit/utils/test_paths.py
  tests/utils/ai_testing_utilities.py
  tests/utils/test_async_utils.py
  tests/utils/test_gpu.py
Due: pytest-check

refactor(tests): simplify report rendering in evaluation tests
  tests/unit/mcp_tools/tools/test_lightweight_scrape.py
  tests/unit/scripts/test_rag_golden_eval.py
Due: pytest-check

refactor(tests): remove empty test module files for architecture and core
  tests/unit/architecture/__init__.py
  tests/unit/cli/wizard/__init__.py
  tests/unit/core/__init__.py
Due: pytest-check

feat(FirecrawlProvider): add timeout handling and metadata support for scraping
  src/services/browser/providers/firecrawl.py
  tests/unit/services/browser/test_firecrawl_provider.py
  tests/unit/services/browser/test_router.py
Due: pytest-check, mypy-check

feat: expand chunking and retrieval configuration
  pyproject.toml
  src/chunking.py
  src/cli/commands/setup.py
  src/config/loader.py
  src/config/models.py
  src/mcp_tools/models/requests.py
  src/mcp_tools/tools/lightweight_scrape.py
  src/services/browser/providers/firecrawl.py
  src/services/vector_db/service.py
  tests/property/strategies.py
  tests/property/test_config_schemas.py
  tests/unit/infrastructure/test_pydantic_settings_patterns.py
  tests/unit/mcp_tools/test_requests.py
  tests/unit/processing/test_chunker_behavior.py
  uv.lock
Due: pytest-check, mypy-check, validate-config

refactor: migrate chunking to langchain documents
  config/templates/local-only.json
  config/templates/personal-use.json
  config/templates/production.json
  src/chunking.py
  src/config/models.py
  src/crawl4ai_bulk_embedder.py
  src/mcp_tools/tools/documents.py
  src/mcp_tools/tools/lightweight_scrape.py
  src/models/document_processing.py
  src/models/validators.py
  src/services/browser/providers/firecrawl.py
  src/services/processing/document_chunking.py
  src/unified_mcp_server.py
  tests/load/locust_load_runner.py
  tests/property/strategies.py
  tests/property/test_config_schemas.py
  tests/unit/infrastructure/test_pydantic_settings_patterns.py
  tests/unit/mcp_tools/tools/test_documents_ingest.py
  tests/unit/models/test_document_processing.py
  tests/unit/processing/test_chunker_behavior.py
  tests/unit/services/embeddings/test_crawl4ai_bulk_embedder.py
Due: pytest-check, mypy-check, validate-config

fix: restore fastembed compatibility and chunking knobs
  src/config/models.py
  src/mcp_tools/tools/documents.py
Due: pytest-check, mypy-check, validate-config

fix: update document request tests chunking strategy
  tests/unit/mcp_tools/models/test_requests.py
Due: pytest-check

feat: align chunking pipeline with latest config
  config/templates/local-only.json
  config/templates/personal-use.json
  config/templates/production.json
  pyproject.toml
  src/chunking.py
  src/cli/commands/setup.py
  src/config/loader.py
  src/config/models.py
  src/crawl4ai_bulk_embedder.py
  src/mcp_tools/models/requests.py
  src/mcp_tools/tools/documents.py
  src/mcp_tools/tools/lightweight_scrape.py
  src/models/document_processing.py
  src/models/validators.py
  src/services/browser/providers/firecrawl.py
  src/services/processing/document_chunking.py
  src/services/vector_db/service.py
  src/unified_mcp_server.py
  tests/load/locust_load_runner.py
  tests/property/strategies.py
  tests/property/test_config_schemas.py
  tests/unit/infrastructure/test_pydantic_settings_patterns.py
  tests/unit/mcp_tools/test_requests.py
  tests/unit/mcp_tools/tools/test_documents_ingest.py
  tests/unit/models/test_document_processing.py
  tests/unit/processing/test_chunker_behavior.py
  tests/unit/services/embeddings/test_crawl4ai_bulk_embedder.py
  tests/unit/services/embeddings/test_manager.py
  tests/unit/services/embeddings/test_manager_benchmarks.py
  tests/unit/services/rag/test_langgraph_pipeline.py
  tests/unit/services/rag/test_retriever.py
  tests/unit/services/vector_db/test_service_grouping.py
  uv.lock
Due: pytest-check, mypy-check, validate-config

refactor: replace custom chunker with langchain documents
  config/templates/personal-use.json
  src/chunking.py
  src/crawl4ai_bulk_embedder.py
  src/mcp_tools/tools/documents.py
  src/models/document_processing.py
  src/models/validators.py
  src/services/vector_db/document_splitter.py
  src/unified_mcp_server.py
  tests/unit/mcp_tools/models/test_requests.py
  tests/unit/mcp_tools/tools/test_documents_ingest.py
  tests/unit/models/test_document_processing.py
  tests/unit/models/test_model_validators.py
  tests/unit/processing/test_chunker_behavior.py
  tests/unit/processing/test_document_splitter.py
  tests/unit/services/embeddings/test_crawl4ai_bulk_embedder.py
Due: pytest-check, mypy-check

feat(deps): regenerate full uv.lock file
  uv.lock
Due: none

fix(deps): update pylint version to 4.1.0 in dev dependencies
  pyproject.toml
  uv.lock
Due: validate-config

fix: align document processing exports
  src/models/document_processing.py
Due: pytest-check, mypy-check

refactor: remove legacy document processing models
  src/models/document_processing.py
  tests/unit/models/test_document_processing.py
Due: pytest-check, mypy-check

refactor: remove legacy fastembed model alias
  config/templates/development.json
  config/templates/local-only.json
  config/templates/testing.json
  scripts/eval/rag_compression_eval.py
  src/config/models.py
  src/models/document_processing.py
  src/services/embeddings/manager/pipeline.py
  src/services/embeddings/manager/providers.py
  src/services/rag/langgraph_pipeline.py
  src/services/rag/retriever.py
  tests/unit/models/test_document_processing.py
  tests/unit/services/embeddings/test_crawl4ai_bulk_embedder.py
  tests/unit/services/embeddings/test_manager.py
  tests/unit/services/embeddings/test_manager_benchmarks.py
  tests/unit/services/rag/test_langgraph_pipeline.py
  tests/unit/services/rag/test_retriever.py
  tests/unit/services/vector_db/conftest.py
  tests/unit/services/vector_db/test_service_grouping.py
Due: pytest-check, mypy-check, validate-config

chore(deps): update and add missing deps
  pyproject.toml
  uv.lock
Due: validate-config

feat: overhaul document chunking pipeline
  src/crawl4ai_bulk_embedder.py
  src/mcp_tools/tools/documents.py
  src/services/document_chunking.py
  src/services/vector_db/document_splitter.py
  tests/unit/mcp_tools/tools/test_documents_ingest.py
  tests/unit/processing/test_document_splitter.py
  tests/unit/services/embeddings/test_crawl4ai_bulk_embedder.py
  tests/unit/services/test_document_chunking.py
Due: pytest-check, mypy-check

fix: allow raw html fallbacks during chunking
  src/crawl4ai_bulk_embedder.py
  src/mcp_tools/tools/documents.py
Due: pytest-check, mypy-check

feat: add dependency modernization execution plan for legacy integration refactor
  docs/plans/dependency-upgrade-plan.md
Due: update-docs

refactor: tests for OpenAI and HyDE services
  docs/api/src.infrastructure.clients.rst
  src/infrastructure/clients/__init__.py
  src/infrastructure/clients/openai_client.py
  src/services/embeddings/manager/__init__.py
  src/services/embeddings/manager/providers.py
  src/services/embeddings/openai_provider.py
  src/services/hyde/engine.py
  src/services/hyde/generator.py
  src/services/observability/health_manager.py
  tests/fixtures/mock_factories.py
  tests/test_infrastructure.py
  tests/unit/services/embeddings/test_manager.py
  tests/unit/services/embeddings/test_openai_provider.py
  tests/unit/services/hyde/test_engine.py
  tests/unit/services/hyde/test_generator.py
Due: pytest-check, mypy-check, update-docs

test: move third-party stubs under tests
  src/infrastructure/container.py
  src/services/vector_db/service.py
  tests/conftest.py
  tests/stubs/__init__.py
  tests/stubs/firecrawl/__init__.py
  tests/stubs/langchain_mcp_adapters/__init__.py
  tests/stubs/langchain_mcp_adapters/client.py
  tests/stubs/langchain_mcp_adapters/sessions.py
  tests/unit/services/vector_db/conftest.py
  tests/unit/services/vector_db/test_service.py
  tests/unit/services/vector_db/test_service_grouping.py
Due: pytest-check, mypy-check

Refactor code structure for improved readability and maintainability
  docs/testing/evaluation-harness.md
  pyproject.toml
  scripts/dev.py
  scripts/eval/rag_golden_eval.py
  src/cli/unified.py
  src/infrastructure/container.py
  uv.lock
Due: pytest-check, mypy-check, update-docs, validate-config

refactor: remove unused OpenAI client creation and related dependencies
  scripts/eval/rag_golden_eval.py
  src/infrastructure/container.py
Due: pytest-check, mypy-check

feat: add validation harness and GitHub Actions pipeline for CPU/GPU testing
  CHANGELOG.md
Due: none

fix(dependencies): update OpenAI, numpy, and scipy versions for compatibility refactor: simplify click dependency specification
  pyproject.toml
  uv.lock
Due: validate-config

feat(validation): add CPU and GPU validation harnesses with CI integration
  .github/workflows/validation.yml
  docs/testing/validation.md
  scripts/validation/__init__.py
  scripts/validation/cpu_validation.py
  scripts/validation/gpu_validation.py
Due: update-docs

fix(openai_provider): add missing line breaks and pylint disable comments
  src/services/embeddings/openai_provider.py
Due: pytest-check, mypy-check

fix: ensure sparse vector collections for hybrid mode
  src/services/vector_db/service.py
  tests/unit/services/vector_db/conftest.py
  tests/unit/services/vector_db/test_service.py
Due: pytest-check, mypy-check

feat(dependencies): implement singleton pattern for cache and embedding managers with test fixtures
  docs/plans/dependency-upgrade-plan.md
  src/services/dependencies.py
  tests/integration/mcp/test_server_lifespan.py
  tests/unit/models/test_api_contracts.py
  tests/unit/services/fastapi/test_dependencies_core.py
Due: pytest-check, mypy-check, update-docs

fix(validators): update rate limit config validation to accept Any type feat(tests): enhance unit tests for SearchRequest with additional validation cases
  .gitignore
  src/models/validators.py
  tests/unit/models/test_search_request.py
Due: pytest-check, mypy-check

feat(tests): add unit tests for vector search request validation
  tests/unit/mcp_tools/__init__.py
  tests/unit/mcp_tools/tools/test_agentic_rag.py
  tests/unit/models/test_model_validators.py
  tests/unit/models/test_vector_search.py
Due: pytest-check

fix(tests): update configure_engine fixture type hint for better clarity
  tests/unit/infrastructure/database/test_connection_manager.py
Due: pytest-check

refactor(tests): simplify dependency mocking in DocumentService and SearchService tests
  tests/unit/mcp_services/test_document_service.py
  tests/unit/mcp_services/test_search_service.py
Due: pytest-check

feat(tests): enhance build_unified_mcp_config fixture with embedding and crawl provider options
  tests/unit/conftest.py
Due: pytest-check

refactor(tests): update orchestrator fixture and enhance unit tests for workflow orchestration
  tests/unit/mcp_services/test_orchestrator_service.py
Due: pytest-check

test: add normalization and builder coverage
  docs/api/services.vector_db.rst
  docs/api/src.services.crawling.rst
  docs/api/src.services.rst
  docs/api/src.services.vector_db.rst
  docs/developers/api-and-contracts.md
  docs/index.md
  docs/users/quick-start.md
  pytest.ini
  src/crawl4ai_bulk_embedder.py
  src/mcp_tools/tools/documents.py
  src/services/crawling/__init__.py
  src/services/crawling/normalization.py
  src/services/vector_db/document_builder.py
  tests/conftest.py
  tests/unit/mcp_tools/tools/test_documents_ingest.py
  tests/unit/services/crawling/__init__.py
  tests/unit/services/crawling/test_normalization.py
  tests/unit/services/embeddings/test_crawl4ai_bulk_embedder.py
  tests/unit/services/vector_db_document_builder/__init__.py
  tests/unit/services/vector_db_document_builder/test_document_builder.py
Due: pytest-check, mypy-check, update-docs

Path conditions:
  pytest-check: any of: ^(src/|tests/)
  mypy-check: any of: ^src/.*\.py$
  update-docs: any of: ^(docs/|README\.md|mkdocs\.yml)
  validate-config: any of: ^(\.env.*|pyproject\.toml|src/config/)
